@import "../BaseStyle/variables";
//$bg_color: #3f6e44;
$bg_color: #00796b;

@font-face {
  font-family: "Podkova-Regular";
  src: url("../../manual_fonts/Podkova-Regular.woff2") format("woff2"), /* Modern Browsers */
       url("../../manual_fonts/Podkova-Regular.woff") format("woff"), /* Modern Browsers */
       url("../../manual_fonts/Podkova-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YanoneKaffeesatz-Regular";

  src: url("../../manual_fonts/YanoneKaffeesatz-Regular.woff2") format("woff2"), /* Modern Browsers */
       url("../../manual_fonts/YanoneKaffeesatz-Regular.woff") format("woff"), /* Modern Browsers */
       url("../../manual_fonts/YanoneKaffeesatz-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

nav {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  //background: $bg_color;
  color: white;
}


body, html {
    height: 100%;
}

#content {
  height: 100vh;
}

/* ---- particles.js container ---- */
/* depricated */

//#particles-div {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  background-color: $bg_color;
//  //background-image: url("");
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: 50% 50%;
//  z-index: -999;
//}
//
//canvas {
//  display: block;
//  vertical-align: bottom;
//  z-index: -998;
//}

/* The page */
.big-img {
  // For image
  display:flex;
  flex-direction: column;
  min-height: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //position: relative; // Caused problems with mobile sidenav (sidenav overlay was above sidenav)
  z-index: 100;
  /* Set image according to orientation and size */
  @media screen and (orientation:landscape) and (min-width: $break-large) {
   background-image: var(--data-bg2xland);
  }
  @media screen and (orientation:landscape) and (max-width: $break-large) {
   background-image: var(--data-bg1xland);
  }
  @media screen and (orientation:portrait) and (min-width: $break-medium){
   background-image: var(--data-bg2xport);
  }
  @media screen and (orientation:portrait) and (max-width: $break-medium){
   background-image: var(--data-bg1xport);
  }
}

.middle-wrapper {
  flex-grow: 1;
  color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title{
  /*parent flex*/
  flex-grow: 1;

  /*Internal flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title h1 {
  text-align: center;
  font-family: 'YanoneKaffeesatz-Regular', sans-serif;
  margin: 0;
  font-size: 3.5rem;
  //padding-left: 1rem;
  //padding-right: 1rem;
  //border-radius: 0.5rem;
  //background-color: rgba(0,0,0, 0.3);
  //-webkit-box-shadow:  0 0 3px 3px rgba(0,0,0,0.3);
  //box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
  text-shadow:  1px 1px 2px black, 0 0 1em darken($bg_color, 10);
}

.typewriter {
  /*parent flex*/
  flex-grow: 2;

  /*Internal flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  /*Text*/
  font-family: 'Podkova-Regular', serif;
  font-size: xx-large;
  text-align: center;
  text-shadow: 0 0 1px darken($bg_color, 15);
}

.search {
  flex-grow: 2
}


/*Search input styling*/
#main-part input {
  all: unset;
  text-align: center;
  border:2px solid rgba(255,255,255,.5);
  font-size:1.75rem;
  padding:.25rem .5rem .3125rem;
  color:rgba(255,255,255,.5);
  border-radius:2rem;
  //background:transparent;
  background: rgba(0, 0, 0, 0.5);
  //background: $bg_color;
  transition:all .100s;
  &::placeholder {
    color:rgba(255,255,255,.8);
  }
}

#main-part input:focus{
  outline:none;
  color:rgba(255,255,255,.8);
  border-color:rgba(255,255,255,.8);
}

input::-webkit-input-placeholder {
   text-align: center;
}

input::-moz-placeholder {
   text-align: center;
}

.page-footer {
  background: dimgray;
}