{% extends "base_templates/base_generic.html" %}

{% block title %}Добавление вернакулярного названия{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/vernacular_form.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="full-heigh-row" class="row valign-wrapper">
        <div class="col s12 m1 l2"></div>
            {# Form column #}
            <div class="col s12 m10 l8">
                <form id="add_vern_form" action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ tu_obj.id }}" name="tu_id">
                    <div class="card z-depth-3">
                        {# Form title #}
                        <div id="form_title" class="valign-wrapper card-content text">
                            <span class="card-title">Внесение нового вернакулярного названия</span>
                        </div>
                        {# Form subtitle #}
                        <div class="card-content">
                            <div id="card-subtitle" class="center">
                                <h6>
                                    Ранее для {{ tu_obj.html_str|safe }} были внесены следующие названия:
                                </h6>
                            </div>
                            <div class="flex-row-center">
                                {% for vern in prev_vernaculars %}
                                    <div class="vern-item">
                                        {{ vern.html_str|safe }}
                                    </div>
                                {% endfor %}
                            </div>
                            {# Errors #}
                            <div class="form-error">
                                {{ vern_form.non_field_errors }}
                            </div>
                        </div>

                        <div class="v-1-spacer"></div>
                        {# Form fields #}
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m6 l6">
                                    <!-- Vernacular name -->
                                    {% with field=vern_form.tu_vernacular %}
                                    {% with label='Название' %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                                <div class="col s12 m6 l6">
                                    <!-- Vernacular name -->
                                    {% with field=vern_form.tu_vern_lan %}
                                    {% with label='Язык' %}
                                        {% include "forms_parts/materialize_select.html" %}
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        {# Buttons #}
                        <div class="divider-margin"></div>

                        <div class="row form-row">
                            <div class="col s12 m12 l12 center-align">
                                <div id="action-button">
                                    <button class="primaryAction waves-effect waves-light btn" form="add_vern_form" type="submit" name="action">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col s12 m1 l2"></div>
    </div>
{% endblock %}


{% block tail_import %}
    <script src="{% static "collection/js_bundles/vernacular_form.min.js" %}"></script>
{% endblock %}