{% extends "base_templates/base_generic.html" %}

{% block title %}Добавление вернакулярного названия{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/vernacular_form.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="full-heigh-row" class="row">
        <div class="col s12 m1 l2"></div>
            {# Form column #}
            <div class="col s12 m10 l8">
                <form id="add_vern_form" action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ tu_obj.id }}" name="tu_id">
                    <div class="card z-depth-3">
                        {# Form title #}
                        <div id="form_title" class="valign-wrapper card-content text">
                            <span class="card-title">Редактирование вернакулярных названий</span>
                        </div>
                        {# Form subtitle #}
                        <div class="card-content">
                            <div id="card-subtitle" class="center">
                                <h6>
                                    Таксон: {{ tu_obj.html_str|safe }}
                                </h6>
                            </div>

                            {# Errors #}
                            <div class="form-error center">
                                {{ vern_forms.non_form_errors }}
                            </div>
                        </div>
                        <div class="v-1-spacer"></div>
                        {# Loop over each form in formset #}
                        {{ vern_forms.management_form }}
                        {% for vern_form in vern_forms %}
                        {# Form fields #}
                            {# Add vern_id field #}
                            <input type="hidden" value="{{ vern_form.vern_id.value }}" name="{{ vern_form.vern_id.html_name }}">
                            <div class="card-content {% if vern_form.DELETE.value %}deleted{% endif %}">
                                <div class="del-message p-demargin">
                                    {% if vern_form.DELETE.value %}
                                        <p>Будет удалено после сохранения</p>
                                    {% endif %}
                                </div>
                                <div class="form-error">
                                    {{ vern_form.non_field_errors }}
                                </div>
                                <div class="row equal-col">
                                    <div class="col s12 m5 l5">
                                        <!-- Vernacular name -->
                                        {% with field=vern_form.tu_vernacular %}
                                        {% with label='Название' %}
                                            {% include "forms_parts/materialize_text.html" %}
                                        {% endwith %}
                                        {% endwith %}
                                    </div>
                                    <div class="col s12 m5 l5">
                                        <!-- Vernacular name -->
                                        {% with field=vern_form.tu_vern_lan %}
                                        {% with label='Язык' %}
                                            {% include "forms_parts/materialize_select.html" %}
                                        {% endwith %}
                                        {% endwith %}
                                    </div>
                                    <div class="vern-dell-col col s12 m2 l2">
                                        <div class="vern-dell-btn">
                                            <a class="del-btn btn-floating edit-button-inline tooltipped"
                                               data-position="left" data-tooltip="Назначить удаление"
                                               data="{{ forloop.counter0 }}">
                                                <i class="material-icons">close</i>
                                            </a>
                                            {# Add hidden input for deletion #}
                                            <input type="hidden" value="{{ vern_form.DELETE.value|yesno:"on,," }}" name="{{ vern_form.DELETE.html_name }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Buttons #}
                            <div class="divider-margin"></div>
                        {% endfor %}

                        <div class="row form-row">
                            <div class="col s12 m12 l12 center-align">
                                <div id="action-button">
                                    <button class="primaryAction waves-effect waves-light btn" form="add_vern_form" type="submit" name="action">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col s12 m1 l2"></div>
    </div>
{% endblock %}


{% block tail_import %}
    <script src="{% static "collection/js_bundles/vernacular_form.min.js" %}"></script>
{% endblock %}