#table-wrapper {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

#hs-table {
  height: 100%;
}

// Set material icon font size to 23px (prevent misalignment between row headers and rows)
a .material-icons{
  font-size: 21px;
}

.list-title {
  font-size: large;
  font-weight: 400;
}

.list-value {
  font-size: large;
  font-weight: 300;
}

// Prevent materialize from styling checkboxes
.htCheckboxRendererLabel .htCheckboxRendererInput {
  position: relative;
  opacity: 1;
}