{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}
    <div class="v-3-spacer"></div>

    <div class="row">
        <div class="col s12 m1 l2"></div>
        <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            {% if confirmation %}
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    <div id="form_title" class="valign-wrapper card-content text">
                        <span class="card-title">{% trans "Confirm E-mail Address" %}</span>
                    </div>

                    <div class="v-3-spacer"></div>
                    <div class="card-content center">
                        {% csrf_token %}
                        {% user_display confirmation.email_address.user as user_display %}
                        <h6>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</h6>
                    </div>
                    <div class="v-3-spacer"></div>
                    <div class="card-action center"><input class="btn" type="submit" name="action" value="{% trans 'Confirm' %}"/></div>
                </form>
            {% else %}
                <div id="form_title" class="valign-wrapper card-content text">
                    <span class="card-title">Ссылка неверна</span>
                </div>
                <div class="v-3-spacer"></div>
                <div class="card-content center">
                    {% url 'account_email' as email_url %}
                    <h6>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</h6>
                </div>
                <div class="v-3-spacer"></div>
            {% endif %}
        </div>
        </div>
    </div>
{% endblock %}