{% extends "base_templates/base_generic.html" %}

{% block title %}Вход в систему{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}
    <div class="padding-05rem"></div>

    <div class="row">
    <div class="col s12 m3 l4"></div>
    <div class="col s12 m6 l4">
    <div class="card z-depth-3">
        <div id="form_title" class="valign-wrapper card-content text">
            <span class="card-title">Вход в аккаунт</span>
        </div>

        <div class="card-content">
            <br>
            <div id="card-subtitle" class="center">
                <p>Если у Вас еще нет аккаунта, пожалуйста <a href="{{ signup_url }}">зарегестрируйтесь</a></p>
            </div>
        </div>

        <!-- Form div -->
        <div class="card-content">
            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
                <!-- Form errors -->
                <div class="error center">{{ form.non_field_errors }}</div>

                <!-- actual form -->
                <div class="row">
                    <div class="col s12">
                        {% with field=form.login prefix="account_circle"%}
                        {% with label="Логин или E-mail" %}
                            {% include "forms_parts/materialize_text.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        {% with field=form.password prefix="lock_open"%}
                            {% include "forms_parts/materialize_password.html" %}
                        {% endwith %}
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                    </div>
                </div>

                <div class="row center-align">
                    <div class="col s12">
                        {% with field=form.remember class="filled-in" %}
                            {% include "forms_parts/materialize_checkbox.html" %}
                        {% endwith %}
                    </div>
                </div>

                <div class="row">
                    <div class="divider"></div>
                    <br>
                    <div class="col s12 center">
                        <!-- Redirect handling -->
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <!-- Submit button -->
                        <div id="action-button">
                        <button class="primaryAction waves-effect waves-light btn" type="submit">
                            <i class="material-icons left">send</i>Войти
                        </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <div class="col s12 m3 l4"></div>
    </div>
    </div>
{% endblock %}