{% extends "base_templates/base_generic.html" %}
{% load i18n %}

{% block title %}Регистрация{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}
    <div class="padding-05rem"></div>

    <div class="row">
        <div class="col s12 m1 l2"></div>
        <div class="col s12 m10 l8">
        <div class="card z-depth-3">
        <form method="post" action="{% url 'account_logout' %}">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Выход из системы</span>
            </div>

            <div class="v-3-spacer"></div>
            <div class="card-content center">
                <h6>Вы уверенны, что хотите выйти?</h6>
            </div>
            <div class="v-2-spacer"></div>
            <div class="card-content center">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
            </div>
            <div class="card-action center"><input class="btn" type="submit" name="action" value="{% trans 'Sign Out' %}"/></div>
        </form>
        </div>
        </div>
    </div>
{% endblock %}