{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Пароль сброшен{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>
    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">{% trans "Password Reset" %}</span>
            </div>

            <div class="card-content center">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="padding-2rem">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </form>
        </div>
    </div>
    </div>

{% endblock %}

