{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Изменение пароля{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>
    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">{% trans "Change Password" %}</span>
            </div>
            <div class="card-content center">
                <p class="padding-2rem">{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
