{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Сброс пароля{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>
    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">{% trans "Password Reset" %}</span>
            </div>

            {% if user.is_authenticated %}
                <div class="v-1-spacer"></div>
                <div class="card-content center">
                {% include "account/snippets/already_logged_in.html" %}
                </div>
                <div class="divider-margin"></div>
            {% endif %}

            <div class="v-1-spacer"></div>
            <div class="card-content center">
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    {% csrf_token %}
                    {% with field=form.email %}
                        {% include "forms_parts/materialize_text.html" %}
                    {% endwith %}
            </div>
            <div class="card-action center"><input class="btn" type="submit" value="{% trans 'Reset My Password' %}" /></div>
        </form>
        </div>
    </div>
    </div>

    <script>
        // Activate input
        document.addEventListener('DOMContentLoaded', function() {
            M.updateTextFields();
        });
    </script>
{% endblock %}
