{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Смена пароля{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>

    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            <form method="POST" action="{{ action_url }}">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                </span>
            </div>
            <div class="v-3-spacer"></div>
            <div class="card-content center">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col s12 m12 l6">
                                    {% with field=form.password1 prefix='lock' %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                </div>
                                <div class="col s12 m12 l6">
                                    {% with field=form.password2 prefix='lock' %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                </div>
                            </div>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-action center"><input class="btn" type="submit" name="action" value="{% trans 'change password' %}"/></div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}

