{% extends "base_templates/base_generic.html" %}

{% block title %}Регистрация{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
{# Navbar #}
{% with fixed=True %}
{% include "base_templates/navbar.html" %}
{% endwith %}
<div class="padding-05rem"></div>


<div class="row">
<div class="col s12 m1 l2"></div>
<div class="col s12 m10 l8">
<div class="card z-depth-3">
    <div id="form_title" class="valign-wrapper card-content text">
        <span class="card-title">Регистрация</span>
    </div>
    {# Messages #}
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="card-content">
        <br>
        <div id="card-subtitle" class="center">
            <p>Уже зарегистрированы? Пожалуйста войдите под своим именем <a href="{{ login_url }}">войти</a>.</p>
        </div>
    </div>

    <div class="card-content">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <!-- Form errors -->
        <div class="error center">{{ form.non_field_errors }}</div>
        <!-- actual form -->
        <div class="row">
            <!-- User Name -->
            <div class="col s12 m12 l6">
                {% with field=form.username prefix="account_circle"%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
            </div>
            <!-- email -->
            <div class="col s12 m12 l6">
                {% with field=form.email prefix="email"%}
                    {% include "forms_parts/materialize_email.html" %}
                {% endwith %}
            </div>
            <!-- Password and confirm -->
            <div class="col s12 m12 l6">
                {% with field=form.password1 prefix="lock_open"%}
                    {% include "forms_parts/materialize_password.html" %}
                {% endwith %}
            </div>
            <div class="col s12 m12 l6">
                {% with field=form.password2 prefix="lock_open"%}
                    {% include "forms_parts/materialize_password.html" %}
                {% endwith %}
            </div>
        </div>

        <span class="card-title center"><small>Контактные данные</small></span>
        <div class="divider"></div>

        <div class="row">
            <!-- User Name -->
            <div class="col s12 m12 l6 xl4">
                {% with field=form.first_name prefix="account_circle"%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
            </div>
            <!-- User Second name -->
            <div class="col s12 m12 l6 xl4">
                {% with field=form.second_name prefix="account_circle"%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
            </div>
            <!-- User last name -->
            <div class="col s12 m12 l6 xl4">
                {% with field=form.last_name prefix="account_circle"%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
            </div>

        </div>


        <!-- is staff -->

        <div class="row center">
            <div class="col s12 m12 l12">
                {% with field=form.is_dbg_staff class="filled-in" %}
                    {% include "forms_parts/materialize_checkbox.html" %}
                {% endwith %}
            </div>
        </div>
        <!-- Is staff hidden container -->
        <div
                id="is-staff-wrapper" class="row" {% if not form.is_dbg_staff.data%}hidden=""{% endif %}
        >
            <span class="card-title center"><small>Данные сотрудников ДБС</small></span>
            <div class="divider"></div>
            <br>
            <div class="col s12 m12 l6">
                {% with field=form.department_id placeholder="Выберите подразделение"%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <div class="col s12 m12 l6">
                {% with field=form.role%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
            </div>

            <div class="col s12 m12 l6">
                {% with field=form.acad_degree placeholder="Выберите ученую степень "%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <div class="col s12 m12 l6">
                {% with field=form.acad_title placeholder="Выберите ученое звание "%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="row">
            <div class="divider"></div>
            <br>
            <div class="col-s12 center">
                <!-- Redirect handling -->
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!-- Submit button -->
                <div id="action-button">
                <button class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons left">send</i>Отправить
                </button>
                </div>
            </div>
        </div>

    </form>
    </div>
</div>
<div class="col s12 m1 l2"></div>
</div>
</div>

{% endblock %}
{% block tail_import %}
    <script src="{% static "users_and_organization/js_bundles/sign_up.min.js" %}"></script>
{% endblock %}