{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Подверждение e-mail{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>
    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Подтвердите Ваш E-mail адрес</span>
            </div>
            <div class="card-content center">
                <div class="padding-2rem">
                    <h6>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</h6>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
