@page {
  size: 101mm 25mm;
  margin: 0 0 0 0;
  background-color: white;
  color: white;
}

body {
  height: 25mm;
  width: 100mm;
  //border: 1px solid black;
  margin: 0;
  padding: 0 0 0 0;
}

#wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
}

#qr-code {
  height: 24mm;
  width: 24mm;
  margin: 0;
  padding: 0.5mm 0 0.5mm 1mm;
  img {
    height: 24mm;
    width: 24mm;
  }
}

#text-col {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 75mm;
  align-items: center;
  align-content: center;
  justify-content: center;
  p {
    width: 75mm;
    font-size: 0.7em;
    text-align: center;
    margin: 0.1rem;
    padding: 0.1rem;
  }
  #name {
    font-size: var(--name-size);
  }
}
