@page {
    size: 148mm 104mm;
    margin: 4mm 4mm 4mm 4mm;
    background-color: white;
    color: white;
}

html { background: white };

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 139mm;
    height: 95mm;
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    border: solid 1px black;
    border-radius: 0.75rem;
}

*{
    margin: 0;
    padding: 0;
}

/* Base style ========================================================================================================*/


.base--wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 139mm;
    justify-content: space-between;
}

.base--body {
    display: flex;
    flex-direction: column;
    height: 60mm;
    justify-content: space-around;
    //margin-bottom: 1rem;
}

.base--ru-name {
    text-align: center;
    h1 {
        padding-top: 1rem;
        padding-bottom: 0.2rem;
    }
}

.base--ru-name-long {
   h1 {
       padding-top: 0.1rem;
       padding-bottom: 0.1rem;
       font-size: x-large;
    }
}

.base--row {
    display: flex;
    flex-direction: row;
}

.base--row-center{
    div {
        text-align: center;
    }
    padding-bottom: 1rem;
}

.base--col-left {
    text-align: right;
    width: 60mm;
    padding-right: 1rem;
}

.base--col-right {
    width: 80mm;
    text-align: left;
    padding-left: 1rem;
}

.base--footer {
    margin: 0;
    padding-bottom: 0;
    width: 140mm;
    height: auto;
    display: flex;
    flex-direction: row;

    //border: solid 1px white;
}

.base--qr-code {
    display: flex;
    justify-content: center;
    height: 30mm;
    margin: 0;
    padding: 0;
    //border: solid 1px white;
    flex-grow: 1;
}

.base--logo {
    display: flex;
    justify-content: center;
    height: 30mm;
    margin: 0;
    padding: 0;
    //border: solid 1px white;
    flex-grow: 1;
}

.base--logo--img {
    height: 30mm;
    width: auto;
}

.base--qr-code--img {
    height: 30mm;
    width: auto;
}

.base--ind-id {
    height: 30mm;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    p {
        font-size: x-small;
    }
}