//=require ../../../node_modules/normalize.css/normalize.css
@import "variables";
@import "materialize-css/sass/materialize";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../../fonts/MaterialIcons-Regular.ttf) format('ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// ==============================================================================================
// Form elements styling
// ==============================================================================================
/* Validation Sass Placeholders */
%valid-input-style {
  border-bottom: 1px solid $input-success-color;
  box-shadow: 0 1px 0 0 $input-success-color;
}
%invalid-input-style {
  border-bottom: $input-invalid-border;
  box-shadow: 0 1px 0 0 $input-error-color;
}
%custom-success-message {
  content: attr(data-success);
  color: $input-success-color;
  opacity: 1;
}
%custom-error-message {
  content: attr(data-error);
  color: $input-error-color;
  opacity: 1;
}
%input-after-style {
  display: block;
  content: "";
  position: absolute;
  top: 4em;
  left: 0;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}

.select-wrapper {
  &.valid {
    & > input.select-dropdown {
      @extend %valid-input-style;
    }

    & + label:after {
      @extend %custom-success-message;
    }
  }

  &.invalid {
    & > input.select-dropdown {
      @extend %invalid-input-style;
    }

    & + label:after {
      @extend %custom-error-message;
    }
  }

  &.valid + label,
  &.invalid + label {
    width: 100%;
    pointer-events: none;
  }

  & + label:after {
    @extend %input-after-style;
  }
}

.form-error {
  color: red;
}

// ==============================================================================================
// Main and footer
// ==============================================================================================
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 max-content;
  min-height: 100vh;
}

#content {
  //height: 100vh;
  min-height: 540px;
  position: relative;
}


// ==============================================================================================
// Navbar styling
// ==============================================================================================
// Navbar show hide on scroll (from https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp)
#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1001;
}

#logo {
  height: 62px;
  @media screen and (max-width: $break-medium) {
      height: 54px;
    }
}

#mobile-sidenav {
  z-index: 1002;
  a {
    color: inherit;
    text-decoration: none;
    flex-grow: 1;
  }
  //background-color: #29432a;
  //a {
  //  color: rgba(255,255,255,.8);
  //}
}

.user-name:before {
  content:attr(data-namecap);
  display:inline-block;
  font-size:1.3rem;
  font-weight: normal;
  width:2.5rem;
  height:2.5rem;
  line-height:2.5rem;
  text-align:center;
  border-radius:50%;
  background:#8fc1a9;
  vertical-align:middle;
  margin-right:0.5rem;
  color:white;
  }

// ==============================================================================================
// Tweak materialize components
// ==============================================================================================

// Remove huge card paddings on smaller screens
.card .card-content {
  @media (max-width: $break-medium) {
    padding-right: 8px;
    padding-left: 8px;
  }
  @media (min-width: $break-medium) and (max-width: $break-large){
    padding-right: 12px;
    padding-left: 12px;
  }
}

// Prevent dropdonws text overlap
.select-wrapper ul li span {
  display: inline-flex;
}

// ==============================================================================================
// Common patterns
// ==============================================================================================
.invisible {
  display: none;
}

.p-demargin{
  > p {
    margin: 0;
  }
}

.v-1-spacer{
  height: 1rem;
}

.v-2-spacer{
  height: 2rem;
}

.v-3-spacer{
  height: 3rem;
}

.padding-025rem {
  padding: 0.25rem;
}

.padding-05rem {
  padding: 0.5rem;
}

.padding-1rem {
  padding: 1rem;
}

.padding-2rem {
  padding: 2rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.padding-left-2rem {
  padding-left: 2rem;
}

.padding-side {
  &-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-2rem{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.padding-bottom {
  &-1rem{
    padding-bottom: 1rem;
  }
  &-2rem{
    padding-bottom: 2rem;
  }
}

.scr-sm-padding-bottom {
  @media screen and (max-width: $break-medium) {
    padding-bottom: 1rem;
  }
}

.divider-margin {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-row-space-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-row-resp-space-around {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  @media screen and (max-width: $break-medium) {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
  }
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
  &-resp {
    flex-grow: 1;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }
}

.flex-grow-2 {
  flex-grow: 2;
  &-resp {
    flex-grow: 2;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }
}

.text-medium {
  font-size: medium;
}

// ==============================================================================================
// Common elements
// ==============================================================================================
.simple-card {
  @extend .z-depth-1;
  padding: 5px;
  &-header {
    h1 {
      padding: 0;
      font-size: x-large;
      margin: 0.75rem;
    }
    p {
      padding-bottom: 0.75rem;
      margin: 0;
      font-size: large;
      font-weight: 300;
    }
  }
}

// ==============================================================================================
// Text colors
// ==============================================================================================
.text-col-secondary {
  color: $secondary-color;
}

.text-col-primary {
  color: $primary-color;
}

.text-col-true{
    color: lighten($secondary-color, 50%);
}

.text-col-false{
  color: lighten(red, 40%);
}

.text-col-none{
  color: lighten(#FF9900, 30%)
}