/* Variables */
$secondary-color: #2a6041;
$secondary-color-light: lighten($secondary-color, 50%);
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$input-border-color: darken(gray, 15%);
$primary-color: #00796b;
$primary-color-dark: darken($primary-color, 10%);

$break-medium: 600px;
$break-large: 992px;
$break-xlarge: 1200px;
$breakpoints: (phone: 600px,
               tablet: 992px,
               desktop: 1200px) !default;

$tag-tu-color: lighten(rgba(119, 215, 108, 0.6), 10%);
$tag-syn-color: lighten(rgba(216, 129, 255, 0.51), 10%);
$tag-vern-color: lighten(rgba(255, 212, 100, 0.6), 10%);