.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

$secondary-color: #2a6041;
$break-medium: 600px;
$break-large: 992px;
$break-xlarge: 1200px;
$breakpoints: (phone: 600px,
               tablet: 992px,
               desktop: 1200px) !default;

.cat-info{
  border-left: #5a5a5a 2px solid;
  //@media (min-width: $break-medium) {
  //
  //}
}

.large-text{
  font-size: medium;
}

.large-text-bold{
  font-size: large;
  font-weight: bolder;
  color: #5a5a5a;
}

.text-main{
  font-size: x-large;
  color: darken($secondary-color, 10);
}

.flex-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  .divider{
    flex: 1 1 auto;
    background-color: $secondary-color;
  }
  div{
    p{
      padding-right: 20px;
      color: $secondary-color;
      font-weight: bold;
    }
  }
}

#map, #location-map {
  @media (max-width: $break-medium) {
    height: 70vh;
  }
  @media (min-width: $break-medium) and (max-width: $break-large) {
    height: 65vh;
  }
  @media (min-width: $break-large) {
    height: 50vh;
  }
}

.map {
  width: 100%;
  height: 50vh;
  margin: auto;
}

.map-graticule {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: .5px;
  stroke-opacity: .9;
}

.map-stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.map-fill {
  fill: rgba(76, 147, 255, 0.09);
}

.map-country {
  fill: darken($secondary-color, 5);
  stroke: grey;
}

.map-circle {

}

// Labels examples
#print-mod-head {
  font-size: xx-large;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

.label-type {
  background-color: #f5f5f5;
  border-radius: 1rem;
  border: 1px solid gainsboro;
  padding: 1rem;
  &:hover {
    filter: brightness(75%);
  }
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 250px;
    width: auto;
    max-width: 100%;
    margin: auto;
  }
}