<div class="modal-content">
    <h5 class="center">
        Предложенное Вами название таксона отсутствует в базе данных COL
    </h5>
    <br>
    <div class="center">
        <div style="display: inline-block; text-align: left;">
        <h5>
            Вносимя ТУ:&emsp; {% comment %}&emsp; is tabulation{% endcomment %}
            <i>{{ form_data.tu_genera|title }}</i>
            <i>{{ form_data.tu_species }}</i>
            {% if form_data.tu_infra_mark %}
                    {{ form_data.tu_infra_mark }}
            {% endif %}
            {% if form_data.tu_infra_name %}
                <i>{{ form_data.tu_infra_name }}</i>
            {% endif %}
                {{ form_data.tu_author_name }}
            {% if form_data.tu_cult_name %}'{{ form_data.tu_cult_name }}'{% endif %}
        </h5>
        </div>
    </div>
    <br>

    <p class="center">Обычно это вялется следствием ошибок в названии таксона</p>
    <br>

    <details>
        <summary>Пояснения</summary>
        <h6 class="center">
            Для поиска похожих названий (вариантов исправлений) был задействован сервис TNRS
        </h6>
        <br>
        <p>
            Проверьте нижеприведенные варианты записи названия таксона.
            Если какой-то из них покажется Вам более правильным, выберите его и нажмите кнопку
            <i>Использовать замену.</i>
            Потом вновь нажмите кнопку  <i>Далее</i> на основной форме.
        </p>
        <p>
            <i>
                Сервис TNRS не позволяет программным образом определять метку (тип) внутривдового таксона.
                Поэтому данная информация не будет изменена, а останется, в том состоянии, в котором Вы ее указали.
                То же касается информации о культурном названии таксона.
            </i>
        </p>
        <p>
            <i>
                В приведенных результатах могут отсутствовать части информации, например может
                быть пропущен видовой эпитет. В таком случае на месте пропуска будт отображены
                вопросительные знаки (???). При выборе такого варианта
                для замены, пропущенные данные не будут учитыватья
                Это значит, что сервис TNRS не нашел совпадений по этой части информации.
                В таком случае, замена будет касаться только, тех блоков, которы отображены,
                остальные остануться в неизменном виде.
            </i>
        </p>
    </details>

    <br>

    <form action="#">
    <div class="center">
        <h6>Варианты замены</h6>
        <p>источник: Taxonomic Names Resolution Service</p>
        <div style="display: inline-block; text-align: left;">
        {% for variant in variants %}
        <p>
            <label>
                <input class="with-gap" name="variants" type="radio" />
                <span style="font-size: x-large">
                    {% if variant.tnrs_genus %}
                        <i>{{ variant.tnrs_genus|title }}</i>
                    {% else %}
                        <i>???</i>
                    {% endif %}

                    {% if variant.tnrs_species %}
                        <i>{{ variant.tnrs_species }}</i>
                    {% else %}
                        <i>???</i>
                    {% endif %}

                    {% if form_data.tu_infra_mark %}
                        ???
                    {% endif %}

                    {% if variant.tnrs_infra_name %}
                        <i>{{ variant.tnrs_infra_name }}</i>
                    {% elif form_data.tu_infra_name%}
                        ???
                    {% endif %}

                    {% if variant.tnrs_author %}
                        {{ variant.tnrs_author }}
                    {% else %}
                        ???
                    {% endif %}
                    &emsp;
                    {% if variant.tnrs_author %}
                        <a target="_blank" href="{{ variant.tnrs_url }}">ссылка</a>
                    {% endif %}
                </span>
            </label>
        </p>
        {% endfor %}
        </div>
    </div>
    </form>
</div>