{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 2{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_2.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

<!-- Initiate grid -->
<div class="row">
    <div class="col s12 m1 l2"></div>
    <!-- Central part for material card with form -->
    <div class="col s12 m10 l8">
        <form id="tu_form" action="#" method="post">
            <!-- Card initiation -->
            <div class="card z-depth-3">
                <!-- Card title -->
                <div id="form_title" class="valign-wrapper card-content text">
                    <span class="card-title">Внесение новой Таксономической Единицы (шаг 2): Вернакуляры</span>
                </div>
                {% csrf_token %}

                <div class="card-content">
                <div id="card-subtitle" class="center">
                    <h6>
                        В этой форме Вы можете указать вернакулярные (<i>народные</i>) названия растений
                    </h6>
                    <p>
                        Если нужно внести более 1-го названия воспользуйтесь кнопкой "+"
                    </p>
                </div>

                <div id="errors" class="center hidden">
                    <h6>
                        Подробная проверка вносимых данных на сервере обнаружила ошибки
                    </h6>
                    <i>Вообще-то этого не должно было произойти</i>
                    <p>
                        Помните, в форме все поля обязательны для ввода. Названия не должны повторяться
                    </p>
                    <p>
                        Перепроверьте свои данные еще раз
                    </p>
                </div>
                <br>

                {# The case with empty form #}
                {% if tot_n == 0 %}
                    <div id="form-0" class="row form-row">
                        <div class="divider"></div>
                        <br>
                        <!-- Text field for vernacular -->
                        <div class="col s12 m8 l8 vern-text">
                            <!-- Genera text input field -->
                            {% with id="id_form-0-tu_vernacular" label="Вернакуляр:" required="True" name="form-0-tu_vernacular"%}
                            {% with error_message='Поле обязательно для ввода' %}
                                {% include "forms_parts/materialize_text_manual.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <!-- Text field for language -->
                        <div class="col s12 m4 l4 lang-text">
                            <!-- Language select input field -->
                            {% with id="id_form-0-tu_vern_lan" label="Язык:" required="True" name="form-0-tu_vern_lan" %}
                            {% with error_message="Нужно выбрать язык" placeholder="Выберите язык"%}
                            {% with choices=form.tu_vern_lan.field.choices%}
                                {% include "forms_parts/materialize_select_from_list.html" %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </div>

                {% else %}
                {# The case with populated form #}
                {% for dat in data %}
                    <div id='{{ dat.form_id }}' class="row form-row">
                    <div class="divider"></div>
                    <br>
                        <!-- Text field for vernacular -->
                        {% if tot_n > 1 %}
                        <div class="col s12 m7 l7 vern-text">
                        {% else %}
                        <div class="col s12 m8 l8 vern-text">
                        {% endif %}
                            <!-- Genera text input field -->
                            {% with id=dat.vern_id label="Вернакуляр:" required="True" name=dat.vern_name%}
                            {% with error_message='Поле обязательно для ввода' value=dat.tu_vernacular %}
                                {% include "forms_parts/materialize_text_manual.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <!-- Text field for language -->
                        {% if tot_n > 1 %}
                        <div class="col s9 m4 l4 lang-text">
                        {% else %}
                        <div class="col s10 m4 l4 lang-text">
                        {% endif %}
                            <!-- Language select input field -->
                            {% with id=dat.lang_id label="Язык:" required="True" name=dat.lang_name %}
                            {% with error_message="Нужно выбрать язык" placeholder="Выберите язык вернакуляра"%}
                            {% with choices=form.tu_vern_lan.field.choices selected=dat.tu_vern_lan%}
                                {% include "forms_parts/materialize_select_from_list.html" %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        {% if tot_n > 1 %}
                        <div class="col s3 m1 l1 del-btn-col">
                            {# add delete button for each form after first #}
                            <div class="del-btn-wrapper">
                                <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
                                   data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                                    <i class="material-icons">close</i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                {% endif %}

                <div id="add-btn-wrapper">
                    <a class="waves-effect waves-light round-btn z-depth-2 tooltipped"
                       data-position="left" data-tooltip="Внести еще один вернакуляр" onclick="add_form()">
                        <i class="material-icons">add</i>
                    </a>
                </div>
                </div>
                <!-- Next button -->
                <br>
                    <div class="divider"></div>
                <br>
                <div id="action-button" class="center">
                    <a class="waves-effect waves-light btn" role="button" onclick="pass_button()">Пропустить</a>
                    <a class="waves-effect waves-light btn" role="button" onclick="submit_button()">Далее</a>
                </div>
            </div>
            </div>
            </div>
        </form>
    </div>

    <div class="col s12 m1 l2"></div>
</div>

{# Prepare hiden blocs with forms and buttons for page population with JS #}
{# Template without del button #}

<div id="form-templ-btn" class="row form-row" hidden>
<div class="divider"></div>
    <br>
    <!-- Text field for vernacular -->
    <div class="col s12 m7 l7 vern-text">
        <!-- Genera text input field -->
        {% with id="vern-input-temp" label="Вернакуляр:" required="True"%}
        {% with error_message='Поле обязательно для ввода' value=prev_data.tu_vernacular %}
            {% include "forms_parts/materialize_text_manual.html" %}
        {% endwith %}
        {% endwith %}
    </div>
    <!-- Text field for language -->
    <div class="col s9 m4 l4 lang-select">
        <!-- Language select input field -->
        {% with id="lang-input-temp" label="Язык:" required="True"%}
        {% with error_message="Нужно выбрать язык" placeholder="Выберите язык"%}
        {% with choices=form.tu_vern_lan.field.choices selected=prev_data.tu_vern_lan%}
            {% include "forms_parts/materialize_select_from_list.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
    <div class="col s3 m1 l1 del-btn-col">
        {# add delete button for each form after first #}
        <div class="del-btn-wrapper">
            <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
               data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                <i class="material-icons">close</i>
            </a>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block tail_import %}
    <script src="{% static "collection/js_bundles/new_tu_form_2.min.js" %}"></script>
{% endblock %}