<div class="modal-content">
    <h4 class="center">
        Таксон не обнаружен в базах COL и TNRS
    </h4>
    <br>


    <div class="center">
        <div style="display: inline-block; text-align: left;">
        <h6>
            Вносимя ТЕ:&emsp; {% comment %}&emsp; is tabulation{% endcomment %}
            <i>{{ tu_genera|title }}</i>
            <i>{{ tu_species }}</i>
            {% if tu_infra_mark %}
                    {{ tu_infra_mark }}
            {% endif %}
            {% if tu_infra_name %}
                <i>{{ tu_infra_name }}</i>
            {% endif %}
                {{ tu_author_name }}
            {% if tu_cult_name %}'{{ tu_cult_name }}'{% endif %}
        </h6>
        </div>
    </div>

    <br>
    <div class="container"></div>
    <p>
        Возможно название содрежит слишком много ошибок или таксон попросту еще не добавлен в
        базы прокетов Catalogue of Life и Tropicos.
    </p>
    <p>
        Попробуйте провести поиск по полному названию в поисковых системах (таких как Google, Yandex, Bing)
    </p>
    <br>
    <p>
        Если Вы уверены в правильности вносимого Вами названия, закройте эту панель и уберите флажок в поле
        <i>Сверить с СOL</i> на основной форме. Помните, что внесение вида без сверки с международными базами
        является крайней мерой, которая может поставить под угрозу целостность и аутальность нашей базы данных.
        Ответственность за это несете Вы и только Вы.
    </p>
    <p style="text-align: right">
        <i>
            ** Запись о сотруднике, внесшем таксон в базу сохраняется и отображается
            на странице этого таксона.
        </i>
    </p>

</div>