{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 3{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_3.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

<!-- Initiate grid -->
<div class="row">
<div class="col s12 m1 l2"></div>

<div class="col s12 m10 l8">
<form id="tu_form" action="#" method="post">
    <div class="card z-depth-3">
    <div id="form_title" class="valign-wrapper card-content text">
        <span class="card-title">Внесение новой Таксономической Единицы (шаг 3): Экология</span>
    </div>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div id="card-subtitle" class="center">
        <h6>
            В этой форме нужно указать отношение таксона к экологическим группам
        </h6>
    </div>
    <div id="errors" class="center hidden">
        <h6>
            Подробная проверка вносимых данных на сервере обнаружила ошибки
        </h6>
        <i>Вообще-то этого не должно было произойти</i>
        <p>
            Попробуйте повторить попытку через некоторое время. Если проблема повторяется, свяжитесь с администратором
        </p>
    </div>

    <!-- Life form -->
    <div class="card-content">

    <span class="card-title center"><small>Жизненная форма</small></span>
    <div class="divider"></div>

    <!-- Life form choice -->
        {% with field=form.tu_raunc_form placeholder="Выберите жизненную форму" %}
            {% include "forms_parts/materialize_select.html" %}
        {% endwith %}
    </div>
    <!-- End Life form -->

    <!-- Ecological groups -->
    <div class="card-content">
        <span class="card-title center"><small>Экологические группы по факторам</small></span>
        <div class="divider"></div>

        <!-- initiate grid -->
        <div class="row">
            <!-- tu_moisture choice -->
            <div class="col s12 m6 l6 xl4">
                {% with field=form.tu_moisture placeholder="По увлажнению" %}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <!-- tu_light choice -->
            <div class="col s12 m6 l6 xl4">
                {% with field=form.tu_light placeholder="По свету"%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <!-- tu_fertility choice -->
            <div class="col s12 m6 l6 xl4">
                {% with field=form.tu_fertility placeholder="По плодородию"%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <!-- tu_salinity choice -->
            <div class="col s12 m6 l6 xl4">
                {% with field=form.tu_salinity placeholder="По засолению" %}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>

            <!-- tu_acidity choice -->
            <div class="col s12 m6 l6 xl4">
                {% with field=form.tu_acidity placeholder="По pH"%}
                    {% include "forms_parts/materialize_select.html" %}
                {% endwith %}
            </div>
        </div>
    </div>


    <!-- Phenotype groups -->
    <div class="card-content inner-card">
        <span class="card-title center"><small>Феноритм</small></span>
        <div class="divider"></div>

        <!-- Life form choice -->
        {% with field=form.tu_phenotype placeholder="Выберите феноритмотип"%}
            {% include "forms_parts/materialize_select.html" %}
        {% endwith %}
    </div>

    <!-- Cenotype groups -->
    <div class="card-content inner-card">
        <span class="card-title center"><small>Ценотип</small></span>
        <div class="divider"></div>
        <br>
        <!-- tu_cenotype form choices -->
        {% with field=form.tu_cenotype s="6" m="4" l="3" row_id="cenotype-group" %}
        {% include "forms_parts/materialize_checkbox_multiple.html" %}
        {% endwith %}
    </div>

    <!-- Next button -->
        <div class="divider"></div>
    <br>
    <div id="action-button" class="center">
        <a class="waves-effect waves-light btn" role="button" onclick="pass_button()">Пропустить</a>
        <a class="waves-effect waves-light btn" role="button" onclick="submit_button()">Далее</a>
    </div>
</div>
</form>

<!-- End of grid -->
</div>
<div class="col s12 m1 l2"></div>
</div>

<!-- Place for modals -->
<!-- Exists modal -->
<div id="resp_modal" class="modal modal-fixed-footer">
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="modals_close()">Вернуться к форме</a>
    </div>
</div>
{% endblock %}

{% block tail_import %}
    <script src="{% static "collection/js_bundles/new_tu_form_3.min.js" %}"></script>
{% endblock %}