{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 5{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "dropify/dropify.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_5.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}
    <div id="loader" class="loader-overlay center-align">
        <div class="loader-inner">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
        </div>
        <p>Идет обработка изображения</p>
        <p>Это может занять некоторое время</p>
        </div>
    </div>
<div class="row">
    <div class="col s12 m1 l2"></div>

    <!-- Central part for material card with form -->
    <div class="col s12 m10 l8">
    <form id="tu_form" action="#" method="post">
        <!-- Card initiation -->
        <div class="card z-depth-3">
            <!-- Card title -->
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Внесение новой Таксономической Единицы (шаг 5): Изображения</span>
            </div>
            {% csrf_token %}

            <div class="card-content">
                <div id="card-subtitle" class="center">
                    <h6>
                        В этой форме Вы можете добавить изображения связанные с таксоном
                    </h6>
                    <p>
                        Если нужно внести более 1-й записи воспользуйтесь кнопкой "+"
                    </p>
                </div>

                <div id="errors" class="center hidden">
                    <h6>
                        Подробная проверка вносимых данных на сервере обнаружила ошибки
                    </h6>
                    <i>Вообще-то этого не должно было произойти</i>
                    <p>
                        Помните, в форме все поля обязательны для ввода. Названия не должны повторяться
                    </p>
                    <p>
                        Перепроверьте свои данные еще раз
                    </p>
                </div>
                <br>
            </div>

            {# The case with empty form #}
            <div class="card-content">
            {% if tot_n == 0 %}
                <div id="form-0" class="row form-row">
                    <div class="divider"></div>
                    <br>

                    <!-- Column with data -->
                    <div class="col s12 m6 l6 info-col">
                        <!-- Author text input field -->
                        <div class="author-text">
                        {% with id="id_form-0-autor" label="Автор изображения:" required="True" name="form-0-autor"%}
                        {% with error_message='Поле обязательно для ввода'%}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- date text input field -->
                        <div class="date-text">
                        {% with id="id_form-0-date" label="Когда сделано:" required="True" name="form-0-date"%}
                        {% with error_message='Поле обязательно для ввода' date="True" %}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- caption text input field -->
                        <div class="caption-text">
                        {% with id="id_form-0-caption" label="Подпись (макс. 100 знаков)" required="True" name="form-0-caption"%}
                        {% with error_message='Поле обязательно для ввода' max_length=100 %}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- description text area input field -->
                        <div class="description-text">
                        {% with id="id_form-0-description" label="Описание (макс. 300 знаков)" required="True" name="form-0-description"%}
                        {% with error_message='Поле обязательно для ввода' max_length=300 %}
                            {% include "forms_parts/materialize_text_area_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- rate input field -->
                        <div class="rating-text">
                        <div class="rating-container">
                        <div class="rating-label valign-wrapper">Оценка изображения</div>
                        <div class="rating large star-icon direction-ltr value-3 color-ok label-left">
                            <!-- first prepare hiden text input -->
                            <input class="rating-input hidden" id="id_form-0-rate" name="form-0-rate" type="text" value="3">
                            <div class="star-container">
                                <div class="star" data-value="1">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="2">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="3">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="4">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="5">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>

                        <!-- main_scr checkbox input field -->
                        <div class="center main_scr-wrapper">
                        {% with id="id_form-0-main_scr" name="form-0-main_scr" %}
                        {% with label="Показывать на главной странице" %}
                            {% include "forms_parts/materialize_checkbox_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>
                    </div>

                    <!-- Column with image -->
                    <div class="col s12 m6 l6 img-col">
                        <!-- reference text input field -->
                        <div class="id_form-0-img">
                            <label for="img-input-temp">Изображение:</label>
                            <div class="dropify-error" hidden>Нужно добавить изображение</div>
                        </div>
                        <input
                                id="id_form-0-img" type="file" class="dropify validate" name="form-0-img" required
                                data-max-file-size-preview="12M" data-max-file-size="12M"
                                data-allowed-file-extensions="bmp png jpg jpeg psd gif tif"
                                data-min-height="767" data-min-width="767"
                                data-changed=""
                        />
                    </div>
                </div>

            {% else %}

            {# The case with populated form #}
            {% for dat in data %}
                <div id='{{ dat.form_id }}' class="row form-row">
                <div class="divider"></div>
                <br>
                    <div class="col s12 m6 l6 info-col">
                        <!-- Author text input field -->
                        <div class="author-text">
                        {% with id=dat.author_id label="Автор изображения:" required="True" name=author_name%}
                        {% with error_message='Поле обязательно для ввода'  value=dat.author%}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- date text input field -->
                        <div class="date-text">
                        {% with id=dat.date_id label="Когда сделано:" required="True" name=dat.date_name%}
                        {% with error_message='Поле обязательно для ввода' date="True"  value=dat.date %}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- caption text input field -->
                        <div class="caption-text">
                        {% with id=dat.caption_id label="Подпись (макс. 100 знаков)" required="True" name=dat.caption_name%}
                        {% with error_message='Поле обязательно для ввода' max_length=100 value=dat.caption %}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- description text area input field -->
                        <div class="description-text">
                        {% with id=dat.description_id label="Описание (макс. 300 знаков)" required="True" name=dat.description_name%}
                        {% with error_message='Поле обязательно для ввода' max_length=300 value=dat.description %}
                            {% include "forms_parts/materialize_text_area_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>

                        <!-- rate input field -->
                        <div class="rating-text">
                        <div class="rating-container">
                        <div class="rating-label valign-wrapper">Оценка изображения</div>
                        <div class="rating large star-icon direction-ltr value-{{ dat.rate }} color-ok label-left">
                            <!-- first prepare hiden text input -->
                            <input class="rating-input hidden" id="{{ dat.rate_id }}" name="{{ dat.rate_name }}" type="text" value="{{ dat.rate }}">
                            <div class="star-container">
                                <div class="star" data-value="1">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="2">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="3">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="4">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                                <div class="star" data-value="5">
                                    <i class="star-empty"></i>
                                    <i class="star-half"></i>
                                    <i class="star-filled"></i>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>

                        <!-- main_scr checkbox input field -->
                        <div class="center main_scr-wrapper">
                        {% with id=dat.main_scr_id name=dat.main_scr_name%}
                        {% with label="Показывать на главной странице" checked=dat.main_scr%}
                            {% include "forms_parts/materialize_checkbox_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                        </div>
                    </div>

                    <!-- Column with image -->
                    <div class="col s12 m6 l6 img-col">
                        <!-- reference text input field -->
                        <div class="label-error-dropify">
                            <label for="{{ dat.img_id }}">Изображение:</label>
                            <div class="dropify-error" hidden>Нужно добавить изображение</div>
                        </div>
                        <input
                                id="{{ dat.img_id }}" type="file" class="dropify validate" name="{{ dat.img_name }}" required
                                data-max-file-size-preview="12M" data-max-file-size="12M"
                                data-allowed-file-extensions="bmp png jpg jpeg psd gif tif"
                                data-min-height="768" data-min-width="1024"
                                data-default-file="{{ dat.img_thumb_url }}"
                                data-changed="" data-prev-image-path = {{ dat.img_init_path_full }}
                        />
                    </div>

                    {% if tot_n > 1 %}
                    <div class="col s12 m12 l12 del-btn-col">
                        {# add delete button for each form after first #}
                        <div class="del-btn-wrapper">
                            <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
                               data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% endif %}
            <div id="add-btn-wrapper">
                <a class="waves-effect waves-light round-btn z-depth-2 tooltipped"
                   data-position="left" data-tooltip="Добавить еще одну запись" onclick="add_form()">
                    <i class="material-icons">add</i>
                </a>
            </div>
            </div>
            <!-- Next button -->
            <br>
                <div class="divider"></div>
            <br>
            <div id="action-button" class="center">
                <a class="waves-effect waves-light btn" role="button" onclick="pass_button()">Пропустить</a>
                <a id="submit-button" class="waves-effect waves-light btn" role="button" onclick="submit_button()">Далее</a>
            </div>
        </div>
    </form>
    </div>
    <div class="col s12 m1 l2"></div>
</div>

{# Prepare hiden blocs with forms and buttons for page population with JS #}
{# Template without del button #}

<div id="form-templ-btn" class="row form-row" hidden>
    <div class="divider"></div>
    <br>
        <div class="col s12 m6 l6 info-col">
            <!-- Author text input field -->
            <div class="author-text">
            {% with id="author-input-temp" label="Автор изображения:" required="True"%}
            {% with error_message='Поле обязательно для ввода'%}
                {% include "forms_parts/materialize_text_manual.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- date text input field -->
            <div class="date-text">
            {% with id="date-input-temp" label="Когда сделано:" required="True"%}
            {% with error_message='Поле обязательно для ввода' date="True" %}
                {% include "forms_parts/materialize_text_manual.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- caption text input field -->
            <div class="caption-text">
            {% with id="caption-input-temp" label="Подпись (макс. 100 знаков)" required="True"%}
            {% with error_message='Поле обязательно для ввода' max_length=100 %}
                {% include "forms_parts/materialize_text_manual.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- description text area input field -->
            <div class="description-text">
            {% with id="description-input-temp" label="Описание (макс. 300 знаков)" required="True"%}
            {% with error_message='Поле обязательно для ввода' max_length=300 %}
                {% include "forms_parts/materialize_text_area_manual.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- rate input field -->
            <div class="rating-text">
            <div class="rating-container">
            <div class="rating-label valign-wrapper">Оценка изображения</div>
            <div class="rating large star-icon direction-ltr value-3 color-ok label-left">
                <!-- first prepare hiden text input -->
                <input class="rating-input hidden" id="rate-input-temp" type="text" value="3">
                <div class="star-container">
                    <div class="star" data-value="1">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                    <div class="star" data-value="2">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                    <div class="star" data-value="3">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                    <div class="star" data-value="4">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                    <div class="star" data-value="5">
                        <i class="star-empty"></i>
                        <i class="star-half"></i>
                        <i class="star-filled"></i>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <!-- main_scr checkbox input field -->
            <div class="center main_scr-wrapper">
            {% with id="main_scr-input-temp"%}
            {% with label="Показывать на главной странице"%}
                {% include "forms_parts/materialize_checkbox_manual.html" %}
            {% endwith %}
            {% endwith %}
            </div>
        </div>

        <!-- Column with image -->
        <div class="col s12 m6 l6 img-col">
            <!-- reference text input field -->
            <div class="label-error-dropify">
                <label for="img-input-temp">Изображение:</label>
                <div class="dropify-error" hidden>Нужно добавить изображение</div>
            </div>
            <input
                    id="img-input-temp" type="file" class="dropify validate" required
                    data-max-file-size-preview="12M" data-max-file-size="12M"
                    data-allowed-file-extensions="bmp png jpg jpeg psd gif tif"
                    data-min-height="767" data-min-width="767"
                    data-changed=""
            />
        </div>

        <div class="col s12 m12 l12 del-btn-col">
            {# add delete button for each form after first #}
            <div class="del-btn-wrapper">
                <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
                   data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                    <i class="material-icons">close</i>
                </a>
            </div>
        </div>
    </div>
<br>
{% endblock %}

{% block tail_import %}
    <script src="{% static "dropify/dropify.min.js" %}"></script>
    <script src="{% static "collection/js_bundles/new_tu_form_5.min.js" %}"></script>
{% endblock %}