{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 4{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_4.min.css" %}">
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

<!-- Initiate grid -->
<div class="row">
    <div class="col s12 m1 l2"></div>

    <!-- Central part for material card with form -->
    <div class="col s12 m10 l8">
    <form id="tu_form" action="#" method="post">
        <!-- Card initiation -->
        <div class="card z-depth-3">
            <!-- Card title -->
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Внесение новой Таксономической Единицы (шаг 4): Доп. информация</span>
            </div>
            {% csrf_token %}

            <div class="card-content">
                <div id="card-subtitle" class="center">
                    <h6>
                        В этой форме Вы можете указать дополнительные сведения о растениях
                    </h6>
                    <p>
                        Если нужно внести более 1-й записи воспользуйтесь кнопкой "+"
                    </p>
                </div>

                <div id="errors" class="center hidden">
                    <h6>
                        Подробная проверка вносимых данных на сервере обнаружила ошибки
                    </h6>
                    <i>Вообще-то этого не должно было произойти</i>
                    <p>
                        Помните, в форме все поля обязательны для ввода. Названия не должны повторяться
                    </p>
                    <p>
                        Перепроверьте свои данные еще раз
                    </p>
                </div>
                <br>
            </div>

            {# The case with empty form #}
            <div class="card-content">
            {% if tot_n == 0 %}
                <div id="form-0" class="row form-row">
                    <div class="divider"></div>
                    <br>

                    <!-- Text field for category -->
                    <div class="col s12 m6 l6 category-text">
                        <!-- Category text input field -->
                        {% with id="id_form-0-category" label="Категория:" required="True" name="form-0-category"%}
                        {% with error_message='Поле обязательно для ввода' datalist=categories%}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>

                    <!-- Text_area field for reference -->
                    <div class="col s12 m6 l6 reference-text">
                        <!-- reference text input field -->
                        {% with id="id_form-0-reference" label="Источник:" required="True" name="form-0-reference"%}
                        {% with error_message='Поле обязательно для ввода'%}
                            {% include "forms_parts/materialize_text_area_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>

                    <!-- Text field for info -->
                    <div class="col s12 m12 l12 info-text">
                        <!-- info select input field -->
                        <div class="info-label">Информация:</div>
                        <div id="id_form-0-info" class="info_text_area" contenteditable="true">
                            Введите информацию в этом поле
                        </div>
                    </div>
                </div>

            {% else %}

            {# The case with populated form #}
            {% for dat in data %}
                <div id='{{ dat.form_id }}' class="row form-row">
                <div class="divider"></div>
                <br>
                    <!-- Text field for category -->
                    <div class="col s12 m6 l6 category-text">
                        {% with id=dat.cat_id label="Категория:" required="True" name=dat.cat_name%}
                        {% with error_message='Поле обязательно для ввода' datalist=categories value=dat.category%}
                            {% include "forms_parts/materialize_text_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>

                    <!-- Text_area field for reference -->
                    <div class="col s12 m6 l6 reference-text">
                        {% with id=dat.ref_id label="Источник:" required="True" name=dat.ref_name%}
                        {% with error_message='Поле обязательно для ввода' value=dat.reference%}
                            {% include "forms_parts/materialize_text_area_manual.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>

                    <!-- Text field for info -->
                    {% if tot_n > 1 %}
                    <div class="col s12 m10 l11 info-text">
                    {% else %}
                    <div class="col s12 m12 l12 info-text">
                    {% endif %}
                        <!-- Info select input field -->
                        <div  class="info-label">Информация:</div>
                        <div id="{{ dat.info_id }}" class="info_text_area" contenteditable="true">
                            {{ dat.info|safe}}
                        </div>
                    </div>

                    {% if tot_n > 1 %}
                    <div class="col s12 m2 l1 del-btn-col">
                        {# add delete button for each form after first #}
                        <div class="del-btn-wrapper">
                            <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
                               data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% endif %}
            <div id="add-btn-wrapper">
                <a class="waves-effect waves-light round-btn z-depth-2 tooltipped"
                   data-position="left" data-tooltip="Добавить еще одну запись" onclick="add_form()">
                    <i class="material-icons">add</i>
                </a>
            </div>
            </div>
            <!-- Next button -->
            <br>
                <div class="divider"></div>
            <br>
            <div id="action-button" class="center">
                <a class="waves-effect waves-light btn" role="button" onclick="pass_button()">Пропустить</a>
                <a class="waves-effect waves-light btn" role="button" onclick="submit_button()">Далее</a>
            </div>
            </div>
        </div>
    </form>
    </div>
    <div class="col s12 m1 l2"></div>
</div>

{# Prepare hiden blocs with forms and buttons for page population with JS #}
{# Template without del button #}

<div id="form-templ-btn" class="row form-row" hidden>
<div class="divider"></div>
    <br>
    <!-- Text field for category -->
    <div class="col s12 m6 l6 category-text">
        <!-- Category text input field -->
        {% with id="category-input-temp" label="Категория:" required="True"%}
        {% with error_message='Поле обязательно для ввода' datalist=categories%}
            {% include "forms_parts/materialize_text_manual.html" %}
        {% endwith %}
        {% endwith %}
    </div>
    <!-- Text field for reference -->
    <div class="col s9 m6 l6 reference-text">
        {% with id="reference-input-temp" label="Источник:" required="True"%}
        {% with error_message='Поле обязательно для ввода'%}
            {% include "forms_parts/materialize_text_area_manual.html" %}
        {% endwith %}
        {% endwith %}
    </div>
    <!-- Text field for info -->
    <div class="col s12 m10 l11 info-text">
        <!-- Info select input field -->
        <div  class="info-label">Информация:</div>
        <div id="info-input-temp" class="info_text_area" contenteditable="true">
            Введите информацию в этом поле
        </div>
    </div>
    <div class="col s12 m2 l1 del-btn-col">
        {# add delete button for each form after first #}
        <div class="del-btn-wrapper">
            <a class="waves-effect waves-light round-btn-del z-depth-2 tooltipped"
               data-position="left" data-tooltip="Удалить запись" onclick="del_form(event)">
                <i class="material-icons">close</i>
            </a>
        </div>
    </div>
</div>
<br>
{% endblock %}

{% block tail_import %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "collection/js_bundles/new_tu_form_4.min.js" %}"></script>
{% endblock %}