{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 6{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_conf.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

<!-- Loader -->
<div id="loader" class="loader-overlay center-align">
    <div class="loader-inner">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
    </div>
    <p>Данные загружаются и обрабатываются на сервере</p>
    <p>Это может занять некоторое время</p>
    </div>
</div>

<div class="row">
    <div class="col s12 m1 l2"></div>

    <!-- Central part for material card with form -->
    <div class="col s12 m10 l8">
    <form id="tu_form" onsubmit="confirm()" method="post">
        <!-- Card initiation -->
        <div class="card z-depth-3">
            <!-- Card title -->
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Внесение новой Таксономической Единицы: Подтверждение</span>
            </div>
            {% csrf_token %}

            <div class="card-content">
                <div id="card-subtitle" class="center">
                    <h6>
                        Проверьте внесенную информацию и подтвердите ее правильность
                    </h6>
                    <p>
                        после этого данные будут добавлены в базу данных
                    </p>
                </div>

                <br>
                <div class="divider"></div>
                <br>
                <div class="center">
                    <p>Вносимый таксон:</p>
                    <h5>
                        <i>{{ f1.tu_genera|title }}</i>
                        <i>{{ f1.tu_species }}</i>
                        {% if f1.tu_infra_mark %}{{ f1.tu_infra_mark }}{% endif %}
                        {% if f1.tu_infra_name %}{{ f1.tu_infra_name }}{% endif %}
                        {% if f1.tu_author_name %}{{ f1.tu_author_name }}{% endif %}
                        {% if f1.tu_cult_name %}'{{ f1.tu_cult_name }}'{% endif %}
                    </h5>
                </div>

                <!-- Taxonomic data clock -->
                <span class="card-title"><small>Таксономическое положение</small></span>
                <div class="divider"></div>
                <br>

                <!-- ITIS data -->
                <div class="row flex-row">
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">Таксономия <span><a href="http://www.catalogueoflife.org/annual-checklist/2019/">Catalogue Of Life</a></span></h6>
                    </div>
                    <div class="col s12 m10 l9 xl9 valign-wrapper flex-center">
                        <div class="clt-wrapper">
                        <div class="clt">
                            <ul class="root-ul">
                                <li class="root-li">
                                    царство: <span><b><i>{{ f1.col_kingdom }}</i></b></span>
                                    <ul>
                                        <li>
                                            отдел: <span><b><i>{{ f1.col_phylum }}</i></b></span>
                                            <ul>
                                                <li>
                                                    класс: <span><b><i>{{ f1.col_class }}</i></b></span>
                                                    <ul>
                                                        <li>
                                                            порядок: <span><b><i>{{ f1.col_order }}</i></b></span>
                                                            <ul>
                                                                <li>
                                                                    семейство: <span><b><i>{{ f1.col_family }}</i></b></span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>

                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <i class="check-true material-icons flow-text">check_circle</i>
                        <!-- <i class="check-false material-icons flow-text">error</i> -->
                    </div>
                </div>
                <div class="divider-minor"></div>


                <!-- COL data -->
                <div class="row flex-row">
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">Данные
                            <span>
                                <a href="http://www.catalogueoflife.org/">Catalogue of&nbsp;Life</a>
                            </span>
                        </h6>
                    </div>
                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if col_type == "Accepted" %}
                            {# The name is accepted #}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Сверка с базой данных Catalogue of Life пройдена успешно</h6>
                                <p>ознакомтесь с полученной информацией</p>
                            </div>

                            <br>

                            <div class="row flex-row">
                                {% if col_res.col_link %}
                                <div class="col s12 m4 l3 responsive-right">
                                    <p >
                                        Ссылка на профайл:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <a class="left-align truncate" href="{{ col_res.col_link }}">{{ col_res.col_link }}</a>
                                </div>

                                <br><br>
                                {% endif %}

                                {% if col_res.col_name_ref %}
                                <div class="col s12 m4 l3 responsive-right">
                                    <p>
                                        Первоисточник:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <p class="left-align">
                                        {{ col_res.col_name_ref }}
                                    </p>
                                </div>

                                <br><br>
                                {% endif %}

                                {% if col_syn|length > 0 %}
                                <div class="col s12 m4 l3 responsive-right">
                                    <p>
                                        Синонимы:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <p>
                                        Будут сохранены данные {{ col_syn|length }}
                                        {% if col_syn|length == 1 %}синонима{% else %}синонимов{% endif %}.
                                    </p>
                                    <ol>
                                        {% for syn in col_syn %}
                                            <li>
                                                {{ syn.html_str|safe }}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                {% else %}
                                    <div class="col s12 m12 l12">
                                        <div class="flex-relative wide">
                                        <div class="center">
                                            <p>Данные о синонимах отсутствуют</p>
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            </div>
                        {% elif f1.is_hybrid %}
                            {# The TU is hybrid, COL check was not performed #}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Вы отметили вносимый таксон, как гибрид, поэтому сверка с Catalogue of Life не проводилась</h6>
                            </div>
                            </div>
                        {% else %}
                            {# The user rejected COL check #}
                            <div class="flex-relative wide">
                            <div class="center">
                            <h5>Вы отказались от сверки таксона с базой Catalogue of Life</h5>
                            <p>помните, что ответственность за возможные ошибки в названии таксона несете Вы</p>
                            </div>
                            </div>
                        {% endif %}

                    </div>

                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        {% if col_type == "Accepted" %}
                            {# The name is accepted #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% elif f1.is_hybrid %}
                            {# The TU is hybrid, COL check was not performed #}
                            <i class="check-none material-icons flow-text">help</i>
                        {% else %}
                            {# The user rejected COL check #}
                            <i class="check-false material-icons flow-text">error</i>
                        {% endif %}

                        <!-- <i class="check-false material-icons flow-text">error</i> -->
                    </div>
                </div>

                <!-- RedList data -->
                <!-- Show only if red_list is in session info -->
                {% if red_list %}

                <!-- RedList data block -->
                <span class="card-title"><small>Международная красная книга</small></span>
                <div class="divider"></div>
                <br>

                <div class="row flex-row">

                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">Данные
                            <span>
                                <a href="http://www.iucnredlist.org/">Красная&nbsp;книга МСОП</a>
                            </span>
                        </h6>
                    </div>

                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if red_list.active_status == "Active" or red_list.status == "Error" %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Автоматический запрос к базе данных Красной книги МСОП закончился неудачно</h6>
                                <p>
                                    Наиболее вероятно, сервер МСОП перегружен, или возникли проблемы с соединением.
                                </p>
                                <br>
                                <p><b>
                                    Данная ошибка не повлияет на качество данных
                                    (Вы все равно можете сохранить эту таксономическую единицу)
                                </b></p>
                                <br>
                                <p>
                                <small>
                                    Информационная система проводит сверку с международной красной книгой
                                    на регулярной основе. Поэтому, в ближайшее время запрос будет автоматически повторен
                                    и будет повторяться периодически до тех пор,
                                    пока система не получит удовлетворительный ответ.
                                </small>
                                </p>
                            </div>
                            </div>
                        {% elif red_list.parser_status == "NotInRedList" %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вид не внесен в Международную красную книгу
                                </h6>
                            </div>
                            </div>
                        {% else %}
                            {# The RedList query was successfull and the species is in RedList #}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Вид внесен в Международную красную книгу</h6>
                            </div>
                            <br>

                            <!-- Information rows -->
                            <div class="row">
                                <div class="col s12 m4 l3 responsive-right">
                                    <p>
                                        Категория:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <p>
                                        <span class="large-text">{{ red_list.category }}</span>
                                        <i>&emsp;(Расшифровка: {{ red_list.category_trans }})</i>
                                    </p>
                                </div>

                                <br><br>

                                <div class="col s12 m4 l3 responsive-right">
                                    <p>
                                        Критерий:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <p>
                                        {% if red_list.criteria %}
                                            {{ red_list.criteria }}
                                        {% else %}
                                            неизвестен
                                        {% endif %}
                                    </p>
                                </div>

                                <br><br>

                                <div class="col s12 m4 l3 responsive-right">
                                    <p>
                                        Год внесения:
                                    </p>
                                </div>
                                <div class="col s12 m8 l9 responsive-left">
                                    <p>
                                        {{ red_list.published_year }}
                                    </p>
                                </div>
                            </div>



                            <br>
                            {% if not red_list.dist_error %}
                                <img class="redlist-map materialboxed" src="{{ red_list.map_url }}" alt="Distribution map">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that red_list object is in session -->
                        {% if red_list.active_status == "Active" or red_list.status == "Error" %}
                            {# The query to RedList was not done due to error or is not done yet #}
                            <i class="check-false material-icons flow-text">error</i>
                        {% else %}
                            {# The query to redlist was done successfully #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% endif %}

                        <!-- <i class="check-false material-icons flow-text">error</i> -->
                    </div>
                </div>
                {% endif %}


                <!-- Tropicos data block -->
                <span class="card-title"><small>Данные из базы Tropicos</small></span>
                <div class="divider"></div>
                <br>

                <!-- Tropicos data -->
                <!-- Show only if red_list is in session info -->
                {% if tropicos %}
                <div class="row flex-row">

                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">Данные
                            <span>
                                <a href="https://www.tropicos.org/">Tropicos</a>
                            </span>
                        </h6>
                    </div>

                    <div class="col s12 m12 l9 xl9 valign-wrapper">
                        {% if tropicos.active_status == "Active" or tropicos.status == "Error" %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Автоматический запрос к базе данных Tropicos закончился неудачно</h6>
                                <p>
                                    Наиболее вероятно, сервер Tropicos перегружен, или возникли проблемы с соединением.
                                </p>
                                <br>
                                <p><b>
                                    Данная ошибка не повлияет на качество данных
                                    (Вы все равно можете сохранить эту таксономическую единицу)
                                </b></p>
                                <br>
                                <p>
                                <small>
                                    Информационная система проводит сверку базой данных Tropicos
                                    на регулярной основе. Поэтому, в ближайшее время запрос будет автоматически повторен
                                    и будет повторяться периодически до тех пор,
                                    пока система не получит удовлетворительный ответ.
                                </small>
                                </p>
                            </div>
                            </div>
                        {% elif tropicos.parser_status == "NoNamesFound" %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вид отсутствует в базе Tropicos
                                </h6>
                            </div>
                            </div>
                        {% else %}
                            {# The Tropicos query was successfull and the species is in Tropicos #}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>Вид присутствует в базе Tropicos</h6>
                            </div>
                            <br>

                            <!-- Data rows in colapsible -->
                            <div class="row">
                            <div class="col s11">
                            <ul class="collapsible">
                            <!-- Chromosomes table -->
                            {% if tropicos.chromosomes_status == "Success" and tropicos.chromosomes|length %}
                            <li>
                            <div class="collapsible-header">
                                <i class="material-icons">gesture</i>
                                <b>Хромосомные числа:</b>
                            </div>
                            <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <table class="striped highlight responsive-table centered">
                                        <thead>
                                            <tr>
                                                <th>Геном</th>
                                                <th>Количество</th>
                                                <th>Источник</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- Loop over each chromosomes entry -->
                                        <!-- add row only if count is not None -->
                                        {% for chrom in  tropicos.chromosomes %}
                                            {% if chrom.SporophyticCount %}
                                                <tr>
                                                <td>Спорофит</td>
                                                <td>{{ chrom.SporophyticCount }}</td>
                                                <td>{{ chrom.Citation }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        {% for chrom in  tropicos.chromosomes %}
                                            {% if chrom.GametophyticCount %}
                                                <tr>
                                                <td>Гаметофит</td>
                                                <td>{{ chrom.GametophyticCount }}</td>
                                                <td>{{ chrom.Citation }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </li>
                            {% endif %}

                            <!-- Distribution in floras table -->
                            {% if tropicos.distr_status == "Success" and tropicos.distribution|length %}
                            <li>
                            <div class="collapsible-header">
                                <i class="material-icons">playlist_add_check</i>
                                <b>Упоминания в национальных флорах: всего {{ tropicos.distribution|length }}</b>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped highlight responsive-table centered">
                                            <thead>
                                                <tr>
                                                    <th>Страна</th>
                                                    <th>Админ. единица</th>
                                                    <th>Источник</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Loop over each distribution entry -->
                                            {% for distr in  tropicos.distribution %}
                                                <tr>
                                                    <td>{{ distr.CountryNameRu }}</td>
                                                    <td>
                                                        {% if distr.UpperNameRu %}
                                                            {{ distr.UpperNameRu }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ distr.Citation }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </li>
                            {% endif %}
                            <!-- End of data rows -->
                            </ul>
                            </div>
                            </div>
                        </div>
                        {% endif %}


                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that Tropicos object is in session -->
                        {% if tropicos.active_status == "Active" or tropicos.status == "Error" %}
                            {# The query to Tropicos was not done due to error or is not done yet #}
                            <i class="check-false material-icons flow-text">error</i>
                        {% else %}
                            {# The query to Tropicos was done successfully #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% endif %}

                        <!-- <i class="check-false material-icons flow-text">error</i> -->
                    </div>
                </div>
                </div>
                {% endif %}

                <!-- Vernacular names block -->
                <span class="card-title"><small>Вернакулярные названия</small></span>
                <div class="divider"></div>
                <br>
                <!-- Vernacular data -->
                <div class="row flex-row">
                    <!-- Left title -->
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">
                            Вернакуляры
                        </h6>
                    </div>

                    <!-- data -->
                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if f2 %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вы внесли {{ f2|length }}
                                    {% if f2|length == 1 %}
                                        название
                                    {% elif f2|length < 5 %}
                                        названия
                                    {% else %}
                                        названий
                                    {% endif %}
                                </h6>
                            </div>
                            <!--
                            If number of vernaculars is 1, 2 or 3 place them as list
                            else, construct a table
                            -->
                            <div class="flex-row flex-center wide">
                            {% if f2|length <= 3 %}
                                <ol>
                                {% for vern in f2 %}
                                    <li>
                                        <span class="large-text">{{ vern.tu_vernacular|capfirst }}</span>
                                        <i>&emsp; (язык:
                                            {% if vern.tu_vern_lan == "rus" %}
                                                русский
                                            {% elif vern.tu_vern_lan == "ukr" %}
                                                украинский
                                            {% else %}
                                                английский
                                            {% endif %}
                                            )
                                        </i>
                                    </li>
                                {% endfor %}
                                </ol>
                            {% else %}
                                <table class="highlight responsive-table">
                                    <thead>
                                          <tr>
                                              <th>Вернакуляр</th>
                                              <th>Язык</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                    {% for vern in f2 %}
                                        <tr>
                                            <td>{{ vern.tu_vernacular|capfirst }}</td>
                                            <td>
                                                {% if vern.tu_vern_lan == "rus" %}
                                                русский
                                                {% elif vern.tu_vern_lan == "ukr" %}
                                                    украинский
                                                {% else %}
                                                    английский
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                            </div>
                        {% else %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вы не внесли ни одного общего (народного) названия таксона
                                </h6>
                                <p>
                                    Это не проблема, названия можно будет добавить в будущем
                                </p>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- check circle -->
                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that red_list object is in session -->
                        {% if f2 %}
                            {# Vernaculars were added by user #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% else %}
                            {# No vernaculars were added #}
                            <i class="check-none material-icons flow-text">help</i>
                        {% endif %}
                    </div>
                </div>

                <!-- Obligatory info block -->
                <span class="card-title"><small>Обязательные данне</small></span>
                <div class="divider"></div>
                <br>

                <!-- Obligatory data -->
                <div class="row flex-row">
                    <!-- Left title -->
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">
                            Экологические группы
                        </h6>
                    </div>

                    <!-- Center data -->
                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if f3 and f3.filled_percent > 0 %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Полнота заполнения данных: {{ f3.filled_percent }}%
                                </h6>
                            </div>

                            <div class="row flex-row">
                                <br><br>
                                <!-- Raunchier form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Жизнененая форма по Раункиеру:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_raunc_form_full %}
                                        <p>{{ f3.tu_raunc_form_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Moisture form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Отношение к увлажнению:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_moisture_full %}
                                        <p>{{ f3.tu_moisture_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Light form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Отношение к освещению:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_light_full %}
                                        <p>{{ f3.tu_light_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Fertility form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Отношение к плодородию:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_fertility_full %}
                                        <p>{{ f3.tu_fertility_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Salinity form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Отношение к засолению:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_salinity_full %}
                                        <p>{{ f3.tu_salinity_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- pH form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Отношение к pH:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_acidity_full %}
                                        <p>{{ f3.tu_acidity_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Phenorythm form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Феноритмотип:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_phenotype_full %}
                                        <p>{{ f3.tu_phenotype_full }}</p>
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                                <!-- Cenotype form -->
                                <div class="col s12 m4 l4 responsive-right">
                                    <p>
                                        Ценотип:
                                    </p>
                                </div>
                                <div class="col s12 m8 l8 responsive-left">
                                    {% if f3.tu_cenotype_full|length > 0 %}
                                        {% for cen in f3.tu_cenotype_full %}
                                        <p>{{ cen }}</p>
                                        {% endfor %}
                                    {% else %}
                                        <i>Не указано</i>
                                    {% endif %}
                                </div>

                            </div>
                            </div>
                        {% else %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вы не указали принадлежность таксона к экологическим группам
                                </h6>
                                <p>
                                    Не проблема. Это можно будет сделать в будущем
                                </p>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Right check circle -->
                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that red_list object is in session -->
                        {% if f3 and f3.filled_percent > 0 %}
                            {# Vernaculars were added by user #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% else %}
                            {# No vernaculars were added #}
                            <i class="check-none material-icons flow-text">help</i>
                        {% endif %}
                    </div>
                </div>

                <!-- Non obligatory info block -->
                <span class="card-title"><small>Необязательные данне</small></span>
                <div class="divider"></div>
                <br>

                <!-- Obligatory data -->
                <div class="row flex-row">
                    <!-- Left title -->
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">
                            Дополнительная информация
                        </h6>
                    </div>

                    <!-- Center data -->
                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if f4 and f4|length > 0 %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Количество внесенных записей {{ f4|length }}
                                </h6>
                            </div>

                            {% for info in f4 %}
                            <div class="row flex-row">
                                <div class="col s12 m12 l12 center vertical-10-space large-text">
                                    Запись {{ forloop.counter }}
                                </div>
                                <!-- Meta info col -->
                                <div class="col s12 m6 l6">
                                    <!-- Category column -->
                                    <div class="row flex-row">
                                        <div class="col s12 m4 l4 responsive-right no-border">
                                            <p class="truncate">
                                                Категория
                                            </p>
                                        </div>
                                        <div class="col s12 m8 l8 responsive-left">
                                            <p class="truncate">{{ info.category }}</p>
                                        </div>
                                    </div>

                                    <!-- Reference column -->
                                    <div class="row flex-row">
                                        <div class="col s12 m4 l4 responsive-right no-border">
                                            <p class="truncate">
                                                Источник
                                            </p>
                                        </div>
                                        <div class="col s12 m8 l8 responsive-left">
                                            <p class="truncate">{{ info.reference }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Data -->
                                <div class="col s12 m6 l6">
                                    {{ info.info|safe }}
                                </div>

                            </div>

                            <!-- Add small divider if it is not a last entry in for loop -->
                                {% if not forloop.last %}
                                    <div class="divider-minor"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вы не указали никакой дополнительной информации
                                </h6>
                                <p>
                                    Не проблема. Это можно будет сделать в будущем
                                </p>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Right check circle -->
                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that red_list object is in session -->
                        {% if f4 and f4|length > 0 %}
                            {# Vernaculars were added by user #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% else %}
                            {# No vernaculars were added #}
                            <i class="check-none material-icons flow-text">help</i>
                        {% endif %}
                    </div>
                </div>

                <!-- Images block -->
                <div class="row flex-row">
                    <!-- Left title -->
                    <div class="col s12 m12 l2 xl2 valign-wrapper flex-center">
                        <h6 class="center-align">
                            Изображения
                        </h6>
                    </div>

                    <!-- Center data -->
                    <div class="col s12 m10 l9 xl9 valign-wrapper">
                        {% if f5 and f5|length > 0 %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Количество внесенных изображений {{ f5|length }}
                                </h6>
                            </div>

                            <!-- Images -->
                            <div class="row">
                                <div class="flex-row flex-center">
                                {% for img in f5 %}
                                    <div class="col s12 m6 l4 valign-wrapper" style="margin-left: inherit !important">
                                    <div class="card">
                                        <div class="card-image">
                                            <img
                                                class="materialboxed responsive-img"
                                                src="{{ img.img_thumb_url }}"
                                                data-caption="{{ img.description }}"
                                            >
                                            <span class="text card-title">{{ img.caption }}</span>
                                        </div>
                                        <div class="card-content flex-row" style="justify-content: space-evenly">
                                            <p>Автор: {{ img.author }}</p>
                                            <p>Дата: {{ img.date }}</p>
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            </div>
                        {% else %}
                            <div class="flex-relative wide">
                            <div class="center">
                                <h6>
                                    Вы не загружали изображения
                                </h6>
                                <p>
                                    Это не проблема, изображения можно будет добавить в будущем
                                </p>
                            </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Right check circle -->
                    <div class="col s12 m2 l1 xl1 valign-wrapper flex-center">
                        <!-- Here we kno that red_list object is in session -->
                        {% if f5 and f5|length > 0 %}
                            {# Vernaculars were added by user #}
                            <i class="check-true material-icons flow-text">check_circle</i>
                        {% else %}
                            {# No vernaculars were added #}
                            <i class="check-none material-icons flow-text">help</i>
                        {% endif %}
                    </div>
                </div>
            </div>


            <!-- Confirm button -->
            <br>
                <div class="divider"></div>
            <br>
            <div id="action-button" class="center">
                <button class="waves-effect waves-light btn" role="button" type="submit"
                        value="confirm">Подтверждаю</button>
            </div>
        </div>
    </form>
    </div>
</div>


{% endblock %}
{% block tail_import %}
    <script src="{% static "collection/js_bundles/new_tu_form_conf.min.js" %}"></script>
{% endblock %}