<div class="modal-content">
    <h5 class="center">
        Предложенное Вами название таксона отсутствует в базе данных COL
    </h5>
    <div class="center">
        <h5>
            Вносимый таксон:&emsp; {% comment %}&emsp; is tabulation{% endcomment %}
            <i>{{ form.tu_genera|title }}</i>
            <i>{{ form.tu_species }}</i>
            {% if form.tu_infra_mark %}
                    {{ form.tu_infra_mark }}
            {% endif %}
            {% if form.tu_infra_name %}
                <i>{{ form.tu_infra_name }}</i>
            {% endif %}
                {{ form.tu_author_name }}
            {% if form.tu_cult_name %}'{{ form.tu_cult_name }}'{% endif %}
        </h5>
    </div>

    {# Empty result dict == no proposed names #}
    {% if not data %} {# data is empty #}
        <div>
            <p>К сожалению внесенное название не похоже ни на один таксон в базе данных Catalogue Of Life</p>
        </div>
    {% else %} {# data is not empty #}
        <div class="center">
            <h6>Возможные варианты замены:</h6>
            <p>Выберите наиболее подходящий варинат и нажмите кнопку "использовать замену"</p>
        </div>
        {% for n, dat in data.items %}
            {# Here could be 2 cases #}
            {# 1. The entry is synonym => provide synonym and basionym #}
            {# 2. The entry is basyonym #}
        <div class="variants-wrapper">
            {% if dat.syn %} {# The case with both synonym and basionym #}
                {# first col #}
                <div class="radio-col">
                    <div class="radio-row">
                        <p class="p-demargin">
                            <label>
                                <input class="with-gap" name="variants" type="radio" data-id="{{ n }}" data-type="syn"/>
                                <span></span>
                            </label>
                        </p>
                    </div>
                    <div class="radio-row">
                        <p class="p-demargin">
                            <label>
                                <input class="with-gap" name="variants" type="radio" data-id="{{ n }}" data-type="bas"/>
                                <span></span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="arrow-col">
                    <div class="syn-bas-binder"><div class="dyn-bas-binder-inner"></div></div>
                </div>
                <div class="names-col">
                    <div class="names-row">
                        <div class="syn-tag p-demargin"><p>&nbspСиноним&nbsp</p></div>
                        <div class="syn-name">
                            <i>{{ dat.syn.col_genera|title }}</i>
                            <i>{{ dat.syn.col_species_name }}</i>
                            {% if dat.syn.col_infra_mark %}
                                    {{ dat.syn.col_infra_mark }}
                            {% endif %}
                            {% if dat.syn.col_infra_name %}
                                <i>{{ dat.syn.col_infra_name }}</i>
                            {% endif %}
                            {% if dat.syn.col_author %}
                                {{ dat.syn.col_author }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="names-row">
                        <div class="bas-tag p-demargin"><p>Базионим</p></div>
                        <div class="bas-name">
                            <i>{{ dat.bas.col_genera|title }}</i>
                            <i>{{ dat.bas.col_species_name }}</i>
                            {% if dat.bas.col_infra_mark %}
                                    {{ dat.bas.col_infra_mark }}
                            {% endif %}
                            {% if dat.bas.col_infra_name %}
                                <i>{{ dat.bas.col_infra_name }}</i>
                            {% endif %}
                            {% if dat.bas.col_author %}
                                {{ dat.bas.col_author }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %} {# The case with basionym o #}
                <div class="radio-col">
                    <div class="radio-row single-row">
                        <p class="p-demargin">
                            <label>
                                <input class="with-gap" name="variants" type="radio" data-id="{{ n }}" data-type="bas"/>
                                <span></span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="arrow-col">
                    <div class="svg-binder"></div>
                </div>
                <div class="names-col">
                    <div class="names-row single-row">
                        <div class="bas-tag p-demargin"><p>Базионим</p></div>
                        <div class="bas-name">
                            <i>{{ dat.bas.col_genera|title }}</i>
                            <i>{{ dat.bas.col_species_name }}</i>
                            {% if dat.bas.col_infra_mark %}
                                    {{ dat.bas.col_infra_mark }}
                            {% endif %}
                            {% if dat.bas.col_infra_name %}
                                <i>{{ dat.bas.col_infra_name }}</i>
                            {% endif %}
                            {% if dat.bas.col_author %}
                                {{ dat.bas.col_author }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="divider-margin"></div>
        {% endfor %}
    {% endif %}
</div>