<div class="modal-content">
    {# The variant for exists TaxonomicUnit table #}
    {% if type == "exists" %}
    <h4 class="center">
        Введенная ТЕ уже существует
    </h4>
    <br>
    <p>Вы пытаетесь добавить в базу следующий таксон:</p>
    <h5 class="center">
        {{ tu.html_str | safe }}
    </h5>
        <p>ТЕ имеет идентификационный номер:</p>
        <h5 class="center">{{ tu.id }}</h5>
        <p>Была добавлена:</p>
        <h5 class="center">{{ tu.input_date }}</h5>
        <p>Запись добавил:</p>
        <h6 class="center"><small>{{ tu.input_auth.get_user_reference }}</small></h6>
        <p>Профайл ТЕ расположен по адресу: <a href="{% url 'tu_profile' tu.id %}">ссылка</a></p>
    {% endif %}

    {# The variant for exists in synonyms #}
    {% if type == "exists_syn" %}
    <h4 class="center">
        Введенная ТЕ является синонимом
    </h4>
    <br>
    <p>Вы пытаетесь добавить в базу следующий таксон:</p>
    <h5 class="center">
        <i>{{ form.tu_genera|title }}</i>
        <i>{{ form.tu_species }}</i>
        {% if form.tu_infra_mark %}{{ form.tu_infra_mark }}{% endif %}
        {% if form.tu_infra_name %}{{ form.tu_infra_name }}{% endif %}
        {% if not form.tu_cult_name %}{{ form.tu_author_name }}{% endif %}
        {% if form.tu_cult_name %}'{{ form.tu_cult_name }}'{% endif %}
    </h5>
        <p>Без учета культурного названия, базионимом для ТЕ является</p>
        <h5 class="center">
            <i>{{ tu.genera_name|title }}</i>
            <i>{{ tu.species_name }}</i>
            {% if tu.infra_mark %}{{ tu.infra_mark }}{% endif %}
            {% if tu.infra_name %}{{ tu.infra_name }}{% endif %}
            {{ tu.author }}
        </h5>
        <p>Базионим был добавлен:</p>
        <h6 class="center">{{ tu.input_date }}</h6>
        <p>Автор записи:</p>
        <h6 class="center">{{ tu.input_author.get_user_reference }}</h6>
        <p>Профайл ТЕ, базионима, расположен по адресу: <a target="_blank" href="{% url 'tu_profile' tu_id=tu.id %}">ссылка</a></p>
    {% endif %}
</div>