<div class="modal-content">
    <h4 class="center">
        {% if mismatch_type == "AuthorMismatch" %}
            Возможно автор указан неверно?
        {% endif %}
        {% if mismatch_type == "InfraMarkMismatch" %}
            Возможно указана неверная внутривидовая метка?
        {% endif %}
        {% if mismatch_type == "InfraMarkAndAuthorMismatch" %}
            Возможно внутривидовая метка и автор указаны неверно?
        {% endif %}
    </h4>

    <br><br>

    <h5 class="center">
        Вносимя ТЕ:&emsp; {% comment %}&emsp; is tabulation{% endcomment %}
        <i>{{ form_data.tu_genera|title }}</i>
        <i>{{ form_data.tu_species }}</i>
        {% if form_data.tu_infra_mark %}
            <span
                    {% if mismatch_type == "InfraMarkMismatch" or mismatch_type == "InfraMarkAndAuthorMismatch" %}
                        style="color: #b22222"
                    {% endif %}>
                {{ form_data.tu_infra_mark }}
            </span>
        {% endif %}
        {% if form_data.tu_infra_name %}
            <i>{{ form_data.tu_infra_name }}</i>
        {% endif %}
        <span
                {% if mismatch_type == "AuthorMismatch" or mismatch_type == "InfraMarkAndAuthorMismatch" %}
                    style="color: #b22222"
                {% endif %}>
            {{ form_data.tu_author_name }}
        </span>
        {% if form_data.tu_cult_name %}'{{ form_data.tu_cult_name }}'{% endif %}
    </h5>

    <br>

    <details>
    <summary>Пояснения</summary>
    <p>Полного совпадения с базой данных COL не найдено, но в ней есть таксоны с такими же эпитетами в названии, но
        {% if mismatch_type == "AuthorMismatch" %}
            с другим автором.
        {% endif %}
        {% if mismatch_type == "InfraMarkMismatch" %}
            с другой внутривидовой меткой.
        {% endif %}
        {% if mismatch_type == "InfraMarkAndAuthorMismatch" %}
            с дургим автором и внутривидовой меткой.
        {% endif %}
    </p>
    <p>Возможно ли, что Вы допустили ошибку?</p>
    <p>
        Проверьте нижеприведенные варианты записи названия таксона.
        Если какой-то из них покажется Вам более правильным, выберите его и нажмите кнопку <i>Использовать замену.</i>
    </p>
    {% if form.tu_cult_name %}<p>Замена не затронет культурное название</p>{% endif %}
    </details>
    <br>

    <form action="#">
        <div class="center">
        <h6>Варианты замены</h6>
        <p>источник: Catalogue Of Life</p>
        <div style="display: inline-block; text-align: left;">
        {% for variant in variants %}
        <p>
            <label>
                <input class="with-gap" name="variants" type="radio" />
                <span style="font-size: x-large">
                    <i>{{ variant.genus|title }}</i>
                    <i>{{ variant.species }}</i>
                    {% if variant.infraspecies_marker %}
                        <span
                                {% if mismatch_type == "InfraMarkMismatch" or mismatch_type == "InfraMarkAndAuthorMismatch" %}
                                    style="color: #008000"
                                {% endif %}>
                            {{ variant.infraspecies_marker }}
                        </span>
                    {% endif %}
                    {% if variant.infraspecies %}
                        <i>{{ variant.infraspecies }}</i>
                    {% endif %}
                    <span
                            {% if mismatch_type == "AuthorMismatch" or mismatch_type == "InfraMarkAndAuthorMismatch" %}
                                style="color: #008000"
                            {% endif %}>
                        {{ variant.author }}
                    </span>
                </span>
            </label>
        </p>
        {% endfor %}
        </div>
        </div>
    </form>
</div>