<div class="modal-content">
    <h4 class="center">
        Кажется что-то пошло не так...
    </h4>
    <br>

    {% if source == "col" %}
    <h5 class="center">При попытке сверить вносимый таксон с базой данных COL произошла ошибка</h5>
    {% else %}
        <h6 class="center">
            Вносимый таксон отсутствует в базе данных COL.
            Поэтому была предпринята попытка разпознать название через сервис TNRS.
        </h6>
        <h5 class="center">К сожалению, при обращении к сервиру TNRS произошла ошибка</h5>
    {% endif %}
    <br>
    <p class="center">Попробуйте повторить попытку через какое-то время</p>
    <p class="center">Если ошибка повторяется, то сообщите о ней администартору. Передайте ему следующую информацию:</p>

    <br>

    <div class="center">
        <div style="display: inline-block; text-align: left;">
        <h6>
            Вносимя ТУ:&emsp; {% comment %}&emsp; is tabulation{% endcomment %}
            <i>{{ form_data.tu_genera|title }}</i>
            <i>{{ form_data.tu_species }}</i>
            {% if form_data.tu_infra_mark %}
                    {{ form_data.tu_infra_mark }}
            {% endif %}
            {% if form_data.tu_infra_name %}
                <i>{{ form_data.tu_infra_name }}</i>
            {% endif %}
                {{ form_data.tu_author_name }}
            {% if form_data.tu_cult_name %}'{{ form_data.tu_cult_name }}'{% endif %}
        </h6>
        <h6>
            Код ошибки {% if source == "col" %}COL{% else %}TNRS{% endif %}:&emsp;{{ error }}
        </h6>
        </div>
    </div>

</div>