{% extends "base_templates/base_generic.html" %}

{% block title %}Новая единица, шаг 1{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_1.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

<!-- Loader -->
<div class="loader-overlay center-align">
    <div class="loader-inner">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
    </div>
    <p>сверка с внешними базами</p>
    </div>
</div>

<!-- Initiate grid -->
<div class="row">
<div class="col s12 m1 l2"></div>

<div class="col s12 m10 l8">
<form id="tu_form" action="#" method="post">
    <div class="card z-depth-3">
    <div id="form_title" class="valign-wrapper card-content text">
        <span class="card-title">Внесение новой Таксономической Единицы (шаг 1)</span>
    </div>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Taxonomy above genera part -->
    <div class="card-content">
    <span class="card-title center"><small>Семейство таксономической еденицы</small></span>
    <div class="divider"></div>

    <!-- Switch to change between enter and choose variants of family input -->
    <div id="family_choice_type" class="center">
        {% with label_left="Ввести" label_right="Выбрать" switch_id="family-switch" %}
            {% include "forms_parts/materialize_switch_manual.html" %}
        {% endwith %}
    </div>


    <!-- This part is for family choosing by consequent choices select -->
    <div id="family_choose" style="display: none;">
        <!-- class choice -->
        {% with id="select_class" label="Класс:" name="itis_class" placeholder="Выберите класс" %}
        {% with choices=class_choices error_message=form.itis_class.errors %}
            {% include "forms_parts/materialize_select_manual.html" %}
        {% endwith %}
        {% endwith %}

        <!-- order choice -->
        {% with id="select_order" label="Порядок:" name="itis_order" placeholder="Выберите порядок"%}
        {% with disabled="True" error_message=form.itis_order.errors %}
            {% include "forms_parts/materialize_select_manual.html" %}
        {% endwith %}
        {% endwith %}

        <!-- family choice -->
        {% with id="select_family" label="Семейство:" name="itis_family" placeholder="Выберите семейство"%}
        {% with disabled="True" error_message='При отказе от сверки с COL требуется укзать семейство' %}
            {% include "forms_parts/materialize_select_manual.html" %}
        {% endwith %}
        {% endwith %}
    </div>


    <!-- This part is for manual family entering -->
    <div id="family_enter">
        {% with field=form.col_family label="Семейство:" datalist=family_choices value=prev_data.col_family prefix='menu'%}
        {% with  error_message='При отказе от сверки с COL требуется укзать семейство' %}
            {% include "forms_parts/materialize_text.html" %}
        {% endwith %}
        {% endwith %}
    </div>
    </div>
    <!-- End of family choosing -->

    <!-- Genera and species names -->
    <div class="card-content">
        <span class="card-title center"><small>Название вида</small></span>
        <div class="divider"></div>
        <div class="row">
            <!-- Genera text input field -->
            <div class="col s12 m6 l6 xl6">
                {% with field=form.tu_genera label="Род:" prefix="filter_1"%}
                {% with  value=prev_data.tu_genera %}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
                {% endwith %}
            </div>


            <!-- Species text input field -->
            <div class="col s12 m6 l6 xl6">
                {% with field=form.tu_species label="Видовой эпитет:" prefix="filter_2"%}
                {% with  value=prev_data.tu_species %}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>


    <!-- Infra species info -->
    <div class="card-content">
        <span class="card-title center"><small>Внутривидовое название</small></span>
        <div class="divider"></div>

        <div class="row">
            <!-- Infra species mark select input field -->
            <div class="col s12 m6 l6 xl6">
            {% with field=form.tu_infra_mark label="Внутривидовая метка:" placeholder="Выберите внутривидовую метку" prefix="filter_3" %}
            {% with value=prev_data.tu_infra_mark%}
                {% include "forms_parts/materialize_select.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- Infra name text input field -->
            <div class="col s12 m6 l6 xl6">
            {% with field=form.tu_infra_name label="Внутривидовой эпитет:" prefix="filter_4" %}
            {% with  error_message="Вы указали внутривидовую метку, но не ввели имя" value=prev_data.tu_infra_name %}
                {% include "forms_parts/materialize_text.html" %}
            {% endwith %}
            {% endwith %}
            </div>
        </div>
    </div>


    <!-- Cultural type and name -->
    <div class="card-content">
        <span class="card-title center"><small>Культивар</small></span>
        <div class="divider"></div>

        <div class="row">
            <!-- Type of cultural species select input field -->
            <div class="col s12 m6 l6 xl6">
            {% with field=form.tu_cult_mark abel="Тип культивара:" placeholder="Выберите тип культивара"  prefix="filter_5" %}
            {% with value=prev_data.tu_cult_mark%}
                {% include "forms_parts/materialize_select.html" %}
            {% endwith %}
            {% endwith %}
            </div>

            <!-- Cultural name text input field -->
            <div class="col s12 m6 l6 xl6">
            {% with field=form.tu_cult_name label="Название культивара:" prefix="filter_6" %}
            {% with  error_message="Вы указали тип культивара, но не ввели имя" value=prev_data.tu_cult_name%}
                {% include "forms_parts/materialize_text.html" %}
            {% endwith %}
            {% endwith %}
            </div>
        </div>
    </div>

    <!-- Author name -->
    <div class="card-content">
        <span class="card-title center"><small>Автор</small></span>
        <div class="divider"></div>

        <!-- Author name text input field -->
        <div class="row">
            <div class="col s12 m2 l3"></div>
            <div class="col s12 m8 l6">
                {% with field=form.tu_author_name label="Автор ТЕ:" prefix="person_outline" %}
                {% with value=prev_data.tu_author_name%}
                    {% include "forms_parts/materialize_text.html" %}
                {% endwith %}
                {% endwith %}
            </div>
            <div class="col s12 m2 l3"></div>
        </div>
    </div>

    <div class="card-content">
        <div class="divider"></div>
        <br>

    <!-- Checkbox for IS_HYBRID question -->
    <div class="row">
    <div class="col s12 m6 l6">
        <p class="center">
          <label for="id_is_hybrid">
          <input type="checkbox"
                 name="is_hybrid"
                 class="filled-in"
                 id="id_is_hybrid"
                 {% if prev_data.is_hybrid == True %}
                     checked="checked"
                 {% endif %}
          />
          <span>Является гибридом?</span>
          </label>
        </p>
    </div>

    <!-- Checkbox for COL_CHECK question -->
    <div class="col s12 m6 l6">
        <p class="center">
          <label for="id_col_check">
          <input type="checkbox"
                 name="col_check"
                 class="filled-in"
                 id="id_col_check"
                 {% if prev_data %}
                    {% if prev_data.col_check == True %}
                     checked="checked"
                    {% endif %}
                 {% else %}
                     checked="checked"
                 {% endif %}
          />
          <span>Сверить COL?</span>
          </label>
        </p>
    </div>
    </div>
    </div>

    <!-- Next button -->
    <div class="divider"></div>
    <br>
    <div id="action-button" class="center">
        <a class="waves-effect waves-light btn" role="button" onclick="submit_button()">Далее</a>
    </div>
</div>
</form>

<!-- End of grid -->
</div>
<div class="col s12 m1 l2"></div>
</div>

<!-- Place for modals -->
<!-- Exists modal -->
<div id="resp_modal" class="modal modal-fixed-footer">
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="modals_close()">Вернуться к форме</a>
    </div>
</div>
{% endblock %}

{% block tail_import %}
    <script src="{% static "collection/js_bundles/new_tu_form_1.min.js" %}"></script>
{% endblock %}