<div class="modal-content">
    <h5 class="center">
        Вводимая ТУ является синонимом
    </h5>
    <br>
    <p class="center">Согласно данным Catalogue of Life вводимое название является синонимом</p>

    <br>

    <div class="center">
        <h6>Варианты замены</h6>
        <p>источник: Catalogue Of Life</p>
        <div style="display: inline-block; text-align: left;">
        <h5>
            <span style="color: #a21318">Cиноним:&nbsp;&emsp;</span>
            <i>{{ form.tu_genera|title }}</i>
            <i>{{ form.tu_species }}</i>
            {% if form.tu_infra_mark %}{{ form.tu_infra_mark }}{% endif %}
            {% if form.tu_infra_name %}{{ form.tu_infra_name }}{% endif %}
            {{ form.tu_author_name }}
            {% if form.tu_cult_name %}'{{ form.tu_cult_name }}'{% endif %}
        </h5>

        <br>

        <h5>
            <span style="color: #1B5E20">Базионим:&emsp;</span>
            {{ col.html_str | safe }}
        </h5>
        </div>
    </div>
    <p><i>* культурное название и тип не участвуют в проверке</i></p>

    <br>

    <p>Если Вы согласны использоавть базионим вместо синонима, нажмите кнопку "использовать бизаионим"</p>
</div>