{% extends "base_templates/base_generic.html" %}

{% block title %}Изменение профайла особи{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/edit_individual_profile.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="full-heigh-row" class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <form id="individ_form" action="" method="POST">
            {% csrf_token %}
            {{ form.tu_id }}
            {{ form.input_author }}
            <div class="card z-depth-3">
                <div id="form_title" class="valign-wrapper card-content text">
                    <span class="card-title">Радактирование данных сособи</span>
                </div>

                <div class="card-content">
                    <div id="card-subtitle" class="center">
                        <h6>
                            Вы правите особь №{{ ind_obj.id }} таксона <a href="{% url "tu_profile" ind_obj.tu_id.id %}">{{ ind_obj.tu_id.full_html_name|safe }}</a>
                        </h6>
                    </div>
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    <div id="errors" class="center hidden">
                        <h6>
                            Подробная проверка вносимых данных на сервере обнаружила ошибки
                        </h6>
                        <i>Вообще-то этого не должно было произойти</i>
                        <p>
                            Перепроверьте свои данные еще раз, при повторении проблемы обратитесь к администратору.
                        </p>
                    </div>
                </div>

                <!-- Actual from -->
                <div class="card-content">
                    <div class="row form-row valign-wrapper">
                        <div class="col s12 m8 l8">
                            <!-- Field number -->
                            {% with field=form.field_number type="number"%}
                            {% with label='Полевой номер' %}
                                {% include "forms_parts/materialize_text.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div id="is_alive-col" class="col s12 m4 l4 center-align">
                            <!-- is alive -->
                            {% with field=form.is_alive%}
                            {% with label='Живое ?' %}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="row form-row">
                        <div class="col s12 m6 l6">
                            {% with field=form.income_date date="True" value=ind_obj.income_date|date:'Y-m-d'%}
                            {% with label='Дата поступления' %}
                                {% include "forms_parts/materialize_text.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="col s12 m6 l6">
                            {% with field=form.out_date date="True" value=ind_obj.out_date|date:'Y-m-d'%}
                            {% with label='Дата выпада (если есть)' %}
                                {% include "forms_parts/materialize_text.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="row form-row">
                        <div class="col s12 m6 l6">
                            {% with field=form.department_id%}
                            {% with label='Подразделение ДБС' %}
                                {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="col s12 m6 l6">
                            {% with field=form.cult_type%}
                            {% with label='Способ выращивания' %}
                                {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </div>

                    <div class="divider"></div>

                    {# Origin part #}
                    <div class="row form-row">
                        {# Radio buttons for origin selection #}
                        <div class="col s12">
                            <p class="center">Происхождение особи</p>
                            <div class="v-1-spacer"></div>
                            <div class="flex-row-resp-space-around">
                                {% with field=form.origin with_gap='True'%}
                                    {% include "forms_parts/materialize_radio_select.html" %}
                                {% endwith %}
                            </div>
                            <div class="v-1-spacer"></div>
                        </div>

                        {# The tab for city selection #}
                        <div id="city-tab" class="tab col s12 {% if not form.origin.3.data.selected %}invisible{% endif %}">
                            <div class="v-2-spacer"></div>
                            <div class="flex-row-resp-space-around">
                                <div class="flex-grow-1-resp padding-side-1rem">
                                    {% with field=form.country %}
                                        {% include "forms_parts/materialize_select.html" %}
                                    {% endwith %}
                                </div>

                                <div class="flex-grow-1-resp padding-side-1rem">
                                    {% with field=form.admin %}
                                        {% include "forms_parts/materialize_select.html" %}
                                    {% endwith %}
                                </div>

                                <div class="flex-grow-1-resp padding-side-1rem">
                                    {% with field=form.city %}
                                        {% include "forms_parts/materialize_select.html" %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>

                        {# The tab for location selection #}
                        <div id="location-tab" class="tab col s12 {% if not form.origin.2.data.selected %}invisible{% endif %}">
                            <div class="v-2-spacer"></div>
                            <div id="location-map"></div>
                            <input type="hidden" name="origin_loc" id="id_origin_loc">
                        </div>

                        {# Income material and comment #}
                        <div class="col s12 m12 l6">
                            <div class="v-1-spacer"></div>
                            {% with field=form.income_material%}
                            {% with label='Материал поступления' %}
                                {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                        <div class="col s12 m12 l6">
                            <div class="v-1-spacer"></div>
                            {{ form.source.max_length }}
                            {% with field=form.source%}
                            {% with label='Комментарий' %}
                                {% include "forms_parts/materialize_text_area.html" %}
                            {% endwith %}
                            {% endwith %}
                        </div>
                    </div>

                    <div class="row form-row">
                        <div class="col s12 m12 l12">
                            <!-- Example output = {"type":"Point","coordinates":[1500.0766800965848,-243.96143752108765]} -->

                            <div id="map"></div>
                            <input type="hidden" name="spatial_pos" id="id_spatial_pos" value='{{ ind_obj.spatial_pos.geojson|safe }}'>

                        </div>
                    </div>
                    <div class="row">
                        <div class="legend">
                            <div class="legend-inner"><span id="initial-pos" class="dot"></span><span>Исходное положение</span></div>
                            <div class="legend-inner"><span id="other-pos" class="dot"></span><span>Положение других особей</span></div>

                            <button id='refresh-btn' class="btn waves-effect waves-light btn-small red">Убрать маркер</button>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="row form-row">
                        <div class="col s12 m12 l12 center-align">
                            <div id="action-button">
                                <button class="primaryAction waves-effect waves-light btn" form="individ_form" type="submit" name="action">
                                    Сохранить
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="col s12 m1 l2"></div>
    </div>

    {# The part for geojson object generation #}
    <script>
        const city_search_url = '{% url 'simple_city_filter' %}';
        const exist_ind = {{ exist_ind|safe }};
        const initial_pos = {% if ind_obj.spatial_pos %}{{ ind_obj.spatial_pos.geojson|safe }}{% else %}null{% endif %};
        const initial_pos_for_map = {{ spatial_pos_for_map|safe }};
        const tu_name = `{{ ind_obj.tu_id.html_str|safe }}`;
        const initial_origin_loc = {{ initial_origin_loc|safe }};
    </script>
{% endblock %}

{% block tail_import %}
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "leaflet_misc/leaflet_misc.min.js" %}"></script>
    {# Solve Leaflet Icon url #}
    {% include "leaflet_misc/leaflet_misc.html" %}
    <script src="{% static "collection/js_bundles/edit_individual_profile.min.js" %}"></script>
{% endblock %}