{% extends "base_templates/base_generic.html" %}

{% block title %}Профайл особи{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/individual_profile.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="full-heigh-row" class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">

        <div class="row">

            <div class="col s12 m12 l12 center-align">
                <h1 class="text-main">Таксон <a href="{% url "tu_profile" tu_obj.id %}">{{ tu_obj.full_html_name|safe }}</a> особь № {{ ind_obj.id }}</h1>
            </div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12 m12 l12 center-align">
                <p class="large-text">
                    В данный момент особь числится, как
                </p>
                <p class="large-text large-text-bold">
                    {% if ind_obj.is_alive %}живая{% else %}выбывшая (мертвая){% endif %}
                </p>
                <p class="large-text">
                    И приписана к подразделению:
                </p>
                <p class="large-text large-text-bold">
                    {{ ind_obj.department_id.name }}
                </p>
            </div>
        </div>

        <div class="flex-wrapper">
            <div>
                <p>Идентификаторы</p>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                ID в базе данных
            </div>
            <div class="col s12 m8 l8 cat-info">
                {{ ind_obj.id }}
            </div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Полевой номер
            </div>
            <div class="col s12 m8 l8 cat-info">
                <p>
                    {% if ind_obj.field_number %}
                        {{ ind_obj.field_number }}
                    {% else %}
                        Не указан (Вы можете добавить эту информацю с помощью кнопки <i class="material-icons md-18">more_horiz</i>)
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="flex-wrapper">
            <div>
                <p>Местоположение</p>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                {% if ind_obj.spatial_pos %}
                <div id="map"></div>

                {# Set coordinates #}
                <script>
                    var spat_pos = {{ ind_obj.spatial_pos.geojson|safe }};
                </script>
                {% else %}
                    <p>Пространственное положение не указно. Вы можете внести эту информацию с помощью кнопки <i class="material-icons">more_horiz</i></p>
                {% endif %}
            </div>
        </div>

        {# Individual income data =================================================================================== #}
        <div class="flex-wrapper">
            <div>
                <p>Поступление</p>
            </div>
            <div class="divider"></div>
        </div>


        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Дата поступления
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {% if ind_obj.income_date %}
                        {{ ind_obj.income_date }}
                    {% else %}
                        Не указана (Вы можете добавить эту информацю с помощью кнопки <i class="material-icons md-18">more_horiz</i>)
                    {% endif %}
                </p>
            </div>
        </div>

        {% if not ind_obj.is_alive %}
        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Дата выпада
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {% if ind_obj.out_date %}
                        {{ ind_obj.out_date }}
                    {% else %}
                        Не указана (Вы можете добавить эту информацю с помощью кнопки <i class="material-icons md-18">more_horiz</i>)
                    {% endif %}
                </p>
            </div>
        </div>
        {% endif %}

        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Вид поступления
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {% if ind_obj.income_material %}
                        {{ ind_obj.get_income_material_display }}
                    {% else %}
                        Не указан (Вы можете добавить эту информацю с помощью кнопки <i class="material-icons md-18">more_horiz</i>)
                    {% endif %}
                </p>
            </div>
        </div>

        {% if ind_obj.origin == ind_obj.LOCAL or ind_obj.origin == ind_obj.EMPTY_LOC%}
            <div class="row valign-wrapper">
                <div class="col s12 m4 l4 cat-name">
                    Происхождение
                </div>
                <div class="col s12 m8 l8 cat-info">
                     <p>
                        {{ ind_obj.get_origin_display }}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="flex-wrapper">
                <div>
                    <p>Источник</p>
                </div>
                <div class="divider"></div>
            </div>
            {% if ind_obj.origin == ind_obj.NATURE %} {# Show OSM map with source point #}
                <div class="row">
                    <div class="col s12 m12 l12 center">
                        <p>Природное происхождение, точка сбора</p>
                    </div>
                    <div class="col s12 m12 l12">
                        <div id="location-map"></div>

                        {# Set coordinates #}
                        <script>
                            var origin_location = {{ ind_obj.origin_loc.geojson|safe }};
                        </script>
                    </div>
                </div>
            {% else %} {# Show City name and city position on globe #}
                <div class="row">
                    <div class="col s12 m12 l12 center">
                        <p>Материал поступил из города</p>
                        <h5>
                            {% if ind_obj.city.name_ru %}
                                {{ ind_obj.city.name_ru }}
                            {% else %}
                                {{ ind_obj.city.name }}
                            {% endif %}
                            ({% if ind_obj.city.sov_id.name_ru %}
                                {{ ind_obj.city.sov_id.name_ru }}
                            {% else %}
                                {{ ind_obj.city.sov_id.name }}
                            {% endif %})
                        </h5>
                    </div>
                    <div class="col s12 m12 l12 flex-col-center">
                        <div id="city-globe"></div>
                        <script>
                            var city_location = {{ ind_obj.city.point.geojson|safe }};
                        </script>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Комментарий к источнику
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {% if ind_obj.source %}
                        {{ ind_obj.source }}
                    {% else %}
                        Не указан (Вы можете добавить эту информацю с помощью кнопки <i class="material-icons md-18">more_horiz</i>)
                    {% endif %}
                </p>
            </div>
        </div>

        {# Record history =========================================================================================== #}
        <div class="flex-wrapper">
            <div>
                <p>История данных</p>
            </div>
            <div class="divider"></div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Сотрудник добавивший особь
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {{ ind_obj.input_author.get_user_reference }}
                </p>
            </div>
        </div>

         <div class="row valign-wrapper">
            <div class="col s12 m4 l4 cat-name">
                Дата внесения
            </div>
            <div class="col s12 m8 l8 cat-info">
                 <p>
                    {{ ind_obj.input_date }}
                </p>
            </div>
        </div>

    </div>

    <div class="col s12 m1 l2"></div>

    {# Floating button #}

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">more_horiz</i>
      </a>
      <ul>
        <li>
            <a href="{% url 'edit_individual' ind_obj.id %}" class="btn-floating green tooltipped" data-position="left" data-tooltip="Править">
                <i class="material-icons">edit</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue tooltipped modal-trigger"
               data-position="left" data-tooltip="Печать" href="#print-mod">
                <i class="material-icons">print</i>
            </a>
        </li>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Удалить особь">
                <i class="material-icons">delete_forever</i>
            </a>
        </li>
      </ul>
    </div>

    </div>

    {# Modal for label type choice #}
    <div id="print-mod" class="modal">
        <div class="modal-content">
            <p id="print-mod-head" class="center">Выберите тип этикетки</p>
            <a href="{% url 'label_pdf_gen' ind_obj.tu_id.id ind_obj.id 1 %}">
                <div class="row label-type valign-wrapper">
                    <div class="col s12 m4 valign-wrapper center">
                        <h6>Крупная с темным фоном</h6>
                    </div>
                    <div class="col s12 m8 img-col">
                        <img src="{% static "labels_examples/rect_dark_label.jpg"%}">
                    </div>
                </div>
            </a>
            <a href="{% url 'label_pdf_gen' ind_obj.tu_id.id ind_obj.id 2 %}">
                <div class="row label-type valign-wrapper">
                    <div class="col s12 m4 valign-wrapper center">
                        <h6>Узкая длинная</h6>
                    </div>
                    <div class="col s12 m8 img-col">
                        <img src="{% static "labels_examples/narrow_label.jpg"%}">
                    </div>
                </div>
            </a>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn-flat" style="border: 1px solid black">Отмена</a>
        </div>
    </div>
    <script>
        var country_110_topo = "{% static "world_atlas/countries-110m.json" %}"
    </script>
{% endblock %}


{% block tail_import %}
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "leaflet_misc/leaflet_misc.min.js" %}"></script>
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "world_atlas/topojson-client.min.js" %}"></script>
    {# Solve Leaflet Icon url #}
    {% include "leaflet_misc/leaflet_misc.html" %}
    <script src="{% static "collection/js_bundles/individual_profile.min.js" %}"></script>
{% endblock %}