#taxons-table-wrapper {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

#taxons-table {
  height: 100%;
}

a .material-icons{
  font-size: 21px;
}

// Reset checkboxes in dropdown
.htCheckboxRendererInput {
  position: initial !important;
  opacity: initial !important;
}

.card-title{
  padding-bottom: 1rem;
  text-align: center;
}