{% extends "base_templates/base_generic.html" %}

{% block title %}Добавление изображения{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "dropify/dropify.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/new_tu_form_5.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="loader" class="loader-overlay center-align">
        <div class="loader-inner">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
        </div>
        <p>Идет обработка изображения</p>
        <p>Это может занять некоторое время</p>
        </div>
    </div>

    <div id="full-heigh-row" class="row valign-wrapper">
        <div class="col s12 m1 l2"></div>
            {# Form column #}
            <div class="col s12 m10 l8">
                <form id="add_image_form" action="" method="POST" enctype="multipart/form-data" onsubmit="confirm(this)">
                    {% csrf_token %}
                    <input type="hidden" value="{{ tu_obj.id }}" name="tu_id">
                    <div class="card z-depth-3">
                        {# Form title #}
                        <div id="form_title" class="valign-wrapper card-content text">
                            <span class="card-title">Внесение нового изображения</span>
                        </div>
                        <div class="card-content">
                            <div class="v-1-spacer"></div>
                            <div id="card-subtitle" class="center">
                                <h5>
                                    Внесите изображение для таксона {{ tu_obj.full_html_name|safe }}
                                </h5>
                            </div>
                        </div>
                        {# Form subtitle #}
                        <div class="card-content">
                            {# Errors #}
                            <div class="form-error">
                                {{ form.non_field_errors }}
                            </div>
                        </div>

                        <div class="v-1-spacer"></div>
                        {# Form fields #}
                        <div class="card-content">
                            <div class="row">
                                <div id="info-col" class="col s12 m6 l6">
                                    <!-- Author text input field -->
                                    <div class="author-text">
                                    {% with field=form.author %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                    </div>

                                    <!-- date text input field -->
                                    <div class="date-text">
                                    {% with field=form.date date='true'%}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                    </div>

                                    <!-- caption text input field -->
                                    <div class="caption-text">
                                    {% with field=form.caption %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                    </div>

                                    <!-- description text area input field -->
                                    <div class="description-text">
                                    {% with field=form.description%}
                                        {% include "forms_parts/materialize_text_area.html" %}
                                    {% endwith %}
                                    </div>

                                    <!-- rate input field -->
                                    <div class="rating-text">
                                    <div class="rating-container">
                                    <div class="rating-label valign-wrapper">Оценка изображения</div>
                                    <div class="rating large star-icon direction-ltr value-3 color-ok label-left">
                                        <!-- first prepare hiden text input -->
                                        <input class="rating-input hidden" id="id_rate" name="rate" type="text" value="3">
                                        <div id="star-input" class="star-container">
                                            <div class="star" data-value="1">
                                                <i class="star-empty"></i>
                                                <i class="star-half"></i>
                                                <i class="star-filled"></i>
                                            </div>
                                            <div class="star" data-value="2">
                                                <i class="star-empty"></i>
                                                <i class="star-half"></i>
                                                <i class="star-filled"></i>
                                            </div>
                                            <div class="star" data-value="3">
                                                <i class="star-empty"></i>
                                                <i class="star-half"></i>
                                                <i class="star-filled"></i>
                                            </div>
                                            <div class="star" data-value="4">
                                                <i class="star-empty"></i>
                                                <i class="star-half"></i>
                                                <i class="star-filled"></i>
                                            </div>
                                            <div class="star" data-value="5">
                                                <i class="star-empty"></i>
                                                <i class="star-half"></i>
                                                <i class="star-filled"></i>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                                    <!-- main_scr checkbox input field -->
                                    <div class="center main_scr-wrapper">
                                    {% with field=form.main_scr %}
                                        {% include "forms_parts/materialize_checkbox.html" %}
                                    {% endwith %}
                                    </div>
                                </div>
                                <div id="img-col" class="col s12 m6 l6">
                                    <!-- Image input field -->
                                    <div>
                                        <label for="id_img">Изображение:</label>
                                        <div class="dropify-error" hidden>Нужно добавить изображение</div>
                                    </div>
                                    <input
                                            id="id_img" type="file" class="dropify validate" name="img" required
                                            data-max-file-size-preview="12M" data-max-file-size="12M"
                                            data-allowed-file-extensions="bmp png jpg jpeg psd gif tif"
                                            data-min-height="768" data-min-width="1024"
                                            data-changed=""
                                    />
                                </div>
                            </div>
                        </div>
                        {# Buttons #}
                        <div class="divider-margin"></div>

                        <div class="row form-row">
                            <div class="col s12 m12 l12 center-align">
                                <div id="action-button">
                                    <button class="primaryAction waves-effect waves-light btn" form="add_image_form"
                                            type="submit" name="action">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col s12 m1 l2"></div>
    </div>
{% endblock %}

{% block tail_import %}
    <script src="{% static "dropify/dropify.min.js" %}"></script>
    <script src="{% static "collection/js_bundles/image_forms.min.js" %}"></script>
{% endblock %}