{% extends "base_templates/base_generic.html" %}

{% block title %}Коллекция, расширенный поиск{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "search/css_bundles/collection_full_search.min.css" %}">
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True collection_search_ext=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    {# Header (above tabs) ===========================================================================================#}
    <div class="col s12">
        <div id="header">
            {# placeholder for nav tabs #}
        </div>
    </div>

    {# Tabs =========================================================================================================#}
    {# Tab1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <form id="main-form" name="main-form" action="{% url "collection_full_search" %}" method="post">
    {% csrf_token %}
    <div id="tab1" class="col s12">
        <div class="row tab-content">
             <div class="col s12 m1 l1"></div>
            {# Tab content #}
            <div class="col s12 m10 l10">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Общие фильтры</span>
                        {# Row 1 #}
                        <div class="flex-row-space-around">
                            {# Select target #}
                            <div class="flex-col-center">
                                <div class="padding-1rem large"><p>Цель поиска</p></div>
                                <div>
                                    <div class="radio-row">
                                        {% with field=form.type with_gap="True"%}
                                        {% include "forms_parts/materialize_radio_select.html" %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                            {# Alive only #}
                            <div class="flex-col-center">
                                {% with field=form.alive_only %}
                                    {% include "forms_parts/materialize_checkbox.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>

                        {# Row 2 #}
                        <div class="flex-row-resp-space-around">
                            {# Select target #}
                            <div class="flex-grow-1-resp padding-side-2rem">
                                {% with field=form.departments_ids %}
                                {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>

                        {# Row 3 #}
                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem">
                            {% with field=form.after_time date='True'%}
                                {% include "forms_parts/materialize_text.html" %}
                            {% endwith %}
                            </div>
                            <div class="flex-grow-1-resp padding-side-2rem">
                            {% with field=form.before_time date='True'%}
                                {% include "forms_parts/materialize_text.html" %}
                            {% endwith %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>

                        {# Row 4 #}
                        <div class="flex-row-resp-space-around">
                            <div class="padding-side-1rem scr-sm-padding-bottom">
                            {% with field=form.in_col%}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            </div>
                            <div class="padding-side-1rem scr-sm-padding-bottom">
                            {% with field=form.not_in_col%}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            </div>
                            <div class="padding-side-1rem scr-sm-padding-bottom">
                            {% with field=form.hybrid_only%}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            </div>
                            <div class="padding-side-1rem scr-sm-padding-bottom">
                            {% with field=form.with_images%}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>

                        {# Row 5 IUCN RED LIST #}
                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center scr-sm-padding-bottom">
                            {% with field=form.in_red_list %}
                                {% include "forms_parts/materialize_checkbox.html" %}
                            {% endwith %}
                            </div>
                            <div class="flex-grow-2-resp padding-side-2rem">
                            {% with field=form.red_list_cat%}
                                {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>

    {# Tab2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div id="tab2" class="col s12">
        <div class="row tab-content">
             <div class="col s12 m1 l1"></div>
            {# Tab content #}
            <div class="col s12 m10 l10">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Таксономические фильтры</span>

                        {# Row 1 #}
                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.col_phylum%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.col_class%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="flex-row-resp-space-around">
                             <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.col_order%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                             <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.col_family%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.genera_name%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>

    {# Tab3 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div id="tab3" class="col s12">
        <div class="row tab-content">
             <div class="col s12 m1 l1"></div>
            {# Tab content #}
            <div class="col s12 m10 l10 center">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">Фильтры по экологическим группам</span>

                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.raunc_form%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.moisture%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="divider-margin"></div>

                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.light%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.fertility%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.salinity%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.acidity%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="divider-margin"></div>


                        <div class="flex-row-resp-space-around">
                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.phenotype%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>

                            <div class="flex-grow-1-resp padding-side-2rem center">
                                {% with field=form.cenotype%}
                                    {% include "forms_parts/materialize_select.html" %}
                                {% endwith %}
                            </div>
                        </div>

                        <div class="divider-margin"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>
    {# Tab4 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
    <div id="tab4" class="col s12">
        <div class="row tab-content">
             <div class="col s12 m1 l1"></div>
            {# Tab content #}
            <div class="col s12 m10 l10 center">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center">
                            Пространственные фильтры
                            <span class="text-medium">(<a class="modal-trigger" href="#spat-instruction">инструкция</a>)</span>
                        </span>
                        <div class="v-1-spacer"></div>
                        <div id="map"></div>
                        {{ form.sp_level_1 }}
                        {{ form.sp_level_2 }}
                        {{ form.sp_level_3 }}
                    </div>
                </div>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>


    {# Send button #}
    <div id="send-btn-row" class="row tab-content">
        <div class="col s12 m1 l1"></div>
        <div class="col s12 m10 l10">
            <div class="card">
                <div class="card-content center">
                    <button type="submit" id="send-button" class="primaryAction btn" form="main-form">
                        Использовать фильтры
                    </button>
                </div>
            </div>
        </div>
        <div class="col s12 m1 l1"></div>
    </div>

    </form>

    {# Modals #}
    <div id="spat-instruction" class="modal">
    <div class="modal-content">
        <h4>Как использовать пространственные фильтры</h4>
            <p>Суть: выбрать особи или соответствующие таксономические единицы произрастающие на конкретных участках
                территории ДБС. Для применения фильтра выберите интересующие участки:</p>
            <ol>
                <li>
                    (опционально) Выберите один из 3-х уровней детализации с помощью кнопки «Слои» в правом верхнем
                    углу карты. Доступные для выбора участки имеют границы синего цвета.
                </li>
                <li>
                    Кликните на интересующий участок. Выбранный участок подсвечивается синим.
                </li>
                <li>
                    Кликните на появившуюся в левом верхнем углу кнопку «Сохранить».
                    Сохраненные участки подсвечиваются фиолетовым цветом.
                </li>
                <li>
                    (опционально) Если Вы передумали и хотите удалить ранее сохраненный участок, кликните на него еще
                    раз и нажмите появившуюся кнопку «Удалить».
                </li>
            </ol>
            <p>Сохранять можно неограниченное количество участков из одного или нескольких слоев сразу.</p>
            <p>После нажатия кнопки «Отфильтровать» (находится под формой) система отберет только те особи,
                которые расположены в пределах сохраненных (фиолетовых) участков.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Понятно</a>
        </div>
    </div>

    {# Scripts #}
    <script>
        var poly_1 = {{ poly_1|safe }};
        var poly_2 = {{ poly_2|safe }};
        var poly_3 = {{ poly_3|safe }};
    </script>
{% endblock %}


{% block tail_import %}
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "search/js_bundles/collection_full_search.min.js" %}"></script>
{% endblock %}