{% extends "base_templates/base_generic.html" %}

{% block title %}{{ tu_obj }}{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/tu_profile.min.css" %}">
    <link rel="stylesheet" href="{% static "photoswipe/photoswipe.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True extended=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="col s12">
        <div class="header">
            <div><h1 id="tu-name-title">{{tu_obj.full_html_name|safe}}</h1></div>
            <div id="info-markers">
                <div class="marker">
                    <p>Catalogue of life</p>
                    {% if tu_obj.col %}
                    <i class="material-icons mi-green">done</i>
                    {% else %}
                    <i class="material-icons mi-gray">clear</i>
                    {% endif %}
                </div>
                <div class="marker">
                    <p>Список МСОП</p>
                    {% if tu_obj.redlistiucn.in_red_list %}
                    <i class="material-icons mi-green">done</i>
                    {% else %}
                    <i class="material-icons mi-gray">clear</i>
                    {% endif %}
                </div>
                <div class="marker">
                    <p>Живые особи</p>
                    {% if tu_obj.has_alive %}
                    <i class="material-icons mi-green">done</i>
                    {% else %}
                    <i class="material-icons mi-gray">clear</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Tabs =========================================================================================================#}
    {# Tab1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div id="tab1" class="col s12">
        <div class="row tab-content">
            <div class="col s12 m1 l1"></div>
            {# Tab content #}
            <div class="col s12 m10 l10 center">
                <div class="tab1-flex-row">
                    {# Column 1 #}
                    <div class="tab1-item{% if images %}{% else %}-wide{% endif %}">
                        <div class="card full-height">
                            {# Full name ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
                            <div class="card-content">
                              <span class="card-title">Полное название</span>
                                <div class="large-text">
                                    {{ tu_obj.full_html_name|safe }}
                                </div>
                                <div>
                                    {% if tu_obj.col %}
                                        <i class="text-positive">(сверено с Catalogue of life)</i>
                                    {% else %}
                                        <i class="text-negative">(сверка с Catalogue of life не проводилась)</i>
                                    {% endif %}
                                </div>
                            </div>
                            {# Vernaculars ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
                            {% if vernaculars %}
                            <div class="card-content left-align">
                                <span class="card-title secondary-title">Вернакулярные названия</span>
                                <div id="vern-row">
                                    <div id="vern-list">
                                        {% for vern in vernaculars %}
                                            <div class="vern-item">
                                                {{ vern.html_str|safe }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="vern-edit">
                                        <a class="btn-floating modal-trigger edit-button-inline tooltipped"
                                           data-position="left" data-tooltip="Править" href="#modalvern">
                                            <i class="material-icons">create</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                            {% endif %}

                            {# Taxonomic position ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
                            <div class="card-content left-align">
                                <span class="card-title secondary-title">Таксономическое положение</span>
                                <div id="taxonomy-wrapper">
                                    <div id="taxons" class="taxonomy-item">
                                        <div><p>Царство:</p></div>
                                        <div><p>Отдел:</p></div>
                                        <div><p>Класс:</p></div>
                                        <div><p>Порядок:</p></div>
                                        <div><p>Семейство:</p></div>
                                    </div>
                                    <div id="taxon-names-list" class="taxonomy-item">
                                        <div class="taxon-name">
                                            <p>{{ tu_obj.family_col.col_kingdom }}</p>
                                        </div>
                                        <div class="taxon-name">
                                            <p>{{ tu_obj.family_col.col_phylum }}</p>
                                        </div>
                                        <div class="taxon-name">
                                            <p>{{ tu_obj.family_col.col_class }}</p>
                                        </div>
                                        <div class="taxon-name">
                                            <p>{{ tu_obj.family_col.col_order }}</p>
                                        </div>
                                        <div class="taxon-name">
                                            <p>{{ tu_obj.family_col.col_family }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>

                            {# Base info ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
                            <div class="card-content left-align">
                                <div id="base-info-wrapper">
                                    <div class="base-info-item">
                                        <div class="base-info-col1">
                                            <p>Идентификационный номер:</p>
                                        </div>
                                        <div class="base-info-col2">
                                            <p>{{ tu_obj.pk }}</p>
                                        </div>
                                    </div>
                                    <div class="base-info-item">
                                        <div class="base-info-col1">
                                            <p>Количество особей:</p>
                                        </div>
                                        <div class="base-info-col2">
                                            <p>
                                                {% if individuals %}
                                                    {{ individuals|length }}
                                                {% else %}
                                                    не указаны
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="base-info-item">
                                        <div class="base-info-col1">
                                            <p>Дата внесения:</p>
                                        </div>
                                        <div class="base-info-col2">
                                            <p>
                                                {{ tu_obj.input_date }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="base-info-item">
                                        <div class="base-info-col1">
                                            <p>Сотрудник:</p>
                                        </div>
                                        <div class="base-info-col2">
                                            <p>
                                                {{ tu_obj.input_author.get_user_reference }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Column 2 #}
                    {% if images %}
                    <div class="tab1-item">
                        {# Get first image with the highest rating #}
                        {% with first_img=images|first %}
                            <div class="card full-height tab1-img-card">
                                <div id="tab1-img" class="card-image">
                                    <picture>
                                        <source media="(min-width: 500px)"
                                                type="image/webp"
                                                srcset="{{first_img.img_1x_webp.url}} 1x,
                                                        {{first_img.img_2x_webp.url}} 2x,
                                                        {{first_img.img_3x_webp.url}} 3x,">
                                        <source media="(min-width: 500px)"
                                                type="image/jpg"
                                                srcset="{{first_img.img_1x_jpg.url}} 1x,
                                                        {{first_img.img_2x_jpg.url}} 2x,
                                                        {{first_img.img_3x_jpg.url}} 3x,">
                                        <source media="(max-width: 500px)"
                                                type="image/webp"
                                                srcset="{{first_img.img_thunb_webp.url}} 1x">
                                        <img id="tab1-img" src="{{first_img.img_thunb_jpg.url}}"
                                             alt="{{ first_img.img_caption }}">
                                    </picture>
                                </div>
                                <div id="tab1-img-cap" class="card-content">
                                    {{first_img.full_caption|safe}}
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m1 l1"></div>
        </div>
    </div>

    {# Tab2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div id="tab2" class="col s12">
        <div class="row tab-content">
            <div class="col s12 m1 l2"></div>
            {# Tab content #}
            <div class="col s12 m10 l8 center">
                {# Check if the TU has any individuals #}
                {% if individuals %}
                    <div class="card">
                        <div id="tab2-title" class="card-content">
                            <span class="card-title">Для таксономической единицы
                                {% if individuals|length == 1 %}
                                    внесены данные 1 особи
                                {% else %}
                                    внесены данные {{ individuals|length }} особей
                                {% endif %}.
                            </span>
                        </div>
                        <div>
                            <p> Из них:</p>
                            <div class="flex-row-space-around">
                                {% for obj in alive_counts %}
                                    {% if obj.is_alive %}
                                        <p>живых &ndash; {{ obj.total }}</p>
                                    {% else %}
                                        <p>выпавших &ndash; {{ obj.total }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="divider"></div>

                        {# Timeline graph #}
                        <div class="small-title-narrow">
                            <p>График пребывания особей в коллекции</p>
                        </div>
                        <div id="ind-timeline"></div>
                        {# legend #}
                        <div class="flex-row-space-around">
                            <div class="flex-row-center p-demargin">
                                <div id="box-dead"></div>
                                <p>выпавшие</p>
                            </div>
                            <div class="flex-row-center p-demargin">
                                <div id="box-alive"></div>
                                <p>живые</p>
                            </div>
                        </div>
                        <div class="divider-margin"></div>
                    </div>

                    {# Individuals list #}
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">list_alt</i>
                                <div class="small-title-narrow p-demargin">
                                    <p>Список особей (ссылки на профайлы)</p>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <table class="responsive-table">
                                <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Полевой №</th>
                                      <th>Живая?</th>
                                      <th>Отдел</th>
                                      <th>Профайл</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for ind in individuals %}
                                    <tr>
                                        <td>{{ ind.pk }}</td>
                                        <td>{{ ind.filed_number }}</td>
                                        <td>{{ ind.is_alive|yesno:"Да,Нет,🙄"  }}</td>
                                        <td>{{ ind.department_id.name }}</td>
                                        <td>
                                            <a href="{% url "individual_profile"  ind.tu_id.id ind.id %}">
                                                <i class="material-icons">link</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>

                    {# Individuals list #}
                    <div class="card">
                        <div class="card-content">
                            <span class="small-title-narrow">
                                Карта расположения особей
                            </span>
                        </div>
                        <div id="ind-map"></div>
                    </div>
                    {# Add individual #}

                    <div class="card">
                        <div class="flex-row-space-between padding-1rem">
                            <div class="small-title-narrow">
                                Добавить особь
                            </div>
                            <div>
                                <a class="btn-floating tooltipped"
                                   data-position="left" data-tooltip="Добавить"
                                   href="{% url "new_individual" tu_obj.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {# Propose for new individual input #}
                    <div class="card">
                        <div class="flex-col-center padding-1rem">
                            <div class="small-title-narrow">
                                Особи для данного таксона еще не вносились
                            </div>
                            <div><p>Вы можете добавить особь, воспользовавшись кнопкой +</p></div>
                            <div>
                                <a class="btn-floating tooltipped btn-large"
                                   data-position="left" data-tooltip="Добавить"
                                   href="{% url "new_individual" tu_obj.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col s12 m1 l2"></div>
        </div>
    </div>

    {# Tab3 Images ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div id="tab3" class="col s12">
        <div class="row tab-content">
            <div class="col s12 m1 l2"></div>
            {# Tab content #}
            <div class="col s12 m10 l8 center">
                {% if images %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Изображения таксона</span>
                    </div>
                    {# Massonry layout ============================================================================= #}
                    <div class="grid-container">
                    <div class="grid">
                    {% for img in images %}
                        <div class="grid-item">
                            <picture>
                                <source type="image/webp"
                                        srcset="{{ img.img_thunb_webp.url}} 1x">
                                <img class="gallery-img" src="{{img.img_thunb_jpg.url}}"
                                     alt="{{ img.img_caption }}" data-id="{{ forloop.counter0 }}">
                            </picture>
                        </div>
                    {% endfor %}
                    </div>
                    </div>

                    <!-- Root element of PhotoSwipe. Must have class pswp. -->
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                        <!-- Background of PhotoSwipe.
                             It's a separate element as animating opacity is faster than rgba(). -->
                        <div class="pswp__bg"></div>

                        <!-- Slides wrapper with overflow:hidden. -->
                        <div class="pswp__scroll-wrap">

                            <!-- Container that holds slides.
                                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                Don't modify these 3 pswp__item elements, data is added later on. -->
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>

                            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                            <div class="pswp__ui pswp__ui--hidden">

                                <div class="pswp__top-bar">

                                    <!--  Controls are self-explanatory. Order can be changed. -->

                                    <div class="pswp__counter"></div>

                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                                    <button class="pswp__button pswp__button--share" title="Share"></button>

                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                                    <!-- element will get class pswp__preloader--active when preloader is running -->
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                          <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                          </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>

                                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                </button>

                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                </button>

                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                {# Add image #}
                <div class="card">
                    <div class="flex-row-space-between padding-1rem">
                        <div class="small-title-narrow">
                            Добавить изображение
                        </div>
                        <div>
                            <a class="btn-floating tooltipped"
                               data-position="left" data-tooltip="Добавить"
                               href="{% url "add_image" tu_obj.id %}">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                    {# Propose for new individual input #}
                    <div class="card">
                        <div class="flex-col-center padding-1rem">
                            <div class="small-title-narrow">
                                Для данного таксона не добавлено ни одного изображения
                            </div>
                            <div><p>Вы можете добавить изображение. Используйте кнопку +</p></div>
                            <div>
                                <a class="btn-floating tooltipped btn-large"
                                   data-position="left" data-tooltip="Добавить"
                                   href="{% url "add_image" tu_obj.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col s12 m1 l2"></div>
        </div>
    </div>

    {# Tab4 Info ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div id="tab4" class="col s12">
        <div class="row tab-content">
            <div class="col s12 m1 l2"></div>
            {# Tab content #}
            <div class="col s12 m10 l8">
                {# Ecological info #}
                <div class="card">
                    {% if oblig_info %}
                    <div class="card-content">
                        <span class="card-title center">Экология</span>
                        <table class="highlight responsive-table">
                            <thead>
                              <tr>
                                  <th>Экологическая группа</th>
                                  <th>Значеие</th>
                              </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Жизненная форма (Раункиер)</td>
                                    <td>
                                        {% if oblig_info.raunc_form %}
                                            {{oblig_info.get_raunc_form_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Отношение к увлажнению</td>
                                    <td>
                                        {% if oblig_info.moisture %}
                                            {{oblig_info.get_moisture_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Отношение к освещение</td>
                                    <td>
                                        {% if oblig_info.light %}
                                            {{oblig_info.get_light_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Отношение к плодородию</td>
                                    <td>
                                        {% if oblig_info.fertility %}
                                            {{oblig_info.get_fertility_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Отношение к засолению</td>
                                    <td>
                                        {% if oblig_info.acidity %}
                                            {{oblig_info.get_acidity_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Фенотип</td>
                                    <td>
                                        {% if oblig_info.phenotype %}
                                            {{oblig_info.get_phenotype_display}}
                                        {% else %}
                                            <span class="text-negative">Не указано</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="cenotype-wrapper">
                            <div class="p-demargin secondary-title">
                                <p>Ценотип:</p>
                            </div>
                            <div id="cenotype-list" class="p-demargin">
                                {% if oblig_info.cenotype %}
                                    {% for k,v in oblig_info.cenotype.choices.items %}
                                        {% if k in oblig_info.cenotype %}
                                            <p>{{ v }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p class="text-negative">Не указано</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="divider-margin"></div>
                        <div class="flex-row-end">
                            <a class="btn-floating edit-button-inline tooltipped"
                               data-position="left" data-tooltip="Править" href="#">
                                <i class="material-icons">create</i>
                            </a>
                        </div>
                    </div>
                    {% else %}
                        <div class="flex-col-center padding-1rem">
                            <div class="small-title-narrow">
                                Экологическая информация для данного таксона не вносилась
                            </div>
                            <div><p>Вы можете внести эти данные. Используйте кнопку +</p></div>
                            <div>
                                <a class="btn-floating tooltipped btn-large"
                                   data-position="left" data-tooltip="Добавить"
                                   href="#">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    {%  endif %}
                </div>
                {# Nonobligatory info #}
                <div class="card">
                    {% if non_oblig_cats %}
                        <div class="card-content">
                            <span class="card-title center">Дополнительные данные</span>
                            {% for cat in non_oblig_cats %}
                                <div class="text-divider">
                                    <p class="secondary-title">{{ cat.category|title }}</p>
                                    <div class="text-divider-line"></div>
                                </div>
                                {% for info in non_oblig_info %}
                                    {% if info.category == cat.category %}
                                        <blockquote>
                                            <div class="nonobl-info-wrapper">
                                                <div class="nonobl-info-info">
                                                    {{info.info|safe}}
                                                </div>
                                                <div class="nonobl-info-ref">
                                                    <div class="nonobl-info-ref-left">
                                                        <div>
                                                        <a class="btn-floating edit-button-inline tooltipped modal-trigger"
                                                           data-position="right" data-tooltip="Править"
                                                           href="{% url "edit_non_oblig_info" tu_obj.id info.id %}">
                                                            <i class="material-icons">create</i>
                                                        </a>
                                                        </div>
                                                    </div>
                                                    <div class="nonobl-info-ref-right">
                                                        <p>Внес запись: {{ info.input_auth.get_user_reference }}</p>
                                                        <p>Источник: {{ info.reference }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <div class="divider-margin"></div>
                            {# Edit Non Obligatory Info #}
                            <div class="flex-row-end">
                                <a class="btn-floating edit-button-inline tooltipped"
                                   data-position="left" data-tooltip="Добавить запись"
                                   href="{% url "add_non_oblig_info" tu_obj.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        {# Propose to add new Non Obligatory Info #}
                        <div class="flex-col-center padding-1rem">
                            <div class="small-title-narrow">
                                Дополнительная информация для данного таксона не вносилась
                            </div>
                            <div><p>Вы можете внести эти данные. Используйте кнопку +</p></div>
                            <div>
                                <a class="btn-floating tooltipped btn-large"
                                   data-position="left" data-tooltip="Добавить"
                                   href="{% url "add_non_oblig_info" tu_obj.id %}">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m1 l2"></div>
        </div>
    </div>

    {# Tab5 Foreign info ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <div id="tab5" class="col s12">
        <div class="row tab-content">
            <div class="col s12 m1 l2"></div>
            {# Tab content #}
            <div class="col s12 m10 l8">
                {# Catalogue of life data #}
                {% if tu_obj.col %}
                    {# Base COL data #}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center">Данные проекта Catalogue of life</span>
                            <div class="center">
                                <a class="center" href="{{ tu_obj.col.col_link }}" target="_blank">
                                    Ссылка на профайл COL
                                </a>
                            </div>
                            <table class="responsive-table">
                                <tbody>
                                    <tr>
                                        <td>Набор данных для цитирования</td>
                                        <td>{{ tu_obj.col.col_dataset  }}</td>
                                    </tr>
                                    <tr>
                                        <td>Первоисточник описания</td>
                                        <td>{{ tu_obj.col.col_name_ref }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {# COL Synonyms #}
                {% if syns %}
                    <ul class="collapsible">
                        <li class="active">
                            <div class="collapsible-header">
                                <i class="material-icons">list_alt</i>
                                <div class="small-title-narrow p-demargin">
                                    <p>Список синонимов ({{ syns|length }})</p>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th>Название таксона</th>
                                        <th>Ссылка COL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for syn in syns %}
                                    <tr>
                                        <td>{{ syn.html_str|safe }}</td>
                                        <td><a href="{{ syn.col_link }}" target="_blank"><i class="material-icons">link</i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                {% endif %}

                {# Red List data #}
                {% if tu_obj.redlistiucn.in_red_list and not tu_obj.redlistiucn.parsing_errors %}
                    <div class="card">
                        <div class="card-content">
                            <spna class="card-title center">
                                Данные Международного красного списка МСОП
                            </spna>

                            <table class="responsive-table">
                                <tbody>
                                    <tr>
                                        <td>Ссылка для цитирования</td>
                                        <td>{{ tu_obj.redlistiucn.citation  }}</td>
                                    </tr>
                                    <tr>
                                        <td>Категория угрозы</td>
                                        <td>{{ tu_obj.redlistiucn.category }}</td>
                                    </tr>
                                    <tr>
                                        <td>Интерпретация категории</td>
                                        <td>{{ tu_obj.redlistiucn.cat_interp }}</td>
                                    </tr>
                                    <tr>
                                        <td>Критерий МСОП</td>
                                        <td>{{ tu_obj.redlistiucn.criteria|default_if_none:"отсуствует" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата внесения в красный список</td>
                                        <td>{{ tu_obj.redlistiucn.pub_year }}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата последней сверки</td>
                                        <td>{{ tu_obj.redlistiucn.last_check }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            {# Distribution map #}
                            {% if tu_obj.redlistiucn.distribution_map %}
                                <span class="card-title secondary-title center">
                                    Карта распространения по странам
                                </span>

                                <img id="distribution-map-country" class="materialboxed" src="{{ tu_obj.redlistiucn.distribution_map.url }}">

                            {% endif %}
                        </div>
                    </div>
                {% elif tu_obj.redlistiucn.parsing_errors %}
                    <div class="card">
                        <div class="card-content">
                            <spna class="card-title center secondary-title">
                                Данные о принадлежности к карсному списку МСОП пока недоступны
                            </spna>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-content">
                            <spna class="card-title center">
                                Вид не занесен в красный список МСОП
                            </spna>
                        </div>
                    </div>
                {% endif %}
                {# Tropicos data #}
                {# E Floras #}
                {% if tu_obj.tropicosinfo.distribution %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center">
                                Распространение по данным электронных флор
                            </span>

                            <table class="striped responsive-table">
                            <thead>
                                <tr>
                                    <th>Страна</th>
                                    <th>Админ. территория</th>
                                    <th>Источник</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for dist in tu_obj.tropicosinfo.distribution %}
                                <tr>
                                    <td>{{ dist.CountryNameRu }}</td>
                                    <td>{{ dist.UpperNameRu|default_if_none:"не указана" }}</td>
                                    <td>{{ dist.Citation }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {# Chromasomes #}
                {% if tu_obj.tropicosinfo.chromosomes %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title center">
                                Хромосомные числа
                            </span>

                            <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Спорофит</th>
                                    <th>Гаметофит</th>
                                    <th>Источник</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for chrom in tu_obj.tropicosinfo.chromosomes %}
                                <tr>
                                    <td>{{ chrom.SporophyticCount|default_if_none:"не указано" }}</td>
                                    <td>{{ chrom.GametophyticCount|default_if_none:"не указано" }}</td>
                                    <td>{{ chrom.Citation }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {# Modals ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <!-- Modal Structure -->
    <div id="modalvern" class="modal">
        <div class="modal-content">
            <h4>Правка вернакулярных названий</h4>
            <p>Вы можете изменить ранее внесенные названия или добавть новые</p>
        </div>
        <div class="modal-footer">
            <a href="{% url "edit_vernacular" tu_obj.id %}" class="modal-close waves-effect waves-green btn-flat">Изменить</a>
            <a href="{% url "add_vernacular" tu_obj.id %}" class="modal-close waves-effect waves-green btn-flat">Добавить</a>
            <a href="#" class="modal-close waves-effect waves-green btn-flat">Отмена</a>
        </div>
    </div>

    {# Individuals JOSON for D3 #}
    <script>
        const ind_json = {{ ind_json|safe }};
        const exist_ind = {{ exist_ind|safe }};
        const ind_prof_path_templ = '{% url 'tu_profile' tu_obj.id %}';
        const tu_name = `{{ tu_obj.html_str|safe }}`;

        // Construct slides object for PhotoSwipe
        // JPEG slides
        const slides_jpg = [
            {% for img in images %}
                {
                    smallImage: {
                        src: `{{ img.img_1x_jpg.url }}`,
                        w: {{ img.img_1x_jpg.width }},
                        h: {{ img.img_1x_jpg.height }}
                    },
                    mediumImage: {
                        src: `{{ img.img_2x_jpg.url }}`,
                        w: {{ img.img_2x_jpg.width }},
                        h: {{ img.img_2x_jpg.height }}
                    },
                    largeImage: {
                        src: `{{ img.img_3x_jpg.url }}`,
                        w: {{ img.img_3x_jpg.width }},
                        h: {{ img.img_3x_jpg.height }}
                    },
                    thumbImage: {
                        src: `{{img.img_thunb_jpg.url}}`,
                        w: {{ img.img_thunb_jpg.width }},
                        h: {{ img.img_thunb_jpg.height }}
                    },

                    msrc: `{{img.img_thunb_jpg.url}}`,
                    title: `{{ img.img_caption }}`
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        // WEBP slides
        const slides_webp = [
            {% for img in images %}
                {
                    smallImage: {
                        src: `{{ img.img_1x_webp.url }}`,
                        w: {{ img.img_1x_webp.width }},
                        h: {{ img.img_1x_webp.height }}
                    },
                    mediumImage: {
                        src: `{{ img.img_2x_webp.url }}`,
                        w: {{ img.img_2x_webp.width }},
                        h: {{ img.img_2x_webp.height }}
                    },
                    largeImage: {
                        src: `{{ img.img_3x_webp.url }}`,
                        w: {{ img.img_3x_webp.width }},
                        h: {{ img.img_3x_webp.height }}
                    },
                    thumbImage: {
                        src: `{{img.img_thunb_webp.url}}`,
                        w: {{ img.img_thunb_webp.width }},
                        h: {{ img.img_thunb_webp.height }}
                    },

                    msrc: "{{img.img_thunb_webp.url}}",
                    title: `<div class='img-caption'><div>{{img.full_caption|safe}}</div> <p>Описание: {{ img.img_description }}</p></div>`
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    </script>
{% endblock %}


{% block tail_import %}
    <script src="{% static "photoswipe/photoswipe.min.js" %}"></script>
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "collection/js_bundles/tu_profile.min.js" %}"></script>
{% endblock %}