@import "core/css/BaseStyle/variables";
// Card content

.card-content{
  &:not(:first-child) {
    padding-bottom: 0;
    padding-top: 0;
    .row {
      margin-bottom: 10px;
    }
    .divider {
      height: 2px;
      margin-bottom: 5px;
      background-color: $secondary-color !important;
    }
    .card-title {
      margin-bottom: 0;
      font-weight: 500;
      font-size: larger;
    }
  }
  &:first-child{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lighten($secondary-color, 25%);
    .card-title{
      margin-bottom: 0;
    }
  }
}


#action-button{
  padding-bottom: 15px;
}


.hidden{
  display: none;
}

.error{
  color: red;
}