@import "../NewTuForm_common/form_style";
@import "../../../core/css/BaseStyle/variables";

/* Common classes */

.center{
  margin: auto;
  width: auto;
  text-align: center;
}

/* Styling */


/* Change color of switch knob and its background and forn size*/
.switch label {
  font-size: 1rem;
  .lever{
    background-color: $switch-checked-lever-bg;
    &:after {
      background-color: $secondary-color;
    }
  }
}

/* Style for COL FUZZY dialogue */
.variants-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio-col {
  justify-self: stretch;
  align-self: stretch;
  min-height: 100%;
  width: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.radio-row {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .single-row {
    height: 100%;
  }
  .p-demargin {
    margin: 0;
  }
}

.arrow-col {
  min-height: 100%;
  justify-self: stretch;
  align-self: stretch;
  width: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .syn-bas-binder {
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-image: linear-gradient($tag-syn-color, $tag-tu-color);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    .dyn-bas-binder-inner {
      height: calc(100% - 10px);
      width: calc(100% - 5px);
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      background-color: #fafafa;
    }
  }
}

.names-col {
  width: 90%;
}

.names-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .single-row {
    height: 100%;
  }
}

.syn-tag {
  flex-grow: 0;
  background-color: $tag-syn-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
  min-width: content-box;
  margin-right: 1rem;
  text-align: center;
}

.syn-name {
  flex-grow: 10;
  font-size: large;
  color: darken(rgb(216, 129, 255), 30%);
}

.bas-tag {
  flex-grow: 0;
  background-color: $tag-tu-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
  min-width: content-box;
  margin-right: 1rem;
  text-align: center;
}

.bas-name {
  flex-grow: 10;
  font-size: large;
  color: darken(saturate(rgb(119, 215, 108), 10%), 40%);
}