@import "../NewTuForm_common/form_style";
@import "../../../node_modules/css-star-rating/scss/star-rating";

@font-face {
  font-family: 'Dropify';
  font-style: normal;
  font-weight: 400;
  src: local('Dropify'),
    local('MaterialIcons-Regular'),
    url(../../fonts/dropify.woff) format('woff'),
    url(../../fonts/dropify.ttf) format('ttf');
}

.round-btn{
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #FF9900;
  color: black;
  font-size: 1.2em;
  font-weight:bold;
  margin-left: auto;
  &:hover{
    background-color: lighten(#FF9900, 10%);
  }
}

.del-btn-wrapper{
  padding-top: 20px;
}

.hidden{
  display: none;
}

.round-btn-del{
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
  font-size: 1.2em;
  font-weight:bold;
  margin-left: auto;
  &:hover{
    background-color: lighten(lightgray, 10%);
  }
  @media (max-width: 320px) {
    height: 35px;
    width: 35px;
  }
  @media (max-width: 480px) {
    height: 40px;
    width: 40px;
  }
  @media (max-width: 680px) {
    height: 45px;
    width: 45px;
  }
}

/* img styling */
.dropify-wrapper{
  @media (min-width: 680px) {
    height: 90% !important;
  }
}

/* Rating styling */
.rating-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .star{
    cursor: pointer;
  }

  .rating-label{
    color: $input-border-color;
  }
}

/* Dropify error styling */
.dropify-error{
  color: red;
}

.dropify-wrapper .dropify-message span.file-icon {
  font-size: 2rem;
}

/* Different styling */
.main_scr-wrapper{
  padding-top: 10px;
}


