{% extends "base_templates/base_generic.html" %}

{% block title %}Коллекция, список{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "handsontable/handsontable.min.css" %}">
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/collection_home.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10">
            {# Table div #}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Список таксонов коллекционного фонда</span>
                    <div id="taxons-table-wrapper">
                        <div id="taxons-table"></div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a id="export-table-btn" class="btn waves-effect waves-green">Сохранить таблицу</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>

    <script>
        var tax = {{ tax_json|safe }};
        var link_template = '{% url "tu_profile" 1 %}';
    </script>
{% endblock %}

{% block tail_import %}
    <script src="{% static "handsontable/handsontable.min.js" %}"></script>
    <script src="{% static "handsontable/ru-RU.min.js" %}"></script>
    <script src="{% static "collection/js_bundles/collection_home.min.js" %}"></script>
{% endblock %}