<div class="input-field">
    {% if prefix %}
        <i class="material-icons prefix">{{ prefix }}</i>
    {% endif %}
    <input {% if type %} type="{{ type }}" {% else %} type="text" {% endif %}
           {# Set data list if given #}
           {% if datalist %}
               list="{{ field.auto_id|add:"_choices"}}"
           {% endif %}

           {# Set prefilled value if given in data or through {% with %} #}
           {% if value %}
                value="{{ value }}"
           {% elif field.data %}
               value="{{ field.data }}"
           {% elif field.value %}
               value="{{ field.value }}"
           {% endif %}
           name="{{ field.html_name }}"
           class="validate
                  {% if date %}datepicker{% endif %}
                  {% if field.errors %}invalid{% endif %}
                 "
           id="{{ field.auto_id }}"
           {% if field.field.required %} required {% endif %}
           {% if field.field.max_length %}data-length="{{ field.field.max_length }}"{% endif %}
    />
    <label {% if field.initial %} class="active" {% endif %} for="{{ field.id_for_label }}">
        {# If label is giwen from outside by {% with %} #}
        {# use it. Else, use label from the field object #}
        {% if label %}
            {{ label }}
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>
    {% if datalist %}
        <datalist id="{{ field.auto_id|add:"_choices"}}">
            {% for row in datalist %}
                <option value={% for k,v in row.items %} "{{ v }}" {% endfor %}>
            {% endfor %}
        </datalist>
    {% endif %}
    <span class="helper-text"
          data-error="
                        {# Error messages, given with {% with %} #}
                        {% if error_message %}
                            {{ error_message }}
                        {% endif %}
                        {# Show field errors #}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% else %}
                        {# If not, show defaults #}
                            {% for key, value in field.field.error_messages.items %}
                                {{ value }}
                            {% endfor %}
                        {% endif %}
                     " data-success="">
    </span>


</div>
