<p>
    <label>
        <input type="checkbox"
               {% if class %}class="{{ class }}""{% endif %}
               {% if id %}id="{{ id }}"{% endif %}
               {% if name %}name="{{ name }}"{% endif %}
               {% if checked %}checked="checked"{% endif %}
               {% if value %}data-value="{{ value }}"{% endif %}/>
        <span>{{ label }}</span>
    </label>
</p>