<div class="input-field">
<select id="{{ id }}"
        name="{{ name }}"
        class="validate"
        {% if disabled %} disabled {% endif %}
        {% if required %} required {% endif %}>
    {% if placeholder %}
        <option value="" selected disabled>{{ placeholder }}</option>
    {% endif %}
    {% if choices %}
        {% for value, text in choices %}
                <option value="{{ value }}"
                        {% if selected %}
                            {% if selected == value %}
                                selected
                            {% endif %}
                        {% endif %}
                >{{ text }}</option>
        {% endfor %}
    {% endif %}
</select>
<label for="{{ id }}">{{ label|default:"select" }}</label>
<span class="helper-text" data-error="{{ error_message }}" data-success=""></span>
</div>