<div class="input-field">
    {% if prefix %}
        <i class="material-icons prefix">{{ prefix }}</i>
    {% endif %}
    <input type="email"
           {# Set prefilled value if given #}
           {% if field.data %}
               value="{{ field.data }}"
           {% endif %}
           name="{{ field.name }}"
           class="validate
                  {% if field.errors %}invalid{% endif %}
                 "
           id="{{ field.auto_id }}"
           {% if field.field.required %} required {% endif %}
           {% if max_length %}data-length="{{ max_length }}"{% endif %}
    />
    <label {% if field.initial %} class="active" {% endif %} for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>
    <span class="helper-text"
          data-error="
                        {% for key, value in field.field.error_messages.items %}
                            {{ value }}
                        {% endfor %}

                        {# Show field errors #}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                     " data-success=""></span>
</div>