<div class="input-field">
<select id="{{ id }}"
        name="{{ name }}"
        class="validate"
        {% if disabled %} disabled {% endif %}
        {% if required %} required {% endif %}>
    {% if placeholder %}
        <option value="" selected disabled>{{ placeholder }}</option>
    {% endif %}
    {% if choices %}
        {% for row in choices %}
            <li class="mdc-list-item" role="option" tabindex="0">
                {% for k,v in row.items %}
                    <option value="">{{ v }}</option>
                {% endfor %}
            </li>
        {% endfor %}
    {% endif %}
</select>
<label for="{{ id }}" data-error="{{ error_message }}">{{ label|default:"select" }}</label>
<span class="helper-text" data-error="{{ error_message }}" data-success=""></span>
</div>