<div class="input-field">
    <textarea class="materialize-textarea validate"
        name="{{ name }}"
        {% if max_length %}
            maxlength={{ max_length }}
        {% endif %}
        id="{{ id }}"
        {% if required %} required {% endif %}
        {% if max_length %}data-length="{{ max_length }}"{% endif %}
    >{# Set prefilled value if given #}{% if value %}{{ value }}{% endif %}</textarea>

    <label {% if value %} class="active" {% endif %} for="{{ id }}">
        {{ label }}
    </label>

    <span class="helper-text" data-error="{{ error_message }}" data-success=""></span>
</div>