<div class="switch">
    <label>
        {{ label_left|default:'mdc-switch-label-1'}}
        <input type="checkbox" id="{{ switch_id }}" {% if name %} name={{ name }} {% endif %}>
        <span class="lever"></span>
        {% if label_right %}
                {{ label_right|default:'mdc-switch-label-2'}}
        {% endif %}
    </label>
</div>
