<div class="input-field">
 {% if prefix %}
    <i class="material-icons prefix">{{ prefix }}</i>
{% endif %}
<select id="{{ field.auto_id }}"
        name="{{ field.html_name }}"
        class="validate"
        {% if field.field.disabled %} disabled {% endif %}
        {% if field.field.required %} required="" {% endif %}
        {% if field.field.widget.allow_multiple_selected %}multiple=""{% endif %} data-constrainwidth="false">
    {% if placeholder %}
        <option value="" selected disabled>{{ placeholder }}</option>
    {% endif %}
    {% if field.field.choices %}
        {% for item_value, text in field.field.choices %}
                <option value="{{ item_value }}"
                        {# Here we need to slugify both variables to make them of type str #}
                        {# in other case thay would not be comparable #}
                        {# Also we do not want to set empty value as selected #}
                        {% if item_value|slugify == field.data|slugify and item_value|slugify != ""%}
                            selected
                        {% elif item_value|slugify == value|slugify%}
                            selected
                        {% elif item_value|slugify == field.value|slugify %}
                        {# This condition is for mptt widget #}
                            selected
                        {% endif %}
                >{{ text }}</option>
        {% endfor %}
    {% endif %}
</select>
{#Place labels#}
{% if label %}
    <label for="{{ field.id_for_label }}">{{ label }}</label>
{% else %}
    <label for="{{ field.id_for_label }}">{{ field.label|default:"select" }}</label>
{% endif %}
<span class="helper-text"
      data-error="
                    {# Show field errors #}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% else %}
                    {# If not, show defaults #}
                        {% for key, value in field.field.error_messages.items %}
                            {{ value }}
                        {% endfor %}
                    {% endif %}
                 " data-success="">
</span>
</div>