<div class="input-field">
    <input type="text"
           {# Set data list if given #}
           {% if datalist %}
               list="{{ id|add:"_choices"}}"
           {% endif %}

           {# Set prefilled value if given #}
           {% if value %}
               value="{{ value }}"
           {% endif %}
           name="{{ name }}"
           class="validate {% if date %}datepicker{% endif %}"
           {% if max_length %}
               maxlength={{ max_length }}
           {% endif %}
           id="{{ id }}"
           {% if required %} required {% endif %}
           {% if max_length %}data-length="{{ max_length }}"{% endif %}
    />
    <label {% if value %} class="active" {% endif %} for="{{ id }}">
        {{ label }}
    </label>
    {% if datalist %}
        <datalist id="{{ id|add:"_choices"}}">
            {% for row in datalist %}
                <option value={% for k,v in row.items %} "{{ v }}" {% endfor %}>
            {% endfor %}
        </datalist>
    {% endif %}
    <span class="helper-text" data-error="{{ error_message }}" data-success=""></span>
</div>
