{% for radio in field %}
<p>
  <label for="{{ radio.data.attrs.id }}">
    <input id="{{ radio.data.attrs.id }}" name="{{ radio.data.name }}"
           value="{{ radio.data.value }}" type="radio"
           {% if radio.data.attrs.required %}required{% endif %}
           {% if radio.data.attrs.checked %}checked{% endif %}
           {% if with_gap %}class="with-gap" {% endif %}
    />
    <span>{{ radio.data.label }}</span>
  </label>
</p>
{% endfor %}