<p>
    <label>
        <input type="checkbox"
               {% if class %} class="{{ class }}" {% endif %}
               {% if field.auto_id %} id="{{ field.auto_id }}" {% endif %}
               {% if field.name %} name="{{ field.name }}" {% endif %}
               {% if field.data %} checked="checked" {% elif field.value %} checked="checked" {% endif %}>
        <span>
            {% if label %}
                {{ label }}
            {% else %}
                {{ field.label }}
            {% endif %}
        </span>
    </label>
</p>