<div class="input-field">
    <textarea class="materialize-textarea validate"
        name="{{ field.name }}"
        id="{{ field.auto_id }}"
        {% if field.field.required or required %} required {% endif %}
        {% if field.field.max_length %}data-length="{{ field.field.max_length }}"{% endif %}
    >{# Set prefilled value if given #}{% if value %}{{ value }}{% elif field.data %}{{ field.data }}{% elif field.value %}{{ field.value }}{% endif %}</textarea>

    <label {% if field.initial %} class="active" {% endif %} for="{{ field.id_for_label }}">
        {# If label is giwen from outside by {% with %} #}
        {# use it. Else, use label from the field object #}
        {% if label %}
            {{ label }}
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>

    <span class="helper-text"
          data-error="
                        {# Show field errors #}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% else %}
                        {# If not, show defaults #}
                            {% for key, value in field.field.error_messages.items %}
                                {{ value }}
                            {% endfor %}
                        {% endif %}
                     " data-success="">
    </span>
</div>