<div id="{{ row_id }}" class="row">
{% for choice in field.field.choices %}
    <div class="col {{ "s"|add:s }} {{ "m"|add:m }} {{ "l"|add:l }}">
        <p>
            <label>
                <input type="checkbox"
                        {% if choice.0 in field.data %}
                            checked="checked"
                        {% endif %}
                       data-value="{{ choice.0 }}"/>
                <span>{{ choice.1 }}</span>
            </label>
        </p>
    </div>
{% endfor %}
</div>

