{% extends "base_templates/base_generic.html" %}

{% block title %}Коллекция, приход / уход{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "handsontable/handsontable.min.css" %}">
{#    <link rel="stylesheet"#}
{#        href="{% static "chartjs/Chart.min.css" %}">#}
    <link rel="stylesheet"
        href="{% static "search/css_bundles/collection_in_out_report.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10">
            {# Table div #}
            <div class="card">
                <div class="card-content center">
                    <span class="card-title">
                        Поступление / выпад таксонов в подразделении: {{ dep_name }}
                        {% if from_year == to_year %}
                            за {{ from_year }} год
                        {% else %}
                            с {{ from_year }} по {{ to_year }} года
                        {% endif %}
                    </span>
                </div>
                <div class="card-content">
                    <form id="submit-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12 m6 l6">
                            {% with field=form.dep_id %}
                            {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                        </div>
                        <div class="col s6 m3 l3">
                            {% with field=form.from_year %}
                            {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                        </div>
                        <div class="col s6 m3 l3">
                            {% with field=form.to_year %}
                            {% include "forms_parts/materialize_select.html" %}
                            {% endwith %}
                        </div>
                        <div class="col s12 m12 l12 center">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Пересчитать
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                    </form>
                    <div class="divider-margin"></div>
                </div>

                <div class="card-content">
                    {% if data_len %}
                    <div id="table-wrapper">

                        <div id="hs-table"></div>
                    </div>
                    {% else %}
                        <div class="center">
                            <h5>Для указанного подразделения за рассматриваемый период пополнение или выпад таксономических единиц не отмечены</h5>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>

    <script>
        const in_out_json = {{ in_out_json|safe }};
        const link_template = '{% url "tu_profile" 1 %}';
    </script>
{% endblock %}

{% block tail_import %}
    <script src="{% static "handsontable/handsontable.min.js" %}"></script>
    <script src="{% static "handsontable/ru-RU.min.js" %}"></script>
{#    <script src="{% static "chartjs/Chart.bundle.min.js" %}"></script>#}
    <script src="{% static "search/js_bundles/collection_in_out_report.min.js" %}"></script>
{% endblock %}