{% extends "base_templates/base_generic.html" %}

{% block title %}Коллекция, результаты поиска{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "handsontable/handsontable.min.css" %}">
    <link rel="stylesheet"
        href="{% static "search/css_bundles/collection_search_results.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10">
            {# Table div #}
            <div class="padding-05rem"></div>
            <div class="simple-card">
                <div class="simple-card-header center">
                    <h1>Результаты поиска с расширенными фильтрами {% if not saved %}<span class="text-col-false">(не сохранено)</span>{% endif %}</h1>
                    {% if data.type == 'ind' %}
                        <p>В таблице отображены данные об особях (<a class="modal-trigger" href="#filters-modal">список фильров</a>)</p>
                    {% else %}
                        <p>В таблице отображены данные о таксонах (<a class="modal-trigger" href="#filters-modal">список фильров</a>)</p>
                    {% endif %}
                </div>
                <div id="table-wrapper">
                    <div id="hs-table"></div>
                </div>
                <div class="flex-row-space-around padding-1rem">
                    {% if not saved %}
                    <a id="save-ids-modal-btn" class="btn waves-effect waves-green modal-trigger" href="#save-ids-modal">Сохранить список</a>
                    <a id="save-filters-modal-btn" class="btn waves-effect waves-green modal-trigger" href="#save-filters-modal">Сохранить фильтры</a>
                    {% endif %}
                    <a id="export-table-btn" class="btn waves-effect waves-green">Скачать таблицу</a>
                    <a id="go-to-report" class="btn waves-effect waves-green" href="{% url "collection_report" target='prev' %}">Посмотреть отчет</a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>

    {# Modal for filters display #}
    <div id="filters-modal" class="modal">
        <div class="modal-content">
            <h4>Список фильтров</h4>
            {% for k,v in data_readable.data.items %}
                <div class="row">
                <div class="col s12 m6 l4 list-title">{{k}}</div>
                <div class="col s12 m6 l8 center list-value">{{v}}</div>
                </div>
                <div class="divider-margin"></div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Убрать</a>
        </div>
    </div>

    {# Modal to save filters #}
    <div id="save-filters-modal" class="modal">
        <div class="modal-content">
            <h4>Сохранить фильтры поиска для будущего использования</h4>
            <p class="center">Будут сохранены тлько фильтры = результаты поиска могут изменится если в базу будут внесены изменения</p>
            <h5 class="center">Для сохранения укажите название списка фильтров. Под этим названием список будет отображен в Вашем личном кабинете</h5>
        </div>
        <div class="search-filters-save-wrapper">
            <form id="search-filters-save" name="search-filters-save" onkeydown="if (event.keyCode === 13 || event.which === 13) event.preventDefault();">
                <div class="row">
                    {% csrf_token %}
                    {{ save_form.type }}
                    <div class="col s12 m1 l2"></div>
                    <div class="col s12 m10 l8">
                        {% with field=save_form.name%}
                        {% with label='Имя списка фильтров' %}
                            {% include "forms_parts/materialize_text.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                    <div class="col s12 m1 l2"></div>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <a id="search-filters-save-btn" href="#!" class="waves-effect waves-green btn-flat"
               onclick="save_search_data(type='filters')">Сохранить</a>
            <a href="#!" id="search-filters-close-btn" class="modal-close waves-effect waves-green btn-flat">Убрать</a>
        </div>
    </div>

    {# Modal to save ids #}
    <div id="save-ids-modal" class="modal">
        <div class="modal-content">
            <h4>Сохранить результаты поиска для будущего использования</h4>
            <p class="center">Будет сохранен список найденных {% if data.type == 'ind' %}особей{% else %}таксонов{% endif %}</p>
            <h5 class="center">Для сохранения укажите название списка {% if data.type == 'ind' %}особей{% else %}таксонов{% endif %}.
                Под этим названием список будет отображен в Вашем личном кабинете</h5>
        </div>
        <div class="search-filters-save-wrapper">
            <form id="search-ids-save" name="search-ids-save" onkeydown="if (event.keyCode === 13 || event.which === 13) event.preventDefault();">
                <div class="row">
                    {% csrf_token %}
                    {{ save_form.type }}
                    <div class="col s12 m1 l2"></div>
                    <div class="col s12 m10 l8">
                        {% with field=save_form.name%}
                        {% with label='Имя списка фильтров' %}
                            {% include "forms_parts/materialize_text.html" %}
                        {% endwith %}
                        {% endwith %}
                    </div>
                    <div class="col s12 m1 l2"></div>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <a id="search-ids-save-btn" href="#!" class="waves-effect waves-green btn-flat"
               onclick="save_search_data(type='ids')">Сохранить</a>
            <a href="#!" id="search-ids-close-btn" class="modal-close waves-effect waves-green btn-flat">Убрать</a>
        </div>
    </div>

    <script>
        var tab_data = {{ table_json|safe }};
        var tu_link_template = '{% url "tu_profile" 1 %}';
        var target = '{{ data.type }}';
        var save_url = '{% url "collection_save_search" %}';
    </script>
{% endblock %}

{% block tail_import %}
    <script src="{% static "handsontable/handsontable.min.js" %}"></script>
    <script src="{% static "handsontable/ru-RU.min.js" %}"></script>
    <script src="{% static "search/js_bundles/collection_search_results.min.js" %}"></script>
{% endblock %}