@import "../NewTuForm_common/form_style";

// Change card appearance
.card-content:first-child {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lighten($secondary-color, 25%);

    .card-title {
      margin-bottom: 0;
    }
}

.card-action {
  .row {
    margin-bottom: 0px;
    text-align: center;
  }
  .btn-large{
    min-width: 90%;
    background-color: lighten($secondary-color, 50%);
    color: lighten(#000000, 25%);
  }
  .col{
    padding-bottom: 5px;
  }
}

// Change appearance of info block
#info-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .small-accent{
    font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .big-accent{
    font-size: x-large;
    font-weight: 500;
  }
}