{% extends "base_templates/base_generic.html" %}

{% block title %}Информационная система ДБС{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "home_page/css_bundles/home_page.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Particles.js container (depricated) #}
    {#<div id="particles-div"></div>#}
    <div id="main-part" class="big-img"
         style = '
            --data-bg2xland: url("{{ bg.img_2x_land.url }}");
            --data-bg1xland: url("{{ bg.img_1x_land.url }}");
            --data-bg2xport: url("{{ bg.img_2x_port.url }}");
            --data-bg1xport: url("{{ bg.img_1x_port.url }}");
                 '>
        <!-- Set z-depth-0 to eliminate shadows under top nav -->
        {# Navbar #}
        {% include "base_templates/navbar.html" %}

        <div class="middle-wrapper">
          <div class="title">
              <h1>Информационная система Донецкого ботанического сада</h1>
          </div>

          <div class="typewriter">
              <p id="typewriter"></p>
          </div>

          <div class="search">
              <input id="fast-search" type="text" placeholder="Быстрый поиск"/>
          </div>
        </div>
    </div>

    {# Prepare variable with fast search base url #}
    <script>
        var fast_search_url = '{% url "collection_fast_search" %}';
        var tu = '{{ tu }}';
        var syn = '{{ syn }}';
        var img = '{{ img }}';
        var non_obl = '{{ non_obl }}';
        var vern = '{{ vern }}';
        var in_rl = '{{ in_rl }}';
    </script>
{% endblock %}

{% block footer %}
{#    <div>#}
{#        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@wlll?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Will Swann"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Will Swann</span></a>#}
{#    </div>#}
{% endblock %}

{% block tail_import %}
    <script src="{% static "home_page/js_bundles/home_page.min.js" %}"></script>
    {# Particles.js depricated #}
    {#<script src="{% static "particles.js/particles.min.js" %}"></script>#}
{% endblock %}
