{% extends "base_templates/base_generic.html" %}

{% block title %}Пространственный поиск особей{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
    <link rel="stylesheet"
        href="{% static "search/css_bundles/collection_spatial_search.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}
    <div class="padding-05rem"></div>
    {# Page title #}
    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div id="title" class="col s12 m12 l10 center">
            <div class="simple-card">
                <h1>Пространственный поиск особей коллекции</h1>
                <p>Выберите один или несколько участков и нажмите кнопку поиск</p>
            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>

    <div class="form-error center">{{ form.non_field_errors }}</div>
    {# Map #}
    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div id="map_column" class="col s12 m12 l10">
            <div class="map-wrapper simple-card">
                <div id="map"></div>
            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>

    {# Submit form #}
    <div class="row">
        <div class="col s12 m12 l1"></div>
        <div class="col s12 m12 l10">
            <div class="card">
                <div class="card-content">
                    <form id="spatial-search-submit" name="spatial-search-submit" method="post" onsubmit="populate_data()">
                        {% csrf_token %}
                        {# Hidden input for data #}
                        {{ form.data }}
                        {{ form.data_parsed }}
                        <div class="flex-row-space-around">
                            {# Radio buttons for search target choice #}
                            <div>
                                <div class="padding-1rem large"><p>Цель поиска</p></div>
                                <div>
                                    {% with field=form.type with_gap="True"%}
                                    {% include "forms_parts/materialize_radio_select.html" %}
                                {% endwith %}
                                </div>
                            </div>
                            <div>
                                <button class="primaryAction waves-effect waves-light btn" form="spatial-search-submit" type="submit" name="action">
                                    Поиск
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l1"></div>
    </div>
    <script>
        var poly_1 = {{ poly_1|safe }};
        var poly_2 = {{ poly_2|safe }};
        var poly_3 = {{ poly_3|safe }};
    </script>
{% endblock %}


{% block tail_import %}
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "search/js_bundles/collection_spatial_search.min.js" %}"></script>
{% endblock %}