{% extends "base_templates/base_generic.html" %}
{% load i18n %}
{% block title %}Недостаточно прав{% endblock %}

{% block head_import %}
    {% load static %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="padding-2rem"></div>
    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Не достаточно прав</span>
            </div>
            <div class="v-3-spacer"></div>
            <div class="card-content center">
                <h6>В данный момент у Вас недостаточно прав в системе для совершения этого действия.</h6>
                <p>Свяжитесь с админитсратором для разъяснения или назначения Вам необходим прав</p>
            </div>
            <div class="v-3-spacer"></div>
        </div>
    </div>
    </div>

{% endblock %}