{% extends "base_templates/base_generic.html" %}

{% block title %}Коллекция, полный отчет{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "search/css_bundles/collection_report.min.css" %}">
    <link rel="stylesheet"
        href="{% static "chartjs/Chart.min.css" %}">
    <link rel="stylesheet"
        href="{% static "leaflet/leaflet.min.css" %}">
    <link rel="stylesheet"
        href="{% static "handsontable/handsontable.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True collection_search_ext=False %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m1 l1"></div>
        {# Ther would be separate cards for each graph aliigned in in two responsive columns columns #}
        <div class="col s12 m10 l10">
            {% if data_present %}
            <div class="row">
                {# Genera counts chart #}
                <div class="col s12 m12 l12">
                    <div class="simple-card center">
                        <div class="simple-card-header center">
                            <h1>Динамика поступления / выпада</h1>
                        </div>
                        <a class="chart-download" target="_blank" download="Приход_уход_таксонов.png">
                            <i class="material-icons">file_download</i>
                        </a>
                        <div class="chart-wrapper-1">
                            <canvas id="tu-timing-chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            {# Genera #}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Представленность родов</h1>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6 left-align">
                                <div class="chart-wrapper-2">
                                    <canvas id="genera-chart"></canvas>
                                </div>
                                <a class="chart-download padding-side-2rem" target="_blank" download="Представленность_родов.png">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>

                            <div class="col s12 m12 l6 right-align">
                                <div class="chart-wrapper-2">
                                    <div id="hs-table-genera" class="hs-table"></div>
                                </div>
                                <a class="tab-download padding-side-2rem" target="_blank" download="Представленность_родов.csv">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Family #}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Представленность семейств</h1>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6 left-align">
                                <div class="chart-wrapper-2">
                                    <div id="hs-table-family" class="hs-table"></div>
                                </div>
                                <a class="tab-download padding-side-2rem" target="_blank" download="Представленность_семейств.csv">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>

                            <div class="col s12 m12 l6 right-align">
                                <div class="chart-wrapper-2">
                                    <canvas id="family-chart"></canvas>
                                </div>
                                <a class="chart-download padding-side-2rem" target="_blank" download="Представленность_семейств.png">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Orders #}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Представленность порядков</h1>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6 left-align">
                                <div class="chart-wrapper-1">
                                    <canvas id="order-chart"></canvas>
                                </div>
                                <a class="chart-download padding-side-2rem" target="_blank" download="Представленность_отрядов.png">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>

                            <div class="col s12 m12 l6 right-align">
                                <div class="chart-wrapper-1">
                                    <div id="hs-table-order" class="hs-table"></div>
                                </div>
                                <a class="tab-download padding-side-2rem" target="_blank" download="Представленность_отрядов.csv">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Classes #}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Представленность классов</h1>
                        </div>
                        <div class="row">
                            <div class="col s12 m12 l6 left-align">
                                <div class="chart-wrapper-1">
                                    <div id="hs-table-class" class="hs-table"></div>
                                </div>
                                <a class="tab-download padding-side-2rem" target="_blank" download="Представленность_классов.csv">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>

                            <div class="col s12 m12 l6 right-align">
                                <div class="chart-wrapper-1">
                                    <canvas id="class-chart"></canvas>
                                </div>
                                <a class="chart-download padding-side-2rem" target="_blank" download="Представленность_классов.png">
                                    <i class="material-icons">file_download</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                {# IUNC category counts chart #}
                <div class="col s12 m12 l6">
                    <div class="simple-card center">
                        <div class="simple-card-header center">
                            <h1>Категории МСОП</h1>
                        </div>
                        <a class="chart-download" target="_blank" download="Категории_МСОП.png">
                            <i class="material-icons">file_download</i>
                        </a>
                        <div class="chart-wrapper-1">
                            <canvas id="category-chart"></canvas>
                        </div>

                        <div class="divider-margin"></div>
                        <div class="chart-wrapper-0">
                            <div id="hs-table-iucn" class="hs-table"></div>
                        </div>
                    </div>
                </div>

                {# Cultivation type #}
                <div class="col s12 m12 l6">
                    <div class="simple-card center">
                        <div class="simple-card-header center">
                            <h1>Соотношение типов культивирования</h1>
                        </div>
                        <a class="chart-download" target="_blank" download="Пропорции_типов_культивирования.png">
                            <i class="material-icons">file_download</i>
                        </a>
                        <div class="chart-wrapper-1">
                            <canvas id="ind-cult-type"></canvas>
                        </div>

                        <div class="divider-margin"></div>
                        <div class="chart-wrapper-0">
                            <div id="hs-table-cult" class="hs-table"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {# Individuals at territory #}
                <div class="col s12 m12 l12">
                    <div class="simple-card">
                        <div class="simple-card-header center">
                            <h1>Распределение особей на территории ДБС</h1>
                        </div>
                        <div class="map-wrapper-1">
                            <div id="ind-position-heatmap" class="leaflet-map"></div>
                        </div>
                    </div>
                </div>
            </div>

            {# TU by department #}
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="simple-card center">
                        <div class="simple-card-header center">
                            <h1>Таксоны по подразделениям</h1>
                        </div>
                        <a class="chart-download" target="_blank" download="Пропорции_типов_культивирования.png">
                            <i class="material-icons">file_download</i>
                        </a>
                        <div class="chart-wrapper-1">
                            <canvas id="tu-counts-by-dep"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                {# Origin cities great circle #}
                <div class="col s12 m12 l6">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Города, источники поступления</h1>
                        </div>
                        <div class="chart-wrapper-2">
                            <div id="ind-origin-city" class="leaflet-map"></div>
                        </div>
                    </div>
                </div>

                {# Origin nature locations #}
                <div class="col s12 m12 l6">
                    <div class="simple-card">
                        <div class="simple-card-header center chart-title">
                            <h1>Сборы из природы</h1>
                        </div>
                        <div class="chart-wrapper-2">
                            <div id="ind-origin-nature" class="leaflet-map"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col s12 center">
                        <h5>Результаты поиска не содержат данных</h5>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col s12 m1 l1"></div>
    </div>

    <script>
        {% if data_present %}
        const class_count_json = {{class_count_json|safe}};
        const class_count_tab = {{ class_count_tab|safe }};
        const order_count_json = {{ order_count_json|safe }};
        const order_count_tab = {{ order_count_tab|safe }};
        const family_count_json = {{ family_count_json|safe }};
        const family_count_tab = {{ family_count_tab|safe }};
        const genera_count_json = {{ genera_count_json|safe }};
        const genera_count_tab = {{ genera_count_tab|safe }};
        const iucn_cat_json = {{ iucn_cat_json|safe }};
        const iucn_cat_tab = {{ iucn_cat_tab|safe }};
        const tu_timing_json = {{ tu_timing_json|safe }};
        const ind_spat_pos_geojoson = {{ ind_spat_pos_geojoson|safe }};
        const cult_type_json = {{ cult_type_json|safe }};
        const tu_counts_by_dep = {{ tu_counts_by_dep|safe }};
        const ind_orig_city_json = {{ ind_orig_city_json|safe }};
        const ind_orig_nature = {{ ind_orig_nature|safe }};
        {% endif %}
    </script>
{% endblock %}

{% block tail_import %}
    {% if data_present %}
    <script src="{% static "d3/d3.min.js" %}"></script>
    <script src="{% static "leaflet/leaflet.min.js" %}"></script>
    <script src="{% static "leaflet_plugins/heatmap.min.js" %}"></script>
    <script src="{% static "leaflet_plugins/leaflet_heatmap.min.js" %}"></script>
    <script src="{% static "chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "handsontable/handsontable.min.js" %}"></script>
    <script src="{% static "handsontable/ru-RU.min.js" %}"></script>
    <script src="{% static "search/js_bundles/collection_report.min.js" %}" defer></script>
    {% endif %}
{% endblock %}