@import "../NewTuForm_common/form_style";

#map {
  height: 500px;
}

#location-map {
  height: 500px;
}

.divider {
  margin-bottom: 15px !important;
}

select[required]:focus{
    outline: none !important;
}

select[required]{
    display: block;
    padding: 0;
    position: absolute;
    background: transparent;
    color: transparent;
    border: none;
    top: 0;
    :invalid {
      box-shadow: none;
    }
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}


.legend{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.legend-inner{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}

#initial-pos{
    background-color: blue;
  }
#other-pos{
    background-color: red;
  }

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
  flex: 1 0 auto;
}
