<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <div class="base--wrapper">
        <div class="base--body">
            <div class="base--ru-name {% if ru_vern|length > 24 %}base--ru-name-long{% endif %}">
                <h1>{{ ru_vern|capfirst }}</h1>
            </div>
            {# Scientific anme #}
            <div class="base--row">
                <div class="base--col-left">
                    <h4>Научное название</h4>
                </div>
                <div class="base--col-right">
                    <h3>{{ object.tu_id.genera_name|title }} {{ object.tu_id.species_name }}
                        {% if object.tu_id.infra_name %}
                            {{ object.tu_id.infra_mark }} {{ object.tu_id.infra_name }}
                        {% endif %}
                        {{ object.tu_id.author }}
                    </h3>
                </div>
            </div>
            {# Cultural name #}
            {% if object.tu_id.cult_name %}
            <div class="base--row">
                <div class="base--col-left">
                    <h4>Культивар (сорт)</h4>
                </div>
                <div class="base--col-right">
                    <h3>'{{ object.tu_id.cult_name }}'</h3>
                </div>
            </div>
            {% endif %}

            {# Order #}
            {% if ru_vern|length < 25 %}
            <div class="base--row">
                <div class="base--col-left">
                    <h4>Порядок</h4>
                </div>
                <div class="base--col-right">
                    <h3>{{ object.tu_id.family_col.col_order }}</h3>
                </div>
            </div>
            {% endif %}
            {# Family #}
            <div class="base--row">
                <div class="base--col-left">
                    <h4>Семейство</h4>
                </div>
                <div class="base--col-right">
                    <h3>{{ object.tu_id.family_col.col_family }}</h3>
                </div>
            </div>

            {# RedList #}
            {% if object.tu_id.redlistiucn.in_red_list %}
            <div class="base--row-center">
                <div>Вид занесен в международную красную книгу под категорией:</div>
                <div><h3>{{ object.tu_id.redlistiucn.category }} &ndash; {{ object.tu_id.redlistiucn.cat_interp }}</h3></div>
            </div>
            {% endif %}
        </div>
        <div class="base--footer">
            <div class="base--logo">
                <img class="base--logo--img" src="{{ logo }}" />
            </div>
            <div class="base--ind-id">
                <p>ID: {{ object.id }}</p>
            </div>
            <div class="base--qr-code">
                <img class="base--qr-code--img" src="data:image/svg+xml;ascii,{{qr}}" />
            </div>
        </div>
    </div>
</body>