<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <div id="wrapper">
        <div id="qr-code">
            <img src="data:image/svg+xml;ascii,{{qr}}">
        </div>

        <div id="text-col">
            <div id="sci-name">
                <p id="name" style="{% if base_name_size > 28 %}--name-size: 0.9em{% else %}--name-size: 1em{% endif %}">
                    {{ base_name_html|safe }}
                </p>
                {% if object.tu_id.author and object.tu_id.author != "None"%}
                    <p>
                        Автор: {{object.tu_id.author}}
                    </p>
                {% endif %}
            </div>

            {% if object.tu_id.cult_name %}
                <div id="cult-name" class="secondary-text">
                    <p>Культивар: <b>'{{ object.tu_id.cult_name }}'</b></p>
                </div>
            {% endif %}

            <div id="fam-name" class="secondary-text">
                <p>Семейство: <b>{{ object.tu_id.family_col.col_family }}</b></p>
            </div>

    </div>
  </div>


</body>
</html>