{% extends "base_templates/base_generic.html" %}

{% block title %}Внесение дополнительных данных{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "collection/css_bundles/non_oblig_info_form.min.css" %}">
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div id="full-heigh-row" class="row">
        <div class="col s12 m1 l2"></div>
            {# Form column #}
            <div class="col s12 m10 l8">
                <form id="add_nonoblig_form" action="" method="POST" name="add_nonoblig_form">
                    {% csrf_token %}
                    <input type="hidden" value="{{ tu_obj.id }}" name="tu_id">
                    <input id="delete-input" type="hidden" value="0" name="DELETE">
                    <div class="card z-depth-3">
                        {# Form title #}
                        <div id="form_title" class="card-content">
                            <span class="card-title">Внесение дополнительной информации</span>
                        </div>
                        {# Form subtitle #}
                        <div class="card-content">
                            <div id="card-subtitle" class="center">
                                <h6>
                                    Таксон: {{ tu_obj.html_str|safe }}
                                </h6>
                            </div>
                            {# Errors #}
                            <div class="form-error">
                                {{ vern_form.non_field_errors }}
                            </div>
                        </div>

                        <div class="v-1-spacer"></div>
                        {# Form fields #}
                        <div class="card-content">
                            <div class="row">
                                {# Category column #}
                                <div class="col s12 m12 l6">
                                    {% with field=non_oblig_form.category %}
                                    {% with label='Категория' datalist=non_oblig_cats %}
                                        {% include "forms_parts/materialize_text.html" %}
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                                {# Source column #}
                                <div class="col s12 m12 l6">
                                    {% with field=non_oblig_form.reference %}
                                    {% with label='Истончик' %}
                                        {% include "forms_parts/materialize_text_area.html" %}
                                    {% endwith %}
                                    {% endwith %}
                                </div>
                                {# Textarea column #}
                                <div id="ckeditor-col" class="col s12 m12 l12">
                                    <div>
                                    {% with field=non_oblig_form.info %}
                                        <textarea id="{{ field.auto_id }}" name="{{ field.html_name }}">
                                            {% if field.value %}{{ field.value }}{% endif %}
                                        </textarea>
                                    {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# Buttons #}
                        <div class="divider-margin"></div>

                        <div class="row form-row">
                            <div class="col s6 m6 l6 center-align">
                                <div id="delete-button">
                                    <a class="primaryAction waves-effect waves-light btn modal-trigger" href="#modal-delete">
                                        Удалить
                                    </a>
                                </div>
                            </div>
                            <div class="col s6 m6 l6 center-align">
                                <div id="action-button">
                                    <button class="primaryAction waves-effect waves-light btn" form="add_nonoblig_form"
                                            type="submit" name="action">
                                        Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col s12 m1 l2"></div>
    </div>

    <div id="modal-delete" class="modal">
        <div class="modal-content center">
            <h5>Вы уверены, что хотите удалить эту запись?</h5>
        </div>
        <div class="modal-footer">
            <div class="flex-row-space-around">
                <button class="waves-effect waves-green btn-flat" onclick="del_function()">ДА</button>
                <button class="modal-close waves-effect waves-green btn-flat">НЕТ</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block tail_import %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "collection/js_bundles/non_oblig_info_form.min.js" %}"></script>
{% endblock %}