@import "../NewTuForm_common/form_style";

#map {
  height: 500px;
}

#location-map {
  height: 500px;
}

.divider {
  margin-bottom: 15px !important;
}

select[required]:focus{
    outline: none !important;
}

select[required]{
    display: block;
    padding: 0;
    position: absolute;
    background: transparent;
    color: transparent;
    border: none;
    top: 0;
    :invalid {
      box-shadow: none;
    }
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}