<html lang="ru">
<head>
    <!-- Meat attributes -->
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}DBG IS{% endblock %}">
    <meta name="keywords" content="{% block keywords %}DBG, IS{% endblock %}">
    <meta name="author" content="{% block author %}Иван Стрельников{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>{% block title %}DBG IS{% endblock %}</title>

    <!-- Imports -->
    {% load static %}
    <link rel="shortcut icon" href="{% static "favicon/dbg_favicon.png"%}" type="image/png">
    <link rel="stylesheet"
        href="{% static "base_style/css_bundles/common.min.css" %}">

    <!-- Additional imports -->
    {% block head_import %}{% endblock %}
</head>
<body>
    <!-- Content -->
    <main>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </main>

    <footer class="page-footer">
        <div class="v-3-spacer"></div>
        <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h6 class="grey-text text-lighten-1 center">Задачи системы</h6>
                <ul>
                    <li class="grey-text text-lighten-1">
                        Упорядочить и унифицировать таксономическую информацию
                    </li>
                    <li class="grey-text text-lighten-1">
                        Обеспечить учет расположения особей в коллекциях
                    </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <h6 class="grey-text text-lighten-1 center">Ссылки:</h6>
                <ul>
                    <li class="grey-text text-lighten-1">
                        <a href="http://www.dbs.com.ru/">Официальный сайт ГУ "Донецкий ботанический сад</a>
                    </li>
                    <li class="grey-text text-lighten-1">
                        <a href="{% url 'admin:index' %}">Администрирование Информационной системы</a>
                    </li>
                </ul>
            </div>
        </div>
        {# Additional imports from pages #}
        {% block footer %}{% endblock %}
        </div>

        <div class="v-3-spacer"></div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 ГУ "ДБС"
            </div>
        </div>
    </footer>
    <!-- End imports -->
    <script src="{% static "base_style/js_bundles/common.min.js" %}"></script>
    {% block tail_import %}{% endblock %}
</body>
</html>