{% load static %}

<div id="navbar" class="{% if fixed %} navbar-fixed {% endif %}{% if extended or collection_search_ext %} nav-extended {% endif %}">

    {# Dropdowns #}
    <ul id="dropdown-collection" class="dropdown-content">
        <li><a href="{% url "collection_home" %}">Список таксонов</a></li>
        <li><a href="{% url "new_tu_form_1" %}">Добавить таксон</a></li>
    </ul>

    <ul id="dropdown-search" class="dropdown-content" data-constrainwidth="false">
        <li><a href="{% url "collection_fast_search" %}">Коллекции (Быстрый поиск)</a></li>
        <li><a href="{% url "collection_spatial_search" %}">Коллекции (Пространственный поиск)</a></li>
        <li><a href="{% url "collection_full_search" %}">Коллекции (Расширенный поиск) </a></li>
        {% if request.session.search_data %}
        <li class="divider"></li>
        <li><a href="{% url "collection_search_results" %}">Результаты предыдущего поиска</a></li>
        {% endif %}
    </ul>

    <ul id="dropdown-report" class="dropdown-content" data-constrainwidth="false">
        <li><a href="{% url "collection_report" target='full' %}">Коллекции (общий отчет)</a></li>
        {% if request.session.search_data %}
        <li><a href="{% url "collection_report" target='prev' %}">Коллекции (результаты поиска)</a></li>
        {% endif %}
        <li><a href="{% url "collection_income_outcome_report" %}">Коллекции (поступления / выпад)</a></li>
        <li class="divider"></li>
        <li><a href="#">Состояние базы</a></li>
    </ul>

    <ul id="dropdown-user" class="dropdown-content" data-constrainwidth="false">
        <li><a href="/accounts/profile/">Личный кабинет</a></li>
        <li class="divider"></li>
        <li><a href="/accounts/logout/">Выйти</a></li>
    </ul>

    <nav>
      <div class="nav-wrapper">
{#          <a href="/" class="brand-logo left"><img id="logo" src="{% static "misc_images/dbg_logo.min.svg" %}" alt="Logo"></a>#}
          {# Login / user profile #}
          <ul class="right">
          {% if user.is_authenticated %}
              <li>
                <div class="flex-row-center">
                    <a class="dropdown-trigger user-name" data-target="dropdown-user"
                       data-constrainwidth="false" href="#" data-namecap="{{ user|title|first }}">
                      {{ user }}<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </div>
              </li>
          {% else %}
              <li><a href="/accounts/login/">Войти</a></li>
          {% endif %}
          </ul>

          <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/">Главная</a></li>
              <li>
                  <a class="dropdown-trigger" data-target="dropdown-collection" href="#">
                      Коллекции<i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
              <li><a href="#">Флора</a></li>
              <li>
                  <a class="dropdown-trigger" data-target="dropdown-search" data-constrainwidth="false" href="#">
                      Поиск<i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
              <li>
                  <a class="dropdown-trigger" data-target="dropdown-report" data-constrainwidth="false" href="#">
                      Отчеты<i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
          </ul>
      </div>
        {% if extended %}
         <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab col s3"><a class="active" href="#tab1">Обзор</a></li>
                <li class="tab col s3"><a href="#tab2">Особи</a></li>
                <li class="tab col s3"><a href="#tab3">Изображения</a></li>
                <li class="tab col s3"><a href="#tab4">Дополнительная информация</a></li>
                <li class="tab col s3"><a href="#tab5">Внешние данные</a></li>
            </ul>
        </div>
        {%  endif %}
        {% if collection_search_ext %}
         <div class="nav-content">
            <ul id="search-tabs" class="tabs tabs-transparent">
                <li class="tab col s3"><a id="common-filter-tab" class="active" href="#tab1" data-count="0">Общие фильтры</a></li>
                <li class="tab col s3"><a id="tax-filter-tab" href="#tab2" data-count="0">Таксономия</a></li>
                <li class="tab col s3"><a id="eco-filter-tab" href="#tab3" data-count="0">Экология</a></li>
                <li class="tab col s3"><a id="spatial-filter-tab" href="#tab4" data-count="0">Пространственные фильтры</a></li>
            </ul>
        </div>
        {%  endif %}
    </nav>
</div>

<div class="sidenav" id="mobile-sidenav">
    <div class="no-padding">
        <ul id="sidenav-collapsible" class="collapsible collapsible-accordion">
            {% if user.is_authenticated %}
                <li>
                <div class="collapsible-header">
                    <span class="user-name" href="#" data-namecap="{{ user|title|first }}">
                      {{ user.get_name_abbr }}
                    </span>
                </div>
                </li>
                <li class="divider"></li>
            {% endif %}
            <li>
                <div class="collapsible-header">
                    <a class="no-padding waves-effect waves-teal" tabindex="0" href="/">Главная</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <span>Коллекция</span>
                </div>
                <div class="collapsible-body">
                    <div class="flex-col-start padding-left-2rem">
                        <a href="{% url "collection_home" %}">Список таксонов</a>
                        <a href="{% url "new_tu_form_1" %}">Добавить таксон</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <span>Флора</span>
                </div>
                <div class="collapsible-body">
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <span>Поиск</span>
                </div>
                <div class="collapsible-body">
                    <div class="flex-col-start padding-left-2rem">
                        <a href="{% url "collection_fast_search" %}">Коллекции (Быстрый поиск)</a>
                        <a href="{% url "collection_spatial_search" %}">Коллекции (Пространственный поиск)</a>
                        <a href="{% url "collection_full_search" %}">Коллекции (Расширенный поиск) </a>
                        {% if request.session.search_data %}
                        <a href="{% url "collection_search_results" %}">Результаты предыдущего поиска</a>
                        {% endif %}
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <span>Отчеты</span>
                </div>
                <div class="collapsible-body">
                    <div class="flex-col-start padding-left-2rem">
                        <a href="{% url "collection_report" target='full' %}">Коллекции (общий отчет)</a>
                        {% if request.session.search_data %}
                        <a href="{% url "collection_report" target='prev' %}">Коллекции (результаты поиска)</a>
                        {% endif %}
                        <a href="{% url "collection_income_outcome_report" %}">Коллекции (поступления / выпад)</a>
                        <a href="#">Состояние базы</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Navbar placeholder -->
<div id="nav-placeholder"></div>