@import "core/css/BaseStyle/variables";

#table-wrapper {
  height: 50vh;
  overflow: hidden;
}

#hs-table {
  margin: auto;
  height: 100%;
}

// Set material icon font size to 23px (prevent misalignment between row headers and rows)
a .material-icons{
  font-size: 21px;
}

// Custom cell renderer
.handsontable td.income {
  background-color: rgba(0, 128, 0, 0.3);
}

.handsontable td.outcome {
  background-color: rgba(255, 0, 0, 0.3);
}