{% extends "base_templates/base_generic.html" %}

{% block title %}Профайл особи{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "users_and_organization/css_bundles/common.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="center">
            <h1>Профайл пользователя</h1>
            <h2>Страница находится в разработке</h2>
            <h3>Не обращайте внимания, база функциональна и без этой страницы, просто перейдите
                на <a href="/">главную страницу</a> и продолжайте работу</h3>
            <h4>В дальнейшем здесь будут отображаться данные о сохраненных списках и фильтрах поиска,
                а также данные об активности пользователя</h4>
        </div>

        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ user.get_name_abbr }}</span>
            </div>
            <div class="v-3-spacer"></div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h6>Полное имя: {{ user.first_name|capfirst }} {{ user.second_name|capfirst }} {{ user.last_name|capfirst }}</h6>
                        <h6>Атрибутивная запись: {{ user.get_user_reference }}</h6>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12">
                        <h6>Сохраненные списки поиска</h6>
                        {% for elem in seach_lists %}
                            <div class="row">
                                <div class="col s12 m3 l2">
                                    <p>{{ elem.type }}</p>
                                </div>
                                <div class="col s12 m3 l2">
                                    <p>{{ elem.name }}</p>
                                </div>
                                <div class="col s12 m3 l2">
                                    <p>{{ elem.created }}</p>
                                </div>
                                <div class="col s12 m3 l6">
                                    <p>{{ elem.search_query }}</p>
                                </div>
                            </div>
                            <div class="divider-margin"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <div class="col s12 m1 l2"></div>
    </div>
{% endblock %}


{% block tail_import %}
{#    <script src="{% static "collection/js_bundles/individual_profile.min.js" %}"></script>#}
{% endblock %}