@import "core/css/BaseStyle/variables";

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#title {
  h1 {
    font-size: x-large;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: large;
    font-weight: 300;
  }
}

#map {
  height: 70vh;
  width: 100%;
}

// Tweak Layer control
#map .leaflet-control-layers-toggle {
  background-image: revert;
  height: 44px;
  width: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:after {
    content: 'Слои';
    font-size: medium;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
  }
}

#map a.leaflet-control {
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 5px;
  background-clip: padding-box;
  background-color: white;
  min-height: 44px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}