@import "../NewTuForm_common/form_style";

.round-btn{
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #FF9900;
  color: black;
  font-size: 1.2em;
  font-weight:bold;
  margin-left: auto;
  &:hover{
    background-color: lighten(#FF9900, 10%);
  }
}

.del-btn-wrapper{
  padding-top: 20px;
}

.hidden{
  display: none;
}

.round-btn-del{
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  color: black;
  font-size: 1.2em;
  font-weight:bold;
  margin-left: auto;
  &:hover{
    background-color: lighten(lightgray, 10%);
  }
  @media (max-width: 320px) {
    height: 35px;
    width: 35px;
  }
  @media (max-width: 480px) {
    height: 40px;
    width: 40px;
  }
  @media (max-width: 680px) {
    height: 45px;
    width: 45px;
  }
}