{% extends "base_templates/base_generic.html" %}

{% block title %}Новая особь внесена в базу{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        {# Retain css from new_tu conformation form#}
        href="{% static "collection/css_bundles/new_tu_form_acc.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
    <div class="col s12 m1 l2"></div>
    <div class="col s12 m10 l8">
        <div class="card z-depth-3">
            <div id="form_title" class="valign-wrapper card-content text">
                <span class="card-title">Новая особь внесена в базу</span>
            </div>
            <div id="info-content" class="card-content">
                <p class="small-accent">Внесенные Вами данные прошли все проверки и были успешно добавлены в базу данных</p>
                <p class="small-accent">Новая особь для таксона:</p>
                <p class="big-accent">{{ ind_mod.tu_id.full_html_name|safe }}</p>
                <p class="small-accent">зарегестрирована под идентификационным номером:</p>
                <p class="big-accent">{{ ind_mod.id }}</p>
            </div>
            <!-- Place buttons in separate columns -->
            <div class="card-action">
                <div class="center">
                    <p>Далее Вы можете перейти к профайлу вновь добавленной особи -- кнопка "профайл особи";</p>
                    <p>внести еще онду особь -- кнопка "новая особь";</p>
                    <p>или вернуться к профайлу таксона -- кнопка "профайл таксона"</p>
                </div>
                <div class = "row">
                    <div class="col s12 m12 l4">
                        <a class="waves-effect waves-light btn-large"
                           href="/collections/{{ ind_mod.tu_id.id }}/{{ ind_mod.id }}">Профайл особи</a>
                    </div>
                    <div class="col s12 m12 l4">
                        <a class="waves-effect waves-light btn-large"
                           href="/collections/new-individual/{{ ind_mod.tu_id.id }}">Новая особь</a>
                    </div>
                    <div class="col s12 m12 l4">
                        <a class="waves-effect waves-light btn-large"
                           href="/collections/{{ ind_mod.tu_id.id }}">Профайл таксона</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m1 l2"></div>
    </div>
{% endblock %}


{% block tail_import %}
    <!--<script src="{% static "collection/js_bundles/new_tu_form_conf.min.js" %}"></script>-->
{% endblock %}