{% extends "base_templates/base_generic.html" %}

{% block title %}Быстрый поиск{% endblock %}

<!-- Imports -->
{% load static %}
{% block head_import %}
    <link rel="stylesheet"
        href="{% static "search/css_bundles/fast_search.min.css" %}">
{% endblock %}

<!-- Content -->
{% block content %}
    {# Navbar #}
    {% with fixed=True %}
    {% include "base_templates/navbar.html" %}
    {% endwith %}

    <div class="row">
        <div class="col s12 m1 l2"></div>
        {# Central column #}
        <div class="col s12 m10 l8">
            {# Search bar #}
            <div class="search-bar-wrapper input-field">
                <input id="search-input" minlength="3" name="query"
                       placeholder="{% if target %}{{target}}{% endif %}"
                       value="{% if target %}{{target}}{% endif %}"
                       type="search">
                <button id="search-button" onclick="fast_search()">
                    <svg viewbox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </button>
            </div>
            {% for obj in res %}
                {# Link (archon = matched html name) #}
                <div class="search-res-item flex-col-start">
                    <a class="matched-link" href="{% url 'tu_profile' obj.id %}">
                        <h5>{{ obj.html|safe }}</h5>
                    </a>
                    {# Tag for matched name type (base, synonym, vernacular) #}
                    {# and arrow to base name #}
                    <div class="search-explanation-wrapper">
                        {% if obj.table == "tu" %}
                        <div class="tu-tag p-demargin"><p>Базионим таксона</p></div>
                        {% elif obj.table == "syn" %}
                            <div class="syn-tag p-demargin"><p>Синоним таксона</p></div>
                        {% else %}
                            <div class="vern-tag p-demargin"><p>Вернакуляр таксона</p></div>
                        {% endif %}

                        <div><i class="material-icons black-text">chevron_right</i></div>
                        <div class="tu-tag-light p-demargin"><p>{{ obj.full_html_name|safe }}</p></div>
                    </div>
                </div>

                <div class="divider-margin"></div>
                {% empty %}
                    {% if target %}
                        <div class="center">
                            <h6>По запросу <b>{{ target }}</b> не найдено ни одного подходящего совпадения.</h6>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
        <div class="col s12 m1 l2"></div>
    </div>
    <script>
        var fast_search_url = '{% url "collection_fast_search" %}';
    </script>
{% endblock %}


{% block tail_import %}
    <script src="{% static "search/js_bundles/fast_search.min.js" %}"></script>
{% endblock %}