@import "../../../core/css/BaseStyle/variables";

.material-icons.mi-gray { color: #6e6e6e; }
.material-icons.mi-green { color: #1ea82f; }
.text-positive { color: $secondary-color; }
.text-negative { color: #c21311; }

// NavTabs styling =====================================================================================================
.tabs {
  background-color: $primary-color !important;
}

.vertical-placeholder {
  height: 2000px;
  background-color: lightblue;
}

// Header styling =====================================================================================================
.header {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: lighten($secondary-color, 55%);
}

#tu-name-title {
  font-size: x-large;
  margin: 1rem 0 1rem 0;
  font-weight: 400;
}

#info-markers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.marker{
  display: flex;
  @media (max-width: 500px) {
    flex-direction: column;
    padding-right: 1rem;
  }
  @media (min-width: 500px) {
    flex-direction: row;
    p {
      padding-right: 1rem;
    }
  }
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 1rem;
  p {
    text-align: center;
    margin: 0;
  }
}
// Tab body ============================================================================================================
.tab-content{
  padding-top: 1rem;
}

.full-height {
  height: 100%;
}

.edit-button-inline {
  background-color: white;
  color: grey;
  .material-icons {
    color: grey;
    :hover {
      color: white;
    }
  }
}

.flex-row-space-around {
  > p {
    margin-top: 0;
  }
}

// Tab 1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.tab1-img-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#tab1-img {
  width: 100%;
  max-height: 500px;
  padding-top: 1rem;
}

#tab1-img-cap p{
  margin: 0;
}

#tab1-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-text{
  font-size: larger ;
}

.secondary-title {
  font-size: large !important;
}

// Vernaculars
#vern-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#vern-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vern-item {
  background-color: lightgrey;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.vern-edit{
  align-self: flex-end;
  justify-self: flex-end;
}

// Taxons
#taxonomy-wrapper {
  display: flex;
  flex-direction: row;
}

.taxonomy-item {
  display: flex;
  flex-direction: column;
  > div {
    padding: 0.2rem;
    margin: 0.1rem;
  }
}

#taxon-names-list {
  flex-grow: 1;
  > div {
    background-color: lighten($secondary-color, 55%);
    padding: 0.2rem;
    border-radius: 5px;
    margin: 0.1rem;
    min-width: fit-content;
    max-width: 20%;
    font-weight: 500;
    text-align: center;
  }
  @for $i from 1 through 5 {
    :nth-child(#{$i}) {
      margin-left: 15% * ($i - 1);
    }
  }
}

// Base info

.base-info-wrapper {
  display: flex;
  flex-direction: column;
}

.base-info-item{
  display: flex;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  @media (min-width: 500px) {
    flex-direction: row;
  }
  width: 100%;
}

.base-info-col1 {
  min-width: 40%;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 0.1rem;
}

.base-info-col2 {
  flex-grow: 1;
  text-align: center;

  border-bottom: solid 1px lightgrey;
  margin-bottom: 0.1rem;
}

// Flexible rows and columns ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.tab1-flex-row {
  display: flex;
  @media (max-width: 992px) {
    flex-direction: column;
  }
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.tab1-item {
  flex-grow: 1;
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (min-width: 992px) {
    width: 49%;
  }

  padding-right: 0.5em;
}

.tab1-item-wide {
  flex-grow: 1;
  width: 100%;
}

// Tab 2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#tab2-title {
  font-size: x-large;
  font-weight: 300;
}

.small-title-narrow {
  font-size: larger;
  font-weight: 300;
}

#box-dead {
  background-color: #dc7963;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#box-alive {
  background-color: #69b3a2;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

// Map styling
#ind-map {
  @media (max-width: $break-medium) {
    height: 70vh;
  }
  @media (min-width: $break-medium) and (max-width: $break-large) {
    height: 65vh;
  }
  @media (min-width: $break-large) {
    height: 50vh;
  }
}

.leaflet-tooltip-style{
    background: none;
    border: 0;
    text-shadow: 0 0 0.1rem white;
    box-shadow: none;
    &:before {
      display: none;
    }
}

// Tab 3
// Overwrite paths
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url(/static/photoswipe/default-skin.png) 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px; }

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url(/static/photoswipe/default-skin.svg); }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none; } }

.pswp__preloader--active .pswp__preloader__icn {
    /* We use .gif in browsers that don't support CSS animation */
    background: url(/static/photoswipe/preloader.gif) 0 0 no-repeat; }

// Massonry
.grid-item {
  height: 250px;
}

.grid-item img {
  max-height: 100%;
  padding: 0.1rem;
}

.grid{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0 1rem 1rem 1rem;
}

.pswp__caption__center {
  max-width: 100% !important;
}

.img-caption {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  > p {
    margin: 0;
  }
  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    > p{
      margin: 0;
    }
    > i{
      margin: 0;
      padding-left: 1rem;
    }
  }
}

// Tab 4 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#cenotype-wrapper {
  margin-top: 2rem;
  display: flex;
  @media (max-width: 500px) {
    flex-direction: column;
  }
  @media (min-width: 500px) {
    flex-direction: row;
  }
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#cenotype-list {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  > p {
    margin-left: 0.2rem;
    background-color: lighten($secondary-color, 55%);
    padding: 0.25rem;
    border-radius: 0.5rem;
  }
  align-items: center;
  justify-content: center;
}

.text-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  p {
    color: $primary-color-dark;
  }
}

.text-divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: $primary-color-dark;
  margin-left: 0.25rem;
}

.nonobl-info-wrapper {
  display: flex;
  flex-direction: column;
}

.nonobl-info-ref {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nonobl-info-ref-right {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    font-style: italic;
}
// Tab 5 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#distribution-map-country{
  max-width: 100%;
}