@import "variables";

// Form content
form{
  .card-content:not(:first-child){
    padding-bottom: 0;
    padding-top: 0;
    .row{
      margin-bottom: 10px;
    }
    .divider{
      height: 2px;
      margin-bottom: 5px;
      background-color: $secondary-color !important;
    }
    .card-title{
      margin-bottom: 0;
      font-weight: 500;
      font-size: larger;
    }
  }
  .card-content:first-child{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lighten($secondary-color, 25%);
    .card-title{
      margin-bottom: 0;
    }
  }
  #action-button{
    padding-bottom: 15px;
  }
}

.hidden{
  display: none;
}

// Errors placeholder
#errors{
  color: red;
}

// Loader spinner
.loader-overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    left: 0;
    opacity: 0.9;
    z-index: 12;
}

.loader-inner {
    position: relative;
    top: 45%;
    z-index: 15;
}