/* Variables */
$secondary-color: #2a6041;
$switch-bg-color: $secondary-color !default;
$switch-checked-lever-bg: desaturate(lighten($switch-bg-color, 25%), 25%) !default;
$input-border-color: darken(gray, 15%);
