@import "../NewTuForm_common/form_style";

$break-medium: 600px;
$break-large: 992px;
$break-xlarge: 1200px;

/* Hierarchy list stiling */
.clt{
  & ul li{
    position: relative;
    margin: 0 auto;
  }

  // Set displacement of each new row (except root)
  ul:not(.root-ul){
    list-style: none;
    padding-left: 32px;
  }

  // Set positioning of before, after elements
  li{
    &:before{
      content: "";
      position: absolute;
      left: -18px;
    }
    &:after{
      content: "";
      position: absolute;
      left: -18px;
    }
  }

  // Horizontal line
  li:not(.root-li)::before{
    border-top: 1px solid #000;
    top: 11px;
    width: 15px;
    height: 0;
    margin-right: 3px;
  }

  // Vertical line
  li:not(.root-li)::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
  }

  ul > li:last-child::after{
    height: 10px;
  }
}


// Make columns equal size in row with flex
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-center{
  justify-content: center;
  align-content: center;
}


// Check icon styling
.check{
  &-true, &-false, &-none{
    @media screen and (max-width: $break-medium) {
      font-size: 2rem;
    }
    @media screen and (min-width: $break-medium) and (max-width: $break-large) {
      font-size: 4rem;
    }
    @media screen and (min-width: $break-large) and (max-width: $break-xlarge){
      font-size: 5rem;
    }
    @media screen and (min-width: $break-xlarge){
      font-size: 6rem;
    }
  }

  &-true{
    color: lighten($secondary-color, 50%);
  }
  &-false{
    color: lighten(red, 40%);
  }
  &-none{
    color: lighten(#FF9900, 30%)
  }
}

// minor divider
.divider-minor{
  border-bottom: 1px solid #e0e0e0;
}

.wide{
  width: 100%;
}

.flex-relative{
  position: relative;
}

// Red List map container
.redlist-map{
  width: 100%;
  height: auto;
}

.large-text{
  font-size: larger;
  font-weight: 500;
}

// Style placement of category title .responsive-right
.responsive-right{
    @media screen and (max-width: $break-medium) {
      text-align: center;
      font-weight: 500;
      margin-top: 10px !important;
    }

    &:not(.no-border){
        @media screen and (max-width: $break-medium) {
          border-top: 1px solid #e0e0e0;
        }
      }
    @media screen and (min-width: $break-medium) {
      text-align: right;
      margin-top: 10px !important;
    }
}

.responsive-left{
    @media screen and (max-width: $break-medium) {
      text-align: center;
    }
    @media screen and (min-width: $break-medium) {
      text-align: left;
      margin-top: 10px !important;
    }
}

.vertical-10-space{
  margin-top: 10px !important;
  margin-botom: 10px !important;
  padding-bottom: 10px !important;
}

// Style Card title (add transparent dark background)
.card-image .card-title{
  color: black;
  mix-blend-mode: difference;
  filter: grayscale(100%) contrast(30%);
}
