// Align chart title with download button
.chart-title {
  padding-bottom: 1rem;
}

.chart-download i {
  cursor: pointer;
}


// Set charts sizing
.chart-wrapper-0 {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.chart-wrapper-1 {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.chart-wrapper-2 {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

// Set maps sizing
.leaflet-map {
  width: 100%;
  height: 60vh;
}

// Handsontable styling

.hs-table {
  height: 100%;
  table {
    font-size: 1.3rem;
  }
}
