@import "../../../core/css/BaseStyle/variables";

.search-explanation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: medium;
  }
}

.tu-tag {
  background-color: $tag-tu-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.tu-tag-light {
  background-color: lighten($tag-tu-color, 20%);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.syn-tag {
  background-color: $tag-syn-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.vern-tag {
  background-color: $tag-vern-color;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.matched-link {
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

/** Search bar */
.search-bar-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  //max-width: 600px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-bar-wrapper input {
  border: solid #ccc !important;
  border-width: 1px 0 1px 1px !important;
  border-radius: 2px 0 0 2px !important;
  //flex: 1 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  height: 33px !important;
  margin: 0 !important;
  min-width: 90px !important;
  width: 50% !important;
  padding: 5px !important;
  -webkit-appearance: textfield !important;
  color: black !important;
  &::placeholder {
    color: black !important;
    opacity: 100% !important;
  }
}

.search-bar-wrapper button {
  border: none;
  cursor: pointer;
  height: 45px;
  padding: 0;
}

.search-bar-wrapper svg {
  background-color: white;
  border: solid #ccc !important;
  border-width: 1px 1px 1px 0 !important;
  border-radius: 0 2px 2px 0;
  fill: #4285f4;
  height: 45px;
  min-width: 45px;
  padding: 0 7px;
  width: 24px;
}

.search-bar-wrapper svg:hover {
  background-color: white;
  fill: #4285f4;
}

@media all and (min-width: 500px) {
  .search-bar-wrapper label {
    display: inline;
  }
  .search-bar-wrapper input::placeholder {
    opacity: 0;
  }
}

