@import "../NewTuForm_common/form_style";

#full-heigh-row {
  min-height: 75vh;
}

.vern-item {
  background-color: lightgrey;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: 5px;
}

.equal-col {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
}

.vern-dell-btn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleted {
  background-color: rgba(247, 105, 95, 0.35);
}

.del-message {
  color: #be0000;
}