@import "core/css/BaseStyle/variables";

// NavTabs styling =====================================================================================================
#search-tabs {
  background-color: $primary-color;
}

#header {
  padding-top: 48px;
}

// Add circles with `data-count` values after each tab a element
.tab {
  a::after {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: attr(data-count);
    background-color: white;
    color: $primary-color;;
    font-size: large;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    margin-left: 1rem;
  }
}

#send-btn-row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

#map {
  height: 70vh;
  width: 100%;
}

// Tweak Layer control
#map .leaflet-control-layers-toggle {
  background-image: revert;
  height: 44px;
  width: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:after {
    content: 'Слои';
    font-size: medium;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
  }
}

#map a.leaflet-control {
  border: 2px solid rgba(0,0,0,.2);
  border-radius: 5px;
  background-clip: padding-box;
  background-color: white;
  min-height: 44px;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
  padding: 5px;
  display: flex;
  &:hover {
    cursor: pointer;
  }
}